@import '../../styles/core-mixins';

.ImportSource {
  @include flexColCenter;
}

.ImportSource-subtitle {
  font-size: 12px;
  text-align: center;
}

.ImportSource-locations {
  @include fullWidth;
  @include flexRowCenter;
}

.ImportSource-location {
  margin: 50px;
  position: relative;
}

.ImportSource-location-overlay {
  @include flexRowCenter;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.ImportSource-cloud-services {
  @include flexRowCenter;
  margin-top: 10px;
}

.ImportSource-cloud-service {
  &:not(:last-child) { margin-right: 20px; }
  height: 25px;
  filter: grayscale(100%) opacity(50%);
  &:hover { filter: none; }
}
