@import '../../styles/core-mixins';

.ImportFinder {
  @include flexColCenter;
}

.ImportFinder-body {
  @include flexRowCenter;
  width: 100%;
  margin-top: 30px;
}

.ImportFinder-finder {
  width: 37.5%;
  height: 45vh;
  border-radius: 3px;
  border: 1px solid $zorroa-lightgray;
}

.ImportFinder-shifters {
  @include flexColCenter;
  margin-left: 30px;
  margin-right: 30px;
}

.ImportFinder-shifter {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 6px;
  border-radius: 3px;
  @include flexRowCenter;
  background-color: $zorroa-sickly-green;
  color: white;
  font-size: 16px;
  cursor: pointer;

  &.flip { transform: rotate(90deg); }
  &:hover { background-color: $zorroa-gray; }
  &.disabled { background-color: $zorroa-lightgray; }
}

.ImportFinder-added {
  @include flexCol;
  width: 37.5%;
  height: 45vh;
  border: 1px solid $zorroa-lightgray;
  border-radius: 3px;
}

.ImportFinder-added-files {
  @include flexCol;
  @include flexOn;
  overflow: auto;
  border-top: 1px solid $zorroa-nearwhite;
  border-bottom: 1px solid $zorroa-nearwhite;
}

.ImportFinder-added-file {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include nowrap;
  @include clampText;
  padding: 4px 8px;
  color: $zorroa-greyish-brown;
  min-height: 25px;
  &:nth-child(odd) { background-color: $zorroa-nearwhite; }
  &:not(.selected):hover { background-color: $zorroa-hover; }
  &.selected { background-color: $zorroa-selected; }
}

.ImportFinder-added-icon {
  margin-right: 6px;
  color: $zorroa-lightgray;
}

.ImportFinder-added-filter {
  @include flexRow;
  @include flexAlignItemsCenter;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: gray;
}

.ImportFinder-added-icon {
  margin-right: 4px;
}

.ImportFinder-added-empty {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 22px;
  align-self: center;
  @include flexColCenter;

  background-color: rgba(200,200,200,1);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  padding-bottom: 50px;
}

.ImportFinder-added-empty-icon {
  padding: 6px;
  border-radius: 3px;
  border: 1px solid $zorroa-lightgray;
  @include flexRowCenter;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ImportFinder-start {
  @include flexRowCenter;
  padding: 40px;
}
