@import '../../styles/core-mixins';

.Import {
  background-color: white;
  @include flexCol;
  border-radius: 3px;
}

.Import-intro {
  div {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 300;
    color: $zorroa-greyish-brown;
  }
}

.Import-header {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  padding: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid $zorroa-nearwhite;
}

.Import-footer {
  @include flexRowCenter;
  padding: 30px;
  border-top: 1px solid $zorroa-nearwhite;
  font-size: 12px;
  color: $zorroa-lightgray;
}

.Import-footer-lead {
  color: $zorroa-gray;
  margin-right: 0.5em;
}

.Import-title {
  @include flexRowCenter;
  font-weight: 500;
  font-size: 22px;
  color: $zorroa-greyish-brown;
  margin-bottom: 20px;
}

.Import-step {
  color: $zorroa-sickly-green;
  margin-right: 0.5em;
}

.Import-back {
  @include flexRowCenter;
  align-self: flex-start;
  color: $zorroa-lightgray;
  text-transform: uppercase;
  margin-left: 50px;
  min-height: 1.5em;
  &:hover { color: $zorroa-sickly-green; }
  div { margin-right: 4px; }
  cursor: pointer;
}

.Import-button {
  font-size: 12px;
  padding: 10px 20px;
  background-color: $zorroa-sickly-green;
  color: $zorroa-nearwhite;
  border-radius: 3px;
  text-transform: uppercase;
  pointer-events: auto;
  text-decoration: none;
  cursor: pointer;
  @include nowrap;

  &:hover:not(.disabled) { background-color: $zorroa-gray; }
  &.disabled { background-color: $zorroa-lightgray; }
}

.Import-header-right {
  @include flexRowCenter;
}

.Import-cancel {
  &:hover { color: $zorroa-sickly-green; }
}
