@import '../../styles/core-mixins';

.LocalChooser {
  padding-top: 40px;
  @include flexColCenter;
}

.LocalChooser-body {
  margin-top: 20px;
  @include fullWidth;
}

.LocalChooser-start {
  @include flexRowCenter;
  margin-top: 40px;
  margin-bottom: 40px;
}

.LocalChooser-activity-region {
  height: 240px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  @include flexCol;
}

$dropcolor: rgba(115, 182, 28, 0.1);

.LocalChooser-uploads {
  @include flexOn;
  position: relative;
  padding: 4px;       // Space for dropzone to get enter/leave
  margin-bottom: 10px;
  overflow: auto;
  border-radius: 3px;

  border: 1px dashed $zorroa-lightgray;
  &.isDraggable { border: 1px solid $zorroa-lightgray; }
}

.LocalChooser-uploads-dropzone {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: transparent;
  background-color: none;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 3px;

  @include flexCol;
  @include flexJustifyCenter;
  @include flexAlignItemsCenter;

  &.isDroppable {
    z-index: 100;   // Let cancel sneak through, but override when dropping
    color: white;
    background-color: $zorroa-dropzone;
  }
}

.LocalChooser-upload {
  border: none;
  margin-top:0;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  @include nowrap;
}

.LocalChooser-upload-size {
  width: 1px;
  @include nowrap;
  text-align: right;
}

.LocalChooser-upload-progress {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifyEnd;
  width: 60px;

  progress {
    @include flexOn;
  }

  progress[value] {
    @include fullWidth;
    -webkit-appearance: none;
    height: 3px;
    background: none;
  }

  progress[value]::-webkit-progress-bar {
    background-color: $zorroa-lightgray;
  }

  progress[value]::-webkit-progress-value {
    color: transparent;
    background-color: $zorroa-gray;
  }
}

.LocalChooser-dropzone {
  @include flexCol;
  @include flexAlignItemsCenter;
  @include flexJustifyCenter;
  @include fullHeight;

  background-color: $dropcolor;
  border-radius: 3px;
  border: 1px dashed $zorroa-sickly-green;

  font-size: 24px;
  margin-bottom: 8px;
  padding-top: 50px;

  color: $zorroa-lightgray;
  text-transform: uppercase;

  &.isDroppable {
    color: white;
    background-color: $zorroa-dropzone;
    border: 1px solid $zorroa-sickly-green;
  }
}

.LocalChooser-dropzone-label {
}

.LocalChooser-dropzone-options {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifyCenter;

  margin-top: 20px;
  margin-bottom: 30px;

  .isDroppable & {
    visibility: hidden;
  }
}

.LocalChooser-dropzone-option-label {
  color: $zorroa-lightgray;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 10px;
}

.LocalChooser-dropzone-select-file {
  @include flexRow;
  @include flexJustifyCenter;
}

.LocalChooser-dropzone-select-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.LocalChooser-dropzone-select-file-label {
  color: white;
  background-color: $zorroa-lightgray;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-size: 12px;
  min-height: 20px;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $zorroa-sickly-green;
  }
}

.LocalChooser-upload-table {
  @include fullWidth;
  color: $zorroa-greyish-brown;
  border-collapse: collapse;
  position: relative;

  .icon-cancel-circle {
    font-size: 10px;
    color: $zorroa-lightgray;
    cursor: pointer;

    &:hover {
      color: $zorroa-faded-red;
    }
  }

  td {
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
  }

  tr:nth-child(even) {
    background-color: $zorroa-nearwhite;
  }
}

.LocalChooser-upload-status {
  width: 1px;
  @include nowrap;
}

.LocalChooser-upload-cancel {
  width: 1px;
  @include nowrap;
}

.LocalChooser-upload-name {
  @include nowrap;
}

.LocalChooser-upload-type {
  width: 1px;
  @include nowrap;
}

.LocalChooser-similar {
  @include flexRowCenter;
}

.LocalChooser-similar-label {
  margin-left: 4px;
  color: $zorroa-gray;
}
