@import '../../styles/core-mixins';

.ServerPathChooser {
  border-radius: 3px;
  border: 1px solid $zorroa-nearwhite;
  margin-bottom: 10px;
  height: 100%;
  overflow: auto;

  @include flexRow;
  @include flexAlignItemsCenter;
  @include fullWidth;
  @include flexOn;
}

.ServerPathChooser-title {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  @include fullWidth;
  color: white;
  background-color: cornflowerblue;
  padding: 6px;
  min-height: 25px;
  border-bottom: 1px solid $zorroa-nearwhite;
}

.ServerPathChooser-title-left {
  @include flexRowCenter;
}

.ServerPathChooser-title-label {
  margin-left: 8px;
}

.ServerPathChooser-wait {
  width: 72px;
  align-self: center;
}

.ServerPathChooser-file {
  @include flexRow;
  @include flexAlignItemsCenter;
  color: $zorroa-greyish-brown;
  height: 1.25em;
  min-height: 1.25em;

  &.selected {
    background-color: $zorroa-selected;
  }
}

.ServerPathChooser-file-icon {
  @include flexRowCenter;
  padding: 6px;
  color: $zorroa-gray;
}

.ServerPathChooser-logout {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  &:hover { color: $zorroa-lightgray; }
}

.ServerPathChooser-icon {
  margin-right: 4px;
  width: 14px;
}
