@import '../../styles/core-mixins';

.TutorialVideos {
  @include flexColCenter;
}

.TutorialVideos-cancel {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}

.TutorialVideos-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.TutorialVideos-footer {
  margin-top: 30px;
  font-size: 16px;
  color: $zorroa-gray;
}

.TutorialVideos-dismiss {
  @include flexRowCenter;
  margin-top: 40px;
  margin-bottom: 40px;
}

.TutorialVideos-dismiss-button {
  font-size: 12px;
  padding: 10px 20px;
  background-color: $zorroa-nearwhite;
  color: $zorroa-gray;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover { background-color: $zorroa-lightgray; }
}
