@import '../../styles/core-mixins.scss';

.Importer {
  @include flexCol;
  @include fullWidth;

  background-color: $zorroa-greyish-brown; // $grayish-brown
  position:fixed;
  left:0;
  top:0;
  height: 100vh;
  width: 100vw;

  // z-index was added to prevent the "imports" animated gif (z-index:1) in Assets|header
  // from appearing above the lightbox.
  z-index: 10;
}

.Importer-body {
  @include flexCol;
  padding: 10px;
}

.Importer-controls {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  padding-top: 8px;
  padding-bottom: 12px;
}

.Importer-filter {
  position: relative;
  width: 200px;
  margin-left: 10px;
}

.Importer-filter-input {
  @include fullWidth;
  background: none;
  background-color: red;
  background-color: $zorroa-lightgray;
  padding-left: 8px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
}

.Importer-filter-icon {
  position: absolute;
  right: 4px;
  top: 6px;
  color: $zorroa-gray;
}

.Importer-retry {
  @include flexRowCenter;
  color: white;
  cursor: pointer;
  background-color: $zorroa-navy-blue;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;

  &:hover { background-color: lighten($zorroa-navy-blue, 15%); }
}

.Importer-retry-icon {
  margin-right: 4px;
}

.Importer-timeseries {
}

.Importer-errors {
  @include flexRow;
}

.Importer-zebra {
  cursor: pointer;
  background-color: #f1f1f1;
  padding-top: 4px;
  padding-bottom: 4px;

  .dark & { background-color: $zorroa-mattblack; }
  &:nth-child(even) {
    background-color: white;
    &.isSelected {
      background-color: $zorroa-selected;
      .dark & { background-color: $zorroa-dark-selected; }
    }
    .dark & { background-color: black; }
  }

  &:hover:not(.isSelected) {
    background-color: $zorroa-hover;
    .dark & { background-color: $zorroa-dark-hover; }
  }

  &.isSelected {
    background-color: $zorroa-selected;
    .dark & { background-color: $zorroa-dark-selected; }
  }
}

.Importer-opener {
  color: $zorroa-whitegray;
  @include zorroa-btn(20px, 20px, transparent, $zorroa-dimgray);
  margin-left: 8px;
  margin-right: 4px;
  transform: rotate(-90deg);
  &.isOpen { transform: none; }
}

.Importer-error {
  @include flexRow;
  @include flexAlignItemsCenter;
}

.Importer-error-pie {
  width: 20vw;
}

.Importer-error-list {
  @include flexOn;
}

.Importer-error-description {
  @include flexCol;
  margin: 10px;
}

.Importer-error-description-title {
  color: $zorroa-whitegray;
  margin: 4px;
  text-transform: uppercase;
}

.Importer-error-description-body {
  @include flexOn;
  width: 35vw;
  border-radius: 3px;
  color: $zorroa-whitegray;
  background-color: $zorroa-darkgray;
  padding: 4px;
}

.Importer-error-exception {
  color: $zorroa-whitegray;
}

.Importer-pipelines {
  @include flexRow;
}

.Importer-processors {
  @include flexOn;
}

.Importer-processor-args {
  @include flexCol;
  @include flexJustifyEnd;
  margin: 10px;
}

.Importer-processor-args-title {
  color: $zorroa-whitegray;
  margin-left: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.Importer-processor-args-controls {
  @include flexRow;
  @include flexAlignItemsEnd;
  @include flexJustifySpaceBetween;
}

.Importer-processor-args-save {
  @include flexRowCenter;
  color: white;
  cursor: pointer;
  background-color: $zorroa-navy-blue;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
  margin-right: 30px;
  margin-bottom: 8px;
  &:hover { background-color: lighten($zorroa-navy-blue, 15%); }
}

.Importer-processor-args-body {
  @include flexOn;
  width: 35vw;
  border-radius: 3px;
  color: $zorroa-whitegray;
  background-color: $zorroa-darkgray;
  padding: 4px;
}


.Importer-processor-args {
  width: 35vw;
}

.Importer-processor {
  @include flexRow;
  @include flexAlignItemsCenter;
}

.Importer-processor-name {
  color: $zorroa-whitegray;
}

.Importer-add-processor {
  color: white;
  @include zorroa-btn(24px, 24px, $zorroa-sickly-green, $zorroa-hover-green);
  border-radius: 12px;
}

.Importer-tasks {
}

.Importer-task {
  @include flexRow;
  @include flexAlignItemsCenter;
  padding-left: 8px;
}
