@import '../../styles/core-mixins.scss';

.AssetPermissions {
  @include flexColCenter;
}

.AssetPermissions-header {
  @include fullWidth;
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  text-transform: uppercase;
  padding: 10px;
  background-color: black;
  color: white;
}

.AssetPermissions-body {
  @include flexOn;
  @include flexColCenter;
  @include fullWidth;
}

.AssetPermissions-controls {
  @include flexRowCenter;
  @include fullWidth;
  margin-top: 20px;
  border-top: 1px solid $zorroa-nearwhite;
  padding: 20px;
}

.AssetPermissions-apply {
  font-size: 14px;
  padding: 7pt 24px 7pt 24px;
  color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  margin: 10px;
  cursor: pointer;
  background-color: $zorroa-sickly-green;
  text-transform: uppercase;
  @include nowrap;
  &.disabled { background-color: $zorroa-lightgray; }
  &:hover:not(.disabled) { background-color: $zorroa-hover-green; }
  &:active:not(.disabled) { background-color: $zorroa-water-blue; }
}

.AssetPermissions-cancel {
  font-size: 14px;
  padding: 7pt 24px 7pt 24px;
  color: $zorroa-greyish-brown;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  @include nowrap;
  &:hover:not(.disabled) { color: white; background-color: $zorroa-gray; }
}
