{
  "extends": ["plugin:react/recommended", "standard"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "xit": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true,
    "React": true,
    "DEBUG": true,
    "PROD": true
  },
  "rules": {
    // NB: Only disabling rules that have no effect on code safety
    "comma-spacing": 0,
    "key-spacing": 0,
    "no-multi-spaces": 0,
    "no-multiple-empty-lines": 0,
    "standard/array-bracket-even-spacing": 0,
    "standard/object-curly-even-spacing": 0
  }
}
