@import '../../styles/core-mixins.scss';

.ContextMenu {
  display: flex;
  background-color: white;
  color: $zorroa-color-gray-dark-2;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
  .dark & {
    background-color: $zorroa-color-black-2;
    color: $zorroa-color-gray-dark-4;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.45);
  }
  border-radius: 3px;
  position: fixed;
  top: $zorroa-metric-base * 2.4;
  left: $zorroa-metric-base * 2.8;
  z-index: 1000;
}
