@import '../../styles/core-mixins.scss';

.Quickview {
  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__flipbook {
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 70vh;
  }
}
