@import '../../styles/core-mixins.scss';

$progress-height: $zorroa-metric-base * 1.5;
$progress-dragger-width: 8px;
$progress-bar-height: $zorroa-metric-base * 0.5;
$progress-bar-highlight-color: $zorroa-color-yellow-1;

.Scrubber {
  text-align: center;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__progress {
    width: 100%;
    height: $progress-height;
    position: relative;
    margin: $zorroa-metric-base * 0.5;
  }

  &__progress-dragger {
    height: 100%;
    width: $progress-dragger-width;
    background: $progress-bar-highlight-color;
    border: 1px solid $zorroa-color-white;
    position: absolute;
    top: 50%;
    margin-top: $progress-height / -2;
    z-index: 2;

    .dark & {
      border-color: $zorroa-color-black;
    }
  }

  &__progress-bar {
    position: absolute;
    top: ($progress-height - $progress-bar-height) / 2;
    background: $zorroa-color-gray-dark-4;
    height: $progress-bar-height;
  }

  &__progress-bar--past {
    background-color: $progress-bar-highlight-color;
    z-index: 1;
  }

  &__progress-bar--future {
    width: 100%;
  }

  &__scrubber-input {
    border: 1px solid $zorroa-color-gray-dark-2;
    background: transparent;
    width: $zorroa-metric-base * 4;
    font-size: 14px;
    margin: 0 $zorroa-metric-base;
    text-align: center;

    .dark & {
      color: $zorroa-color-white;
    }
  }
}
