@import '../../styles/core-mixins.scss';

.FormButton {
  height: 40px;
  background: $zorroa-color-green-1;
  color: $zorroa-white;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  border: 1px solid $zorroa-color-green-1;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $zorroa-color-gray-dark-4;
    border-color: $zorroa-color-gray-dark-4;
    opacity: 1;
  }

  &--white-label {
    opacity: .9
  }

  &__icon {
    padding-right: 5px;
    font-size: 14px;
    line-height: 12px;
  }

  ~ .FormButton {
    margin-left: 20px;
  }

  &--minimal {
    background: none;
    color: $zorroa-color-gray-dark-4;
    border-color: transparent;
    margin-left: 0!important;
    padding: 0 20px;

    ~ .FormButton {
      margin-left: 0;
    }

    &:hover {
      border-color: transparent;
      background: none;
      color: $zorroa-color-black;

      .dark & {
        color: $zorroa-color-white;
      }
    }
  }

  &--error {
    background-color: $zorroa-color-pink-1;
    border-color: $zorroa-color-pink-1;
  }

  &--disabled {
    &,
    &:hover {
      background-color: $zorroa-color-gray-dark-3;
      border-color: $zorroa-color-gray-dark-4;
      color: $zorroa-color-gray-dark-4;
      cursor: not-allowed;
      opacity: .5;
    }
  }

  &--mini {
    border-color: $zorroa-color-blue-1;
    background: $zorroa-color-blue-1;
    color: $zorroa-color-white;
    padding: 5px 10px;
    height: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 12px;
    font-weight: normal;
  }

  &__state {
    transition: 300ms transform ease-in-out, 300ms opacity ease-in-out;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    .FormButton--mini & {
      left: 2px;
      height: 14px;
      width: 14px;
      margin-top: -7px;
    }

    &--inactive {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }

    &--loading {
      animation: spin 750ms linear infinite;
      border: 3px solid rgba($zorroa-color-white, .5);
      border-radius: 100%;
      border-top-color: $zorroa-color-white;
    }

    &--success {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2210%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12.8.2a.8.8%200%200%200-1%200l-8%208-2.5-2.5a.8.8%200%200%200-1%200c-.2.1-.3.3-.3.5s0%20.4.2.5l3%203a.7.7%200%200%200%201%200l8.6-8.4.2-.6c0-.2%200-.4-.2-.5%22%2F%3E%3C%2Fsvg%3E');
      background-size: 75%;
    }

    &--error {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M505%20458L286%2022c-8-15-19-22-30-22s-22%207-30%2022L7%20458c-17%2030-2%2054%2032%2054h434c34%200%2049-24%2032-54zm-249-10a32%2032%200%201%201%200-64%2032%2032%200%200%201%200%2064zm32-128a32%2032%200%200%201-64%200v-96a32%2032%200%200%201%2064%200v96z%22%2F%3E%3C%2Fsvg%3E')
    }
  }

  &__label {
    transition: 300ms transform ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &--mini {
      font-weight: 300;
    }

    &--state-active {
      transform: translateX(15px);

      .FormButton--mini & {
        transform: translateX(8px);
      }
    }
  }
}

@keyframes spin { 100% { transform:rotate(360deg); } }
