@import '../../styles/core-mixins.scss';

.Suggestions {
}

.Suggestions-overlapping-inputs {
  @include fullWidth;
  height: 25px;
  position: relative;

  // Underline-only bar
  input {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.Suggestions-search {
  font-size: 16px;
  border: none;
  border-bottom: 2px solid $zorroa-sickly-green;
}

.Suggestions-typeahead {
  z-index: -1;
  color: $zorroa-lightgray;
  font-size: 16px;
  border: none;
}


// Clear text button
.Suggestions-clear {
  position: absolute;
  right: -5px;
  border: none;
  background: none;
  color: $zorroa-gray;

  &:hover {
    color: $zorroa-sickly-green;
  }

  &:disabled {
    color: transparent;
  }
}

.Suggestions-suggestions {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;

  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  border: 1px solid $zorroa-lightgray;
  box-sizing: border-box;
  list-style-type: none;
  margin: 2px 0 0;
  text-align: left;
  box-shadow: 0 4px 10px 0 $zorroa-darkgray;
  padding: 8px 0;
  min-width: 100%;
}

.Suggestions-suggestion {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include fullWidth;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  white-space: nowrap;
  min-width: 100%;
  color: $zorroa-darkgray;
  line-height: 1.8;

  &:not(.selected):hover { color: $zorroa-sickly-green; }
  &.selected { background-color: rgba(192, 192, 192, 0.5); }
}

.Suggestions-instructions {
  font-size: 12px;
  font-style: italic;
  color: $zorroa-lightgray;
  padding: 5px 5px 0 5px;
  text-align: center;
  width: 100%;
  // border-top: 1px solid $zorroa-lightgray;
}
