@import '../../styles/core-mixins.scss';

.Explorer {

  background-color: white;
  .dark & { background-color: black; }
  max-height: 40vh;
  @include flexCol;

  .Explorer-header {
    @include flexRow;
    @include flexJustifySpaceBetween;
    @include flexAlignItemsCenter;

    min-height: 44px;
    border-bottom: 1px solid $zorroa-nearwhite;

    .Explorer-filter {
      @include flexOn;
      @include flexRow;
      position: relative;
      margin: 8px 4px 8px 8px;

      .icon-search {
        position: absolute;
        right: 8px;
        font-size: 15px;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
        height: 16px;
        color: $zorroa-lightgray;
        .dark & { color: $zorroa-greyish-brown; }
      }
    }

    input {
      @include flexOn;
      height: 30px;
      border-radius: 3px;
      background: none;
      border: 1px solid $zorroa-lightgray;
      padding-left: 8px;
      padding-right: 42px;
      .dark & {
        background-color: $zorroa-whitegray;
        color: $zorroa-greyish-brown;
        border: 1px solid $zorroa-greyish-brown;
      }
    }
  }

  .Explorer-body {
    @include flexOn;
    margin-bottom: 10px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.Explorer-left {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-left: 4px;
  border-bottom: 1px solid $zorroa-nearwhite;
  .dark & { border-bottom: 1px solid $zorroa-dimgray; }
}

.Explorer-middle {
  @include flexOn;
  height: 26px;
  border-bottom: 1px solid $zorroa-nearwhite;
  .dark & { border-bottom: 1px solid $zorroa-dimgray; }
}

.Explorer-right {
  @include flexRow;
  @include flexAlignItemsCenter;
  border-bottom: 1px solid $zorroa-nearwhite;
  .dark & { border-bottom: 1px solid $zorroa-dimgray; }
}

.Explorer-item {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: -1px;  // Forces borders together
  font-size: 14px;
  cursor: pointer;

  @include flexRow;
  @include flexAlignItemsCenter;

  .Explorer-item-label {
    @include flexRow;
    color: $zorroa-greyish-brown;
    .dark & { color: $zorroa-whitegray; }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.hasChildren { font-weight: 500; }
  }

  .Explorer-item-right {
    @include flexRow;
  }

  &:hover:not(.isSelected) {
    background-color: $zorroa-hover;
    .dark & { background-color: $zorroa-dark-hover; }
  }
  &.isSelected {
    background-color: $zorroa-selected;
    .dark & { background-color: $zorroa-dark-selected; }
  }
}

.Explorer-item-pad {
  width: 14px;
  height: 25px;
  border-right: 1px solid $zorroa-lightgray;
  .dark & { border-right: 1px solid $zorroa-darkgray; }
}

.Explorer-cancel-filter {
  @include flexRowCenter;
  font-size: 10px;
  color: $zorroa-lightgray;
  position: absolute;
  right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  height: 16px;
  cursor: pointer;

  &:hover { color: $zorroa-gray; }
}

.Explorer-item-favorite {
  @include flexOff;
  @include flexRowCenter;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
  margin-right: 3px;
  color: $zorroa-lightgray;
  background-color: transparent;
  cursor: pointer;

  &:hover:not(.isSelected) {
    background-color: $zorroa-nearwhite;
    color: $zorroa-golden-yellow;
    .dark & { background-color: $zorroa-darkgray; }
  }

  &.isSelected {
    color: $zorroa-golden-yellow;
  }
}

$FolderItemHeight : 25px;

.Explorer-item-toggle {
  @include flexOff;
  @include flexRowCenter;

  width: $FolderItemHeight;
  height: $FolderItemHeight;

  cursor: pointer;

  .FolderItem.isSelected & {
    background-color: $zorroa-selected;
    .dark & { background-color: $zorroa-dark-selected; }
  }
  .FolderItem.isSelected &.hasChildren:not(.isSelected):hover { color: white; background-color: $zorroa-darkgray; }
  .FolderItem.isDropTarget.dragHover & { color: white; background-color: $zorroa-sickly-green; }
  .FolderItem.isSelected.isDropTarget.dragHover & { color: white; background-color: darken($zorroa-sickly-green, 15%); }
}

.Explorer-toggle-open {
  margin-left: -7px;
  color: $zorroa-gray;
}

.Explorer-favorites {
  @include flexRowCenter;
  margin-left: 4px;
  margin-right: 8px;
  border-radius: 3px;
  color: $zorroa-gray;
  background-color: $zorroa-nearwhite;
  width: 26px;
  height: 25px;
  cursor: pointer;
  border: none;

  .dark & { background-color: $zorroa-nearblack; }
  &.isSelected { color: $zorroa-golden-yellow; }

  &:hover:not(.isSelected) {
    background-color: transparent;
    border: 1px solid $zorroa-nearwhite;
  }
}

.Explorer-item-widget {
  @include flexRowCenter;
  font-size: 12px;
  color: $zorroa-lightgray;
  width: 25px;
  height: 25px;
}

.Explorer-sort {
  @include flexRowCenter;
  @include flexOff;
  height: 24px;
  width: 16px;
  padding-right: 2px; // This compensates for the slight offset of icon-sort*
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  color: $zorroa-darkgray;

  &.icon-sort {
    color: $zorroa-lightgray;
    background-color: transparent;
  }

  &:hover {
    background-color: $zorroa-sickly-green;
    color: white;
  }
}
