@import '../../styles/core-mixins.scss';

.CreateExport {
  .header {
    text-transform: uppercase;
    color: white;
    background-color: black;
    height: auto;

    @include flexRow;
    @include flexAlignItemsCenter;
    @include flexJustifySpaceBetween;

    div[class*='icon-'] {
      margin-top: 12px;
      margin-bottom: 12px;
      margin-left: 12px;
      margin-right: 12px;
    }

    .icon-export {
      font-size: 20px;
    }

    .icon-cross2:hover {
      color: $zorroa-sickly-green;
    }
  }

  .body {
    padding: 20px;

    input[type=text] {
      @include fullWidth;
      border-radius: 3px;
      padding-left: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 24px;  // Space for cancel
      border: 1px solid $zorroa-lightgray;
    }

    input[type=checkbox] {
      width: auto;
      height: auto;
      padding: 0;
      margin-right: 8px;
    }

    .option-row {
      @include flexRow;
      @include flexAlignItemsStart;
      margin-top: 20px;
      color: $zorroa-lightgray;
    }
  }

  .footer {
    border: none;
    border-top: 1px solid $zorroa-lightgray;
    min-height: 72px;
    max-height: 72px;
    padding: 0;

    @include flexRow;
    @include flexJustifyCenter;

    button {
      margin: 12px;
      padding: 12px 30px;
      border: none;
      border-radius: 3px;
      background: none;
      text-transform: uppercase;
      font-size: 14px;
      color: $zorroa-lightgray;
      @include nowrap;

      &:hover {
        color: white;
        background-color: $zorroa-lightgray;
      }

      &.default {
        color: $zorroa-nearwhite;
        background-color: $zorroa-sickly-green;

        &.isDisabled {
          background-color: $zorroa-lightgray;

          &:hover {
            color: $zorroa-nearwhite;
          }
        }

        &:hover {
          color: white;
        }
      }

      &.disabled {
        background-color: $zorroa-lightgray;

        &:hover {
          color: $zorroa-nearwhite;
        }
      }
    }
  }
}

.CreateExport-package-name {
  position: relative;
  margin-top: 8px;
  height: 30px;
  font-size: 12px;
}

.CreateExport-package-label {
  font-size: 12px;
  text-transform: uppercase;
  color: $zorroa-lightgray;
}

.CreateExport-package-name-cancel {
  color: $zorroa-lightgray;
  position: absolute;
  right: 8px;
  font-size: 12px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;

  &:hover {
    color: $zorroa-sickly-green;
  }
}

.CreateExport-input-label {
  @include flexCol;
}

.CreateExport-input-text {
  color: $zorroa-gray;
  margin-bottom: 8px;
}

.CreateExport-subtext {
  color: $zorroa-lightgray;
  font-size: 12px;
}
