@import '../../styles/core-mixins.scss';

.CreateFolder {

  .CreateFolder-form {
    width: 300px;

    /* WARNING: Crud ahead. refactor CreateFolder into Workspace?
     *   Position CreateFolder "below" relative position of parent, but
     *   for save search, this results in the viewport origin, which is
     *   unintended but perhaps justifiable as it is in the folder sidebar?
     */

    background-color: $zorroa-nearwhite;
    z-index: 1001;
    border-radius: 3px;
    border: 1px solid $zorroa-darkgray;
    box-shadow: 10px 10px 32px -10px rgba(0,0,0,0.75);

    .CreateFolder-header {
      color: white;
      background-color: black;
      height: 40px;
      min-height: 40px;
      text-transform: uppercase;
      margin-bottom: 20px;

      .CreateFolder-header-icon {
        @include zorroa-square-icon(40px);
        font-size: 20px;
      }

      .CreateFolder-header-close {
        @include zorroa-square-btn-lighten(40px);
      }
    }

    .CreateFolder-body {
      margin: 12px;

      .CreateFolder-input-title {
        color: $zorroa-gray;
        text-transform: uppercase;
        margin-bottom: 4px;
        font-size: 12px;
      }

      .CreateFolder-input-title-input {
        font-size: 14px;
        padding: 8px;
        background: none;
        color: $zorroa-gray;
        border: 2px solid $zorroa-lightgray;
        border-radius: 3px;
        height: 40px;
        width: 100%;
        margin-bottom: 30px;
      }

      .CreateFolder-public-private {
        color: $zorroa-gray;
        margin-left: 18px;
        &.disabled { color: $zorroa-lightgray; }
        div {
          margin-left: 4px;
          margin-right: 4px;
        }
      }
    }

    .CreateFolder-footer {
      border-top: 1px solid $zorroa-lightgray;
      margin-top: 20px;

      button {
        background: none;
        border: none;
        padding: 10px 30px;
        margin: 18px 8px;
        border-radius: 3px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
          color: white;
          background-color: $zorroa-gray;
        }

        &.default {
          color: $zorroa-nearwhite;
          background-color: $zorroa-sickly-green;

          &:hover {
            color: white;
          }

          &.disabled {
            background-color: $zorroa-lightgray;
          }
        }
      }
    }

    .CreateFolder-editing {
      border-top: 1px solid $zorroa-lightgray;
      height: 30px;
      padding: 12px;

      .CreateFolder-editing-date {
        color: $zorroa-lightgray;
        text-transform: uppercase;
        @include nowrap;
        font-family: "Roboto Condensed";
        font-size: 12px;
      }

      .CreateFolder-editing-owner {
        color: $zorroa-sickly-green;
        @include nowrap;
        font-family: "Roboto Condensed";
        font-size: 12px;
      }

      .CreateFolder-editing-separator {
        color: $zorroa-lightgray;
        @include nowrap;
        font-family: "Roboto Condensed";
        font-size: 12px;
      }

      .icon-trash2 {
        color: red;
      }
    }
  }
}

.CreateFolder-include-selected-assets {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-bottom: 10px;
  color: $zorroa-gray;
  &.disabled { color: $zorroa-lightgray; }
  div { margin-left: 4px; }
}
