@import '../../styles/core-mixins.scss';

.CreateFolder {

  .CreateFolder-form {
    width: 300px;

    /* WARNING: Crud ahead. refactor CreateFolder into Workspace?
     *   Position CreateFolder "below" relative position of parent, but
     *   for save search, this results in the viewport origin, which is
     *   unintended but perhaps justifiable as it is in the folder sidebar?
     */

    background-color: $zorroa-nearwhite;
    z-index: 1001;
    border-radius: 3px;
    border: 1px solid $zorroa-darkgray;
    box-shadow: 10px 10px 32px -10px rgba(0,0,0,0.75);

    .CreateFolder-header {
      color: white;
      background-color: black;
      height: 40px;
      min-height: 40px;
      text-transform: uppercase;
      margin-bottom: 20px;

      .CreateFolder-header-icon {
        @include zorroa-square-icon(40px);
        font-size: 20px;
      }

      .CreateFolder-header-close {
        @include zorroa-square-btn-lighten(40px);
      }
    }

    .CreateFolder-body {
      margin: 12px;

      .CreateFolder-input-title {
        color: $zorroa-gray;
        text-transform: uppercase;
        margin-bottom: 4px;
        font-size: 12px;
      }

      .CreateFolder-input-title-input {
        font-size: 14px;
        padding: 8px;
        background: none;
        color: $zorroa-gray;
        border: 2px solid $zorroa-lightgray;
        border-radius: 3px;
        height: 40px;
        width: 100%;
        margin-bottom: 30px;
      }

      .CreateFolder-public-private {
        color: $zorroa-gray;

        &.disabled {
          color: $zorroa-lightgray;
        }

        input {
          width: auto;
          height: auto;
          padding: 0;
          margin: 0 8px;
        }
      }

      .CreateFolder-sharing {
        margin-top: 8px;

        ::-webkit-scrollbar {
          width: 5px;
        }
      }
    }

    .CreateFolder-footer {
      border-top: 1px solid $zorroa-lightgray;
      margin-top: 20px;

      button {
        background: none;
        border: none;
        padding: 10px 30px;
        margin: 18px 8px;
        border-radius: 3px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
          color: white;
          background-color: $zorroa-gray;
        }

        &.default {
          color: $zorroa-nearwhite;
          background-color: $zorroa-sickly-green;

          &:hover {
            color: white;
          }

          &.disabled {
            background-color: $zorroa-lightgray;
          }
        }
      }
    }

    .CreateFolder-editing {
      border-top: 1px solid $zorroa-lightgray;
      height: 30px;
      padding: 12px;

      .CreateFolder-editing-date {
        color: $zorroa-lightgray;
        text-transform: uppercase;
        @include nowrap;
        font-family: "Roboto Condensed";
        font-size: 12px;
      }

      .CreateFolder-editing-owner {
        color: $zorroa-sickly-green;
        @include nowrap;
        font-family: "Roboto Condensed";
        font-size: 12px;
      }

      .CreateFolder-editing-separator {
        color: $zorroa-lightgray;
        @include nowrap;
        font-family: "Roboto Condensed";
        font-size: 12px;
      }

      .icon-trash2 {
        color: red;
      }
    }
  }
}

.CreateFolder-perm-slider {
  position: relative;
  width: 60px;
  margin-right: 4px;
  @include flexRow;
  @include flexAlignItemsCenter;

  // No good way to style the lower filled portion of a slider in Chrome.
  // So we use the input for control, but progress + div-based ticks for display.
  input::-webkit-slider-thumb {
    border: none;
    width: 6px;
    height: 6px;
    margin-top:-2px;
    margin-bottom:0;
    color: transparent;
  }

  input::-webkit-slider-runnable-track {
    background: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2px;
    border-radius: 2px;
  }

  input::-moz-range-thumb {
    border: none;
    width: 6px;
    height: 6px;
  }

  input::-moz-range-track {
    background: $zorroa-gray;
    border: none;
    height: 2px;
    outline: none;
  }

  input::-moz-range-progress {
    background: $zorroa-sickly-green;
    border: none;
    height: 2px;
    outline: none;
  }

  input[type=range]::-moz-focus-outer {
    border: 0;  // Removes focus dotted outline
  }

  .CreateFolder-perm-progress {
    @include fullWidth;
    position: absolute;
    z-index: -1;

    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2px;
    background: none;

    &::-webkit-progress-bar {
      background-color: $zorroa-gray;
    }

    &::-webkit-progress-value {
      color: transparent;
      background-color: $zorroa-sickly-green;
    }
  }
}

.CreateFolder-shared-with {
  max-width: 100%;
  @include flexCol;
}

.CreateFolder-selected-permission {
  color: $zorroa-greyish-brown;
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 2px 4px;

  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;

  [class*='icon-'] {
    font-size: 15px;
    margin-right: 4px;
    margin-left: 4px;
    color: $zorroa-gray
  }

  .icon-cross2 {
    font-size: 8px;
  }

  .icon-cross2:hover {
    color: $zorroa-sickly-green;
  }

  .CreateFolder-selected-permission-name {
    margin-left: 6px;
  }
}

.CreateFolder-shared-with-permissions {
  max-height: 120px;
  overflow-y: auto;
}

.CreateFolder-shared-with-title {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  font-size: 12px;
  font-stretch: condensed;
  color: $zorroa-gray;
  text-transform: uppercase;
  margin-left: 4px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.CreateFolder-shared-with-perm-icons {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;

  width: 64px;
  margin-right: 28px;

  [class*='icon-'] {
    font-size: 12px;

    &:hover {
      color: $zorroa-sickly-green;
    }
  }
}

.CreateFolder-perms-input {
  padding: 0;
  margin: 0 !important;
  background: transparent;
  z-index: 1;
  input {
    padding: 0;
  }
}

.CreateFolder-perms-tick-row {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
}

.CreateFolder-perms-tick {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: $zorroa-gray;

  &.ticked {
    background-color: $zorroa-sickly-green;
    border: none;
  }

  &.medium {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }

  &.large {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
}

.CreateFolder-filter-permission {
  position: relative;
  margin-top: 20px;
  margin-bottom: 16px;
  margin-left: 10px;
  margin-right: 30px;

  div[class*='icon-'] {
    position: absolute;
    left: 0;
    bottom: 4px;
    color: $zorroa-gray;
  }
}

.CreateFolder-filter-permission-input {
  @include fullWidth;

  color: $zorroa-gray;
  background: none;
  border: none;
  border-bottom: 1px solid $zorroa-lightgray !important;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 4px;

  font-size: 12px;
}

.CreateFolder-permissions {
  margin-top: 8px;

  input[type=checkbox] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 4px 8px;
  }

  .CreateFolder-permission {
    color: $zorroa-gray;
    font-size: 12px;
    min-height: 20px;
  }

  .CreateFolder-permission-name {
    margin-left: 4px;
  }

  .CreateFolder-permission-icon {
    font-size: 15px;
  }

  div[class*='icon-'] {
    font-size: 12px;
    margin-right: 4px;
    color: $zorroa-gray;
    opacity: 0.8;
  }
}

.CreateFolder-permission-title {
  text-transform: uppercase;
  color: $zorroa-gray;
  font-size: 13px;
  line-height: 1.5em;
}

.CreateFolder-permission-items {
  max-height: 200px;
  overflow-y: auto;
}
