@import '../../styles/core-mixins.scss';

// Give all children FolderItems some indentation, but not the top-level FolderItem
.Collapsible .FolderItem {
  margin-left: 16px;
  .CollapsibleHeader {
    height: 30px;
  }
}

.FolderItem {
  .FolderItem-header {
    @include clampText;
  }

  .CollapsibleHeader {
    & > *:hover { background-color: darken(#d8d8d8, 15%); }
    &.isSelected > *:hover { background-color: darken($zorroa-water-blue, 15%); }
  }
}
