@import '../../styles/core-mixins.scss';

$FolderItemHeight : 25px;

// Give all children FolderItems some indentation, but not the top-level FolderItem
.FolderItem {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include fullWidth;

  position: absolute; // fbo .FolderItem-dropzone, who's position: absolute
  cursor: pointer;
  height: $FolderItemHeight;

  &:not(.isOpen) .FolderItem-toggleArrow {
    transform: rotate(-90deg);
  }
  &:not(.hasChildren) .FolderItem-toggleArrow {
    display: none;
  }

  background-color: #f1f1f1;
  .dark & { background-color: #555; }
  &:nth-child(even) {
    background-color: white;
    &.isSelected { background-color: $zorroa-selected; }
    .dark & { background-color: $zorroa-darkgray; }
  }

  &:hover:not(.isSelected) { background-color: $zorroa-hover; }

  &.isSelected { background-color: $zorroa-selected; }
  &.isDropTarget.dragHover { color: white; background-color: $zorroa-sickly-green; }
  &.isSelected.isDropTarget.dragHover { color: white; background-color: darken($zorroa-sickly-green, 15%); }

}

.FolderItem-toggle {
  @include flexOff;
  @include flexRowCenter;

  width: $FolderItemHeight;
  height: $FolderItemHeight;

  cursor: pointer;

  color: $zorroa-gray;

  &.hasChildren:not(.isSelected):hover { color: white; background-color: $zorroa-darkgray; }
  .FolderItem.isSelected & { background-color: $zorroa-selected; }
  .FolderItem.isSelected &.hasChildren:not(.isSelected):hover { color: white; background-color: $zorroa-darkgray; }
  .FolderItem.isDropTarget.dragHover & { color: white; background-color: $zorroa-sickly-green; }
  .FolderItem.isSelected.isDropTarget.dragHover & { color: white; background-color: darken($zorroa-sickly-green, 15%); }
}

.FolderItem-select {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  @include fullHeight;
  @include fullWidth;

  padding-left: 5px;
  .FolderItem.isSelected &       { background-color: $zorroa-selected; }
  // .FolderItem.isSelected &:hover { color: white; background-color: darken($zorroa-gray, 15%); }
  .FolderItem.isDropTarget.dragHover & { color: white; background-color: $zorroa-sickly-green; }
  .FolderItem.isSelected.isDropTarget.dragHover & { color: white; background-color: darken($zorroa-sickly-green, 15%); }
}

.FolderItem-icon {
  font-size: 18px;
  color: $zorroa-greyish-brown;
  .dark & { color: $zorroa-lightgray; }
}

.FolderItem-text {
  @include clampText;
  @include noSelect;
  margin-left: 10px;
  color: $zorroa-greyish-brown;
  .dark & { color: $zorroa-lightgray; }
  cursor: pointer;
}

.FolderItem-counts {
  @include clampText;
  @include flexRow;
  color: $zorroa-lightgray;
}

.FolderItem-count {
  margin-right: 4px;
  color: $zorroa-lightgray;
  .dark & { color: $zorroa-gray; }
  font-weight: 300;
}

.FolderItem-filtered-count {
  color: $zorroa-avocado-green;

  &.isZero {
    opacity: 0.6;
  }
}

.FolderItem-permission {
  margin-right: 8px;
}

.FolderItem-dropzone {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;

  &.isDropTarget {
    border: 1px solid $zorroa-sickly-green;
    border-radius: 2px;
  }

  .App.isDragging & {
    display: block;
  }
}

.FolderItem-context-menu {
  @include flexCol;
  background-color: white;
  border-radius: 3px;
  position: fixed;
  top: 24px;
  left: 28px;
  width: 180px;
  z-index: 1000;
  color: $zorroa-greyish-brown;
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.15);
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;

  .FolderItem-context-item {
    @include flexRow;
    @include flexAlignItemsCenter;

    max-width: 100%;
    border-bottom: 1px solid $zorroa-nearwhite;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;

    &:hover {
      background-color: $zorroa-lightgray;
    }

    &.disabled {
      color: $zorroa-lightgray;
    }

    &.disabled:hover {
      background-color: white;
    }

    div[class^="icon-"]:before {
      margin-right: 8px;
      margin-left: 4px;
      padding-left: 0;
      font-size: 14px;
      color: $zorroa-gray;
    }
  }

  .FolderItem-context-item:last-child {
    border-bottom: none;
  }
}

.FolderItem-context-menu-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  box-sizing: border-box;
}
