@import '../../styles/core-mixins.scss';

.Folders {
}

.Folders-controls {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
  height: auto;

  input {
    @include flexOn;
    height: 20px;
    margin: 8px 12px 8px 4px;
    border-radius: 3px;
    background: none;
    border: 1px solid $zorroa-lightgray;
    padding-left: 4px;
    padding-right: 4px;
  }


  button {
    color: white;
    background-color: $zorroa-sickly-green;
    border: none;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin: 4px;

    &:disabled {
      background-color: $zorroa-lightgray;
    }

    &:hover:enabled {
      border: 1px solid $zorroa-gray;
    }

    &:active:enabled {
      color: $zorroa-nearwhite;
      background-color: $zorroa-sickly-green;
    }
  }
}
