@import '../../styles/core-mixins.scss';

.Folders {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  margin-bottom: 9px;
}

.Folders-controls {
  @include flexCol;
  height: auto;
  background-color: white;
}

.Folders-scroll {
  position: relative;
  // max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.Folders-body {
}

.Folders-drop-target {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

  .Folders.isDropTarget & { border: 1px dashed $zorroa-dropzone; }
  .Folders.isDropTarget.dragHover & { background-color: $zorroa-dropzone; }
}

.Folders-filter-add {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
}

.Folders-sort-selected {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
}

.Folders-filter {
  position: relative;
  margin: 8px 12px 8px 4px;
  @include flexOn;
  @include flexRow;

  .icon-search {
    position: absolute;
    right: 8px;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 16px;
    color: $zorroa-lightgray;
  }
}

.Folders-filter-input {
  @include flexOn;
  height: 30px;
  border-radius: 3px;
  background: none;
  border: 1px solid $zorroa-lightgray;
  padding: 8px;
  padding-right: 42px;
  font-size: 12px;
}

.Folders-controls-add {
  @include flexRowCenter;
  color: white;
  background-color: $zorroa-sickly-green;
  border: none;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  font-size: 14px;
  margin: 4px;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    background-color: $zorroa-lightgray;
  }

  &:not(.disabled) {
    &:hover {
      border: 1px solid $zorroa-gray;
      background-color: darken($zorroa-sickly-green, 15%);
    }
    &:active {
      color: $zorroa-nearwhite;
      background-color: darken($zorroa-sickly-green, 15%);
    }
  }
}

.Folders-sort {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
}

.Folders-sort-button {
  @include zorroa-square-btn-darken(20px);
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-left: 4px;
  color: $zorroa-lightgray;

  &:hover {
    color: white;
  }

  &.enabled {
    color: $zorroa-gray;
    background-color: $zorroa-nearwhite;
  }
}

.Folders-selected {
  @include flexRow;
  @include flexAlignItemsCenter;
  color: $zorroa-lightgray;
  font-size: 12px;
  margin-right: 8px;
}

.Folders-deselect-all {
  font-size: 10px;
  margin-left: 2px;
  border-radius: 3px;
  @include zorroa-square-btn(20px);
  &:hover {
    background-color: $zorroa-nearwhite;
    color: $zorroa-sickly-green;
  }
}

.Folders-cancel-filter {
  @include flexRowCenter;
  font-size: 10px;
  color: $zorroa-lightgray;
  position: absolute;
  right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  height: 16px;
  cursor: pointer;

  &:hover { color: $zorroa-gray; }
}

.Folders-empty {
  @include flexColCenter;
  background-color: white;
}

.Folders-empty-icon {
  font-size: 40px;
  color: $zorroa-lightgray;
}

.Folders-empty-label {
  color: $zorroa-lightgray;
}
