@import '../../styles/core-mixins.scss';

.DropboxChooser {
  @include flexCol;
  border-radius: 3px;
  border: 1px solid $zorroa-nearwhite;
  max-height: 160px;
  overflow: auto;
}

.DropboxChooser-title {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  @include fullWidth;
  color: white;
  background-color: $zorroa-water-blue;
  padding: 6px;
}

.DropboxChooser-title-left {
  @include flexRowCenter;
}

.DropboxChooser-title-label {
  margin-left: 8px;
}

.DropboxChooser-wait {
  width: 72px;
}

.DropboxChooser-file {
  @include flexRow;
  @include flexAlignItemsCenter;
  color: $zorroa-greyish-brown;

  &.selected {
    background-color: $zorroa-selected;
  }
}

.DropboxChooser-file-icon {
  @include flexRowCenter;
  padding: 6px;
  color: $zorroa-gray;
}

.DropboxChooser-logout {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  &:hover { color: $zorroa-lightgray; }
}
