@import '../../styles/core-mixins.scss';

.DropboxChooser {
  @include flexCol;
  border-radius: 3px;
  border: 1px solid $zorroa-nearwhite;
  margin-bottom: 10px;
}

.DropboxChooser-title {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  @include fullWidth;
  color: white;
  background-color: cornflowerblue;
  padding: 6px;
  min-height: 25px;
  border-bottom: 1px solid $zorroa-nearwhite;
}

.DropboxChooser-title-left {
  @include flexRowCenter;
}

.DropboxChooser-title-label {
  margin-left: 8px;
}

.DropboxChooser-wait {
  width: 72px;
  align-self: center;
}

.DropboxChooser-body {
  @include flexCol;
  overflow: auto;
}

.DropboxChooser-file {
  @include flexRow;
  @include flexAlignItemsCenter;
  color: $zorroa-greyish-brown;
  height: 1.25em;
  min-height: 1.25em;

  &.selected {
    background-color: $zorroa-selected;
  }
}

.DropboxChooser-file-icon {
  @include flexRowCenter;
  padding: 6px;
  color: $zorroa-gray;
}

.DropboxChooser-logout {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  &:hover { color: $zorroa-lightgray; }
}
