@import '../../styles/core-mixins.scss';

.collapsibleheader {
  @include nowrap;
  height: 40px;
  padding: 5px;
  background-color: $zorroa-lightgray;
  margin-bottom: 5px;
}

.collapsibleheader-icon {
  margin-right: 1em;
}

.collapsibleheader-caret {
  font-size: 18px;
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  margin-right: 1em;
}
