@import '../../styles/core-mixins.scss';

.collapsibleheader {
  @include nowrap;
  height: 40px;
  padding: 5px;
  padding-left: 10px;
  background-color: #d8d8d8;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: $zorroa-gray;
  font-weight: 100;
}

.collapsibleheader-icon {
  color: $zorroa-gray;
  margin-right: 14px;
}

.collapsibleheader-caret {
  font-size: 15px;
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  margin-right: 1em;
  color: $zorroa-gray;
}
