@import '../../styles/core-mixins.scss';

.lightbox {
  @include flexCol;
  @include fullWidth;

  background-color: $zorroa-greyish-brown; // $grayish-brown
  display: flex;
  flex-direction: column;
  position:fixed;
  left:0;
  top:0;
  height: 100vh;
  width: 100vw;

  // z-index was added to prevent the "imports" animated gif (z-index:1) in Assets|header
  // from appearing above the lightbox.
  z-index: 10;
}

.lightbox-body {
  @include flexColCenter;
  @include flexOn;
  @include fullWidth;
  @include fullHeight;
  overflow: hidden;
}

.Lightbox-metadata-title {
  @include flexRowCenter;
  align-self: center;
  font-size: 14px;

  div[class^="icon-"]:before {
    margin-right: 8px;
    margin-left: 4px;
    font-size: 16px;
    color: #fff;
  }
}

.Lightbox__metadata-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
