@import '../../styles/core-mixins.scss';

.lightbox {
  background-color: $zorroa-greyish-brown; // $grayish-brown
  display: flex;
  flex-direction: column;
  position:fixed;
  left:0;
  top:0;
  height: 100vh;
  width: 100vw;

  // z-index was added to prevent the "imports" animated gif (z-index:1) in Assets|header
  // from appearing above the lightbox.
  z-index: 10;
}

.lightbox-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
