@import '../../styles/core-mixins.scss';

.Lightbar {
  @include flexOff;
  @include flexRow;
  @include flexJustifySpaceBetween;

  position: relative;
  color: white;
  background-color: black;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
}

.Lightbar-settings {
  @include zorroa-square-btn-lighten(60px);
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;

  &.isOpen { transform: rotate(180deg); }
}

.Lightbar-metadata {
  @include flexOn;
  padding-top: 15px;
  padding-bottom: 5px;
  @include flexCol;
  @include flexWrap;
  align-content: flex-start;
  max-height: 100%;
  overflow-y: hidden;
  position: relative;

  &::-webkit-scrollbar {
    height: 5px;
  }
}

.Lightbar-btn-icon {
  font-size: 20px;
  margin-left: 10px;
}

.Lightbar-actions {
  @include flexRow;
  @include flexWrap;
  @include flexJustifyEnd;
  @include flexAlignItemsStart;
  align-content: flex-start;
  margin-top: 10px;
  position: relative;
  border-left: 1px solid $zorroa-darkgray;
}

.Lightbar-action {
  @include flexRowCenter;
  @include noSelect;
  color: $zorroa-nearwhite;
  margin: 10px;
  border: none;
  background: none;
  outline: none;
  position: relative;
  text-decoration: none;

  &:active:not(.isDisabled) { color: chartreuse; }
  &.isDisabled { color: $zorroa-gray;  }
  &:hover:not(.isDisabled)  {
    color: $zorroa-sickly-green;
    cursor: pointer;
  }
}

.Lightbar-action-text {
  text-transform: uppercase;
  @media screen and (max-width: 1000px) { display: none; }
}

.Lightbar-close {
  @include zorroa-square-btn-lighten(60px);
  @include flexCenter;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: black;
}

.Lightbar-resizer {
  position: absolute;
  cursor: row-resize;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -4px;
}

.Lightbar-column {
  position: relative;
  @include flexCol;
  @include flexOn;
  overflow: hidden;
}

.Lightbar-title-resizer {
  cursor: col-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: 2px;
  margin-left: -2px;

  &:hover { background-color: $zorroa-darkgray; }
  &.isDragging { background-color: $zorroa-darkgray; }
}

.Lightbar-column-resizer {
  cursor: col-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  width: 5px;
  border-radius: 2px;
  border-left: 1px dotted $zorroa-darkgray;

  &:hover { background-color: $zorroa-darkgray; }
  &.isDragging { background-color: $zorroa-darkgray; }
}

.Lightbar-folders {
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  min-height: 300px;
  max-height: 70vh;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0 0 30px 0 black;
  margin-top: 20px;
  z-index: 1000;
  background-color: $zorroa-nearwhite;

  &:hover { color: $zorroa-darkgray; }
  &:active { color: $zorroa-darkgray; }
}

.Lightbar-performed-action {
  @include nowrap;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 0 30px 0 black;
  padding: 12px;
  margin-top: 20px;
  z-index: 1000;
  background-color: black;
  color: $zorroa-nearwhite;
}

.Lightbar-field {
  @include flexRow;
  @include flexAlignItemsStart;
}

.Lightbar-field-title {
  @include flexRow;
  //@include flexAlignItemsCenter;
  @include flexJustifyEnd;
  align-self: stretch;
  padding: 4px;
  border-right: 1px solid $zorroa-darkgray;
}

.Lightbar-field-title-head {
  @include noSelect;
  @include clampText;
  @include nowrap;
  color: $zorroa-lightgray;
  font-size: 12px;
  font-weight: 100;
  text-align: right;
}

.Lightbar-field-title-tail {
  @include noSelect;
  @include clampText;
  @include nowrap;
  color: $zorroa-gray;
  font-size: 12px;
  font-weight: 100;
  text-align: right;
  margin-right: 4px;
}
