@import '../../styles/core-mixins.scss';

.Lightbar {
  @include flexOff;
  @include flexRow;
  @include flexJustifySpaceBetween;

  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, .6);
  justify-content: space-between;
  width: 100%;
  min-height: 42px;
  z-index: 1;
}

.Lightbar__settings {
  @include zorroa-square-btn-lighten(42px);
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-right: 1px solid $zorroa-darkgray;
  margin-right: 10px;
}

.Lightbar__settings--is-open {
  &::before {
    transform: rotate(180deg);
  }
}

.Lightbar-metadata {
  @include flexRow;
  @include flexAlignItemsCenter;
}

.Lightbar__icon {
  font-size: 20px;
  margin-right: 10px;
}

.Lightbar__context {
  font-size: 10px;
  margin-left: 10px;
}

.Lightbar-actions {
  @include flexRow;
  @include flexAlignItemsCenter;
  align-content: flex-start;
  position: relative;
}

.Lightbar-action {
  @include flexRowCenter;
  @include noSelect;
  color: $zorroa-nearwhite;
  margin: 10px 20px;
  border: none;
  background: none;
  outline: none;
  position: relative;
  text-decoration: none;

  &:active:not(.isDisabled) { color: chartreuse; }
  &.isDisabled { color: $zorroa-gray;  }
  &:hover:not(.isDisabled)  {
    color: $zorroa-sickly-green;
    cursor: pointer;
  }

  &--disabled {
    pointer-events: none;
    opacity: .1;
    cursor: not-allowed;
  }

  &--loading {
    pointer-events: none;
    cursor: wait;
  }
}

.Lightbar-action-text {
  text-transform: uppercase;
  @media screen and (max-width: 1000px) { display: none; }
}

.Lightbar-close {
  @include zorroa-square-btn-lighten(42px);
  @include flexCenter;
  font-size: 14px;
  border: none;
  border-left: 1px solid $zorroa-darkgray;
  outline: none;
  color: white;
  background-color: black;
}

.Lightbar-folders {
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  min-height: 300px;
  max-height: 70vh;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0 0 30px 0 black;
  margin-top: 20px;
  z-index: 1000;
  background-color: $zorroa-nearwhite;

  .dark & { background-color: $zorroa-nearblack }
  &:hover { color: $zorroa-darkgray; }
  &:active { color: $zorroa-darkgray; }
}

.Lightbar-performed-action {
  @include nowrap;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 0 30px 0 black;
  padding: 12px;
  margin-top: 20px;
  z-index: 1000;
  background-color: black;
  color: $zorroa-nearwhite;
}
