@import '../../styles/core-mixins.scss';

.Lightbar {
  @include flexOff;
  @include flexRow;
  @include flexJustifySpaceBetween;

  position: relative;
  color: white;
  background-color: black;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
}

.Lightbar-settings {
  @include zorroa-square-btn-lighten(60px);
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
}

.Lightbar-metadata {
  @include flexOn;
  margin-top: 15px;
  @include flexCol;
  @include flexWrap;
  align-content: flex-start;
  max-height: 100%;
  overflow-y: auto;
  position: relative;

  &::-webkit-scrollbar {
    height: 5px;
  }
}

.Lightbar-attr {
  @include flexRow;
  @include flexAlignItemsCenter;
}

.Lightbar-attr-field {
  font-size: 12px;
  font-weight: 100;
  color: $zorroa-lightgray;
  text-align: right;
}

.Lightbar-attr-separator {
  height: 32px;
  border-right: 1px solid $zorroa-darkgray;
  margin-left: 4px;
  cursor: ew-resize;
}

.Lightbar-attr-value {
  font-size: 14px;
  color: $zorroa-nearwhite;
}

.Lightbar-btn-icon {
  font-size: 20px;
  margin-left: 10px;
}

.Lightbar-actions {
  @include flexRow;
  @include flexWrap;
  @include flexJustifyEnd;
  @include flexAlignItemsStart;
  margin-top: 10px;
  position: relative;
}

.Lightbar-action {
  @include flexRowCenter;
  color: $zorroa-nearwhite;
  margin: 10px;
  border: none;
  background: none;
  outline: none;
  &:hover  { color: $zorroa-sickly-green; }
  &:active { color: chartreuse; }
}

.Lightbar-action-text {
  text-transform: uppercase;
  @media screen and (max-width: 1000px) { display: none; }
}

.Lightbar-close {
  @include zorroa-square-btn-lighten(60px);
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: black;
}

.Lightbar-resizer {
  position: absolute;
  cursor: ns-resize;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -4px;
}

// Column resizers inside their own div so they
// do not affect the scrolling size of the parent
.Lightbar-column-resizers {
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.Lightbar-column-resizer {
  cursor: ew-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  &:hover {
    background-color: $zorroa-darkgray;
  }
  float: left;
}

.Lightbar-action-resizer {
  cursor: ew-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  &:hover {
    background-color: $zorroa-darkgray;
  }
}
