@import '../../styles/colors.scss';

.Paragraph {
  margin: 10px 0;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.2;

  &--large {
    font-size: 18px;
  }

  &--normal {
    font-size: 16px;
  }

  &--small {
    font-size: 12px;
  }
}
