@import '../../styles/core-mixins';

.CommandProgress {
  @include flexRowCenter;
  @include fullWidth;
  background-color: $zorroa-water-blue;
  padding: 8px 20px;
}

.CommandProgress-title {
  font-weight: 200;
  font-size: 12px;
  color: $zorroa-nearwhite;
  text-transform: uppercase;
  margin-right: 8px;
}

.CommandProgress-subtitle {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 300;
}

.CommandProgress-progress-bar {
  @include flexOn;
  @include flexRow;
  @include flexAlignItemsCenter;
  height: 5px;
  border-radius: 2.5px;
  background-color: $zorroa-darkgray;

  &.indeterminate {
    opacity: 0.75;
    background: repeating-linear-gradient(-45deg,#777,#777 10px,#888 10px,#888 20px);
    background-size: 28px 28px;
    -webkit-animation: slide 20s infinite linear forwards;
    -moz-animation: slide 20s infinite linear forwards;
    animation: slide 20s infinite linear forwards;
  }
}

@-webkit-keyframes slide {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}

@-moz-keyframes slide {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}

@keyframes slide {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}

.CommandProgress-progress {
  @include fullHeight;
  background-color: cornflowerblue;
  border-radius: 2.5px;
  &.hasErrors { border-radius: 0; }
}

.CommandProgress-errors {
  @include fullHeight;
  background-color: $zorroa-faded-red;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

.CommandProgress-cancel {
  margin-left: 20px;
  color: white;
  &:hover { font-weight: 700; }
}
