@import '../../styles/core-mixins.scss';

// App class, containing header and workspace in columns
.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;

  // This is a full screen (viewport) app
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

// Allow the workspace to fill the full height of App
.Workspace {
  background-color: $zorroa-nearwhite;

  & .Workspace-vertical-separator {
    height: 100%;
    width: 1px;
    border-right: 1px solid $zorroa-lightgray;
  }

  .Metadata-icon {
    margin-left: 0;
    font-size: 10px;
    color: $zorroa-warm-grey-60;
    padding: 6px;

    &:hover {
      color: $zorroa-sickly-green;
    }
  }
}

// Footers use flex-basis to toggle between open and close
.footer {
  flex: 0 0 20px;
  max-height: 20px;
  padding: 8px;
  border-top: 1px solid $zorroa-lightgray;
  margin-bottom: 4px;

  &.footer-open {
    max-height: 300px;
    flex: 0 0 300px;
  }
}
