@import '../../../styles/core-mixins.scss';
@import '../../../styles/colors.scss';

.SharedMetadata {
  padding-bottom: $zorroa-metric-base * 2;

  &__item {
    & ~ .SharedMetadata__item {
      margin-top: $zorroa-metric-base * 2;
      padding-top: $zorroa-metric-base * 2;
      border-top: $zorroa-color-gray-dark-4 1px solid;
    }
  }

  &__field-sumary {
    color: $zorroa-color-gray-dark-3;
  }

  &__item-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: $zorroa-metric-base * 2;
  }

  &__headline-icon {
    margin-left: $zorroa-metric-base;
    color: $zorroa-color-green-1;
    font-size: 14px;
  }

  &__help {
    margin: $zorroa-metric-base 0 $zorroa-metric-base * 4;
  }
}
