@import '../../styles/core-mixins.scss';

.ListEditor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    flex-direction: row;
    height: 30px;
    line-height: 30px;
    align-items: center;
    align-content: center;
    flex-basis: calc(100% / 3);
    padding: 0 20px;
    max-width: calc(100% / 3);
    color: $zorroa-color-gray-dark-2;

    .dark & {
      color: $zorroa-color-gray-dark-4;
    }

    &:nth-child(3n + 1) {
      padding-left: 0;
    }
  }

  &__label {
    @include clampText;
  }

  &__button {
    background: none;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 0;
    cursor: pointer;
    height: 20px;

    &--disabled {
      cursor: not-allowed;
      opacity: .25;
    }
  }
}
