@import '../../../styles/core-mixins.scss';

.ResetPassword {
  background-color: $zorroa-color-white;
  width: 300px;

  &__password-metadata {
    width: 100%;
    padding: $zorroa-metric-base * 2 0 $zorroa-metric-base * 3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__password-strength {
    margin-top: $zorroa-metric-base / 2;
  }
}
