@import '../../styles/core-mixins.scss';

.Collections {
  .WidgetHeader-header-title {
    min-width: 90px;
  }
}

.Collections-body {
  @include flexColCenter;
}

.Collections-folders {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexWrap;
  max-width: 40vw;
  padding: 8px;
  min-height: 52px;
}

.Collections-folder {
  @include flexRowCenter;
  background-color: $zorroa-lightgray;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 4px;
}

.Collections-folder-close {
  margin-left: 4px;
  font-size: 12px;
  @include zorroa-square-btn-darken(20px)
}

.Collections-clear-all {
  @include flexRowCenter;
  padding-top: 2px;
  padding-bottom: 10px;
}

.Collections-clear-all-label {
  color: $zorroa-gray;
  font-size: 12px;
}

.Collections-clear-all-icon {
  color: $zorroa-gray;
  border-radius: 3px;
  margin-left: 4px;
  @include zorroa-square-btn-darken(20px)
}

.Collections-suggestions {
  width: 70%;
  min-width: 150px;
  max-width: 400px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid $zorroa-lightgray;
}

.Collections-empty {
  @include flexColCenter;
  color: $zorroa-lightgray;
  font-size: 12px;
  .icon-emptybox {
    font-size: 22px;
    color: $zorroa-lightgray;
  }
}
