@import '../../styles/core-mixins.scss';

.DateRange {
  min-width: 0;
}

.WidgetHeader {
  color: $zorroa-nearwhite;
}

.DateRange-clear-search {
  @include zorroa-square-btn-darken(20px);
  margin: 5px;
  font-size: 10px;

  &:hover {
    cursor: pointer;
  }
}

.DateRange-body {
  display: flex;
  flex-direction: column;
  padding: 10px;

  input {
    outline: none;
    background: none;
    border: 1px solid $zorroa-gray;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2em;
    padding-left: 8px;
    width: 100%;
  }
}

.DateRange-row {
  .rw-popup-container {
    .rw-btn {
      line-height: 1em;
    }

    .rw-header .rw-btn {
      line-height: 1.5em;
    }
    .rw-footer .rw-btn {
      line-height: 1.5em;
    }
  }

  .DateRange-min {
    min-width: 125px;
  }

  .DateRange-max {
    min-width: 125px;
  }

  .DateRange-min .rw-popup-container {
    left: 0;
    right: unset;
  }

  .DateRange-max .rw-popup-container {
    right: 0;
    left: unset;
  }

}

.DateRange-label {
  margin: 4px;
  cursor: default;
}

.DateRange-go {
  @include zorroa-btn(34px, 34px, $zorroa-navy-blue, darken($zorroa-navy-blue, 15%));

  color: white;
  margin-left: 6px;
  font-size: 14px;
}

.DateRange-settings {
  @include flexRowCenter;
  margin-bottom: 8px;
}

.DateRange-setting {
  margin: 4px;
  border-radius: 3px;
  background-color: $zorroa-gray;
  color: white;
  cursor: pointer;
  padding: 2px 6px;
  font-size: 12px;
  text-transform: capitalize;
  &:hover { background-color: lighten($zorroa-gray, 15%); }
}
