@import '../../styles/core-mixins.scss';

.DateRange {
  min-width: 0;
}

.WidgetHeader {
  color: $zorroa-nearwhite;
}

.DateRange-header {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
  @include fullWidth;
  @include noSelect;

  flex-shrink: 1;
  min-width: 0;
}

.DateRange-header-label {
  @include flexRow;
  @include flexAlignItemsCenter;
  min-width: 0;
}

.DateRange-header-title {
  @include flexOff;
  font-weight: 100;
  margin-right: 4px;
}

.DateRange-header-field {
  @include flexShrinkOnly;
  @include clampText;
  min-width: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-weight: 400;
}

.DateRange-settings {
  @include zorroa-square-btn-darken(40px);
  margin: 5px 0px;

  &:hover {
    cursor: pointer;
  }
}

.DateRange-clear-search {
  @include zorroa-square-btn-darken(20px);
  margin: 5px;
  font-size: 10px;

  &:hover {
    cursor: pointer;
  }
}

.DateRange-body {
  background-color: white;
  color: $zorroa-gray;
  display: flex;
  flex-direction: column;
  padding: 10px;

  input {
    outline: none;
    background: none;
    border: 1px solid $zorroa-gray;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2em;
    padding-left: 8px;
    width: 100%;
  }
}

.DateRange-row {
  .rw-popup-container {
    .rw-btn {
      line-height: 1em;
    }

    .rw-header .rw-btn {
      line-height: 1.5em;
    }
    .rw-footer .rw-btn {
      line-height: 1.5em;
    }
  }

  .DateRange-min .rw-popup-container {
    left: 0;
    right: unset;
  }

  .DateRange-max .rw-popup-container {
    right: 0;
    left: unset;
  }

}

.DateRange-label {
  margin: 4px;
  cursor: default;
}

.DateRange-go {
  @include zorroa-btn(34px, 34px, $zorroa-water-blue, darken($zorroa-water-blue, 15%))

  color: white;
  margin-left: 6px;
  font-size: 14px;
}
