@import '../../styles/core-mixins.scss';

.Facet {
  .WidgetHeader {
    color: $zorroa-nearwhite;
  }

  .WidgetHeader-icon {
    transform: rotate(-90deg) scaleY(-1);
  }

  .Widget-icon {
    font-size: 20px;
  }

  .Facet-body {
    @include flexCol;
    padding: 10px;
  }

  .Facet-sort {
    table {}
  }

  .Facet-clear-selection {
    @include flexRowCenter;
    font-size: 13px;
    color: $zorroa-lightgray;
    height: 14px;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .Facet-clear-selection-cancel {
    @include flexRowCenter;
    &:hover { background-color: $zorroa-lightgray; color: white; }
    width: 18px;
    height: 18px;
    border-radius: 3px;
    margin-left: 2px;
    font-size: 10px;
  }

  .Facet-value-range {
    flex: 1;
  }

  .Facet-value-table {
    @include flexOn;
    @include flexCol;
    @include flexAlignItemsCenter;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    border-bottom: 1px solid $zorroa-nearwhite;
    overflow: hidden;
    overflow-y: auto;

    .Facet-value-table-row:nth-child(odd) {
      background-color: $zorroa-nearwhite;
    }

    .Facet-value-table-row {
      padding-right: 10px;
      color: $zorroa-greyish-brown;
      cursor: pointer;
      &:not(.selected):hover { background-color: $zorroa-hover; }
      &.selected { background-color: $zorroa-selected; }
    }

    .Facet-value-table-key {
      @include fullHeight;
      @include fullWidth;
      position: relative;
      padding: 8px 0 8px 8px;
    }

    .Facet-value-pct-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: rgba(161, 29, 119, 0.2);
    }

    .Facet-value-key {
      position: relative;
      @include clampText;
    }
  }

  .Facet-pie-chart {
    @include flexOn;
    @include fullWidth;
    height: 240px;
    max-height: 240px;

    .Facet-pie-pct {
      font-size: 9px;
      fill: white;
      @include noSelect;
      pointer-events: none;
    }

    .Facet-pie-label {
      font-size: 10px;
      fill: $zorroa-lightgray;
      font-stretch: condensed;

      &.active {
        fill: $zorroa-water-blue;
        font-weight: 900;
        font-size: 11px;
      }
    }

  }

  // Custom scrollbar styles from Amber
  ::-webkit-scrollbar {
    width: 5px;
  }

  table {
    width: 100%;
    border: 0;
    border-spacing: 0;
  }

  td:last-child {
    text-align: right;
    width: 60px;
  }

  .Facet-value-cell {
    padding: 0;
    max-width: 0; // This looks weird, but is important! It allows cells to chop content
    @include clampText;
  }

  .Facet-value-count {
    padding: 0 10px 0 0;
    max-width: 0; // This looks weird, but is important! It allows cells to chop content
    @include clampText;
  }

  .Facet-table-header {
    @include flexRow;
    @include flexAlignItemsEnd;
    @include flexJustifySpaceBetween;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 4px;
  }

  .Facet-table-header-cell {
    @include flexRow;
    @include flexAlignItemsCenter;
    line-height: 1;
  }

  .Facet-table-header-cell:last-child {
    text-align: right;
    width: 60px;
  }

  .Facet-table-header-title {
    font-size: 12px;
    text-transform: uppercase;
    color: $zorroa-gray;
    background-color: white;
    text-align: left;
    font-family: "Roboto Condensed";
    font-weight: 300;
  }

  .Facet-table-header-count {
    @include flexRowCenter;

    width: 14px;
    height: 20px;
    font-size: 10px;
    color: $zorroa-lightgray;
    padding-right: 2px; // This compensates for the slight offset of icon-sort*
    margin-left: 2px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $zorroa-sickly-green;
    }
  }

  .Facet-controls {
    color: $zorroa-gray;
  }

  .Facet-chart-selector {
    @include flexRow;
    @include flexJustifyCenter;
    margin-bottom: 8px;

    .Facet-icon {
      @include flexRowCenter;
      width: 30px;
      height: 30px;
      border: none;
      outline: none;
      font-size: 22px;
      border-radius: 3px;
      margin-left: 4px;
      margin-right: 4px;
      counter-reset: $zorroa-greyish-brown;
      background: transparent;
      cursor: pointer;
      color: $zorroa-lightgray;

      &:not(.selected):hover {
        background-color: $zorroa-nearwhite;
      }

      &.selected {
        color: white;
        background-color: $zorroa-darkish-purple;
      }
    }
  }

  .rotN90Flip {
    transform: rotate(-90deg) scaleY(-1);
  }
}

.Facet-empty {
  @include flexColCenter;
  margin-top: 10px;
}

.Facet-empty-icon {
  font-size: 64px;
  color: $zorroa-lightgray;
  margin-bottom: 20px;
}

.Facet-empty-info {
  font-size: 16px;
  text-transform: uppercase;
  color: $zorroa-lightgray;
}

.Facet-value-table-row-extra {
  font-size: 12px;
  color: $zorroa-gray;
  margin-top: 4px;
  margin-bottom: 4px
}
