@import '../../styles/core-mixins.scss';

$fps-grabber-size: $zorroa-metric-base * 1.5;
$fps-rate-offset: $zorroa-metric-base * 2;

.FlipbookWidget {
  width: $zorroa-metric-base * 25;

  &__fps-rate-list {
    display: flex;
    width: 100%;
  }

  &__fps-grabber {
    cursor: pointer;
    z-index: 2;
  }

  &__order {
    display: flex;
    align-content: center;
    align-items: center;
  }

  &__order-label {
    width: 40%;

    &:last-child {
      text-align: right;
    }
  }

  &__order-toggle {
    width: 20%;
    display: flex;
    justify-content: center;
  }

  &__section {
    padding: $zorroa-metric-base;
    color: $zorroa-color-gray-dark-2;

    .dark & {
      color: $zorroa-color-gray-light-2;
    }

    & ~ & {
      border-top: 1px solid $zorroa-color-gray-light-2;

      .dark & {
        border-top-color: $zorroa-color-gray-dark-2;
      }
    }
  }

  &__fps-grabber-target {
    position: absolute;
    right: 0;
  }

  &__fps-grabber-container {
    position: relative;
    z-index: 1;
    top: $fps-rate-offset - ($fps-grabber-size / 2);
  }

  &__fps-grabber-target-circle {
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      width: 50%;
      left: 0;
      border-top: 2px solid $zorroa-color-yellow-1;
      content: ' ';
      top: 50%;
      margin-top: $fps-grabber-size / 2
    }

    &::before {
      background-color: $zorroa-color-yellow-1;
      height: $fps-grabber-size;
      width: $fps-grabber-size;
      border: 1px solid $zorroa-color-white;
      border-radius: 100%;
      position: absolute;
      display: block;
      content: ' ';
      left: 50%;
      margin-left: $fps-grabber-size / -2;

      .dark & {
        border-color: $zorroa-color-black;
      }
    }
  }

  &__duration-container {
    position: absolute;
    bottom: 1px;
    right: 2px;
  }

  &__fps-rate {
    flex-grow: 1;
    text-align: center;
    text-transform: lowercase;
    color: $zorroa-color-gray-dark-2;
    font-size: 14px;
    height: $zorroa-metric-base * 4;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    border-top: 1px solid $zorroa-color-gray-dark-4;
    margin-top: $fps-rate-offset;
    cursor: pointer;

    &--elapsed {
      border-color: $zorroa-color-yellow-1;
      border-width: 2px;
    }

    .dark & {
      color: $zorroa-color-gray-light-2
    }

    &::before {
      display: block;
      position: absolute;
      content: ' ';
      border-left: 1px solid $zorroa-color-gray-light-1;
      height: 10px;
      top: 0;
    }
  }

  &__player-container {
    position: relative;
    margin: $zorroa-metric-base $zorroa-metric-base 0;
  }

  &__scrubber {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    margin: $zorroa-metric-base / 2 0;

    &--visible {
      opacity: 1;
    }
  }
}
