@import '../../styles/core-mixins.scss';

.ImportSet {

}

.ImportSet-body {
  @include flexColCenter;
}

.ImportSet-imports {
  @include flexCol;
  width: 100%;
  padding: 10px;
  min-height: 52px;
}

.ImportSet-import {
  @include flexRow;
  @include flexAlignItemsCenter;
  align-self: flex-start;
  color: $zorroa-gray;
  margin: 4px;
}

.ImportSet-import-selected {
  margin-right: 8px;
}

.ImportSet-import-name {
  @include nowrap;
}

.ImportSet-clear-all {
  @include flexRowCenter;
  min-height: 22px;
}

.ImportSet-clear-all-label {
  color: $zorroa-gray;
  font-size: 12px;
}

.ImportSet-clear-all-icon {
  color: $zorroa-gray;
  border-radius: 3px;
  margin-left: 4px;
  @include zorroa-square-btn-darken(20px)
}

.ImportSet-suggestions {
  width: 70%;
  min-width: 150px;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid $zorroa-lightgray;
}

.ImportSet-empty {
  @include flexColCenter;
  color: $zorroa-lightgray;
  font-size: 12px;
  margin-top: 10px;
  .icon-emptybox {
    margin-bottom: 6px;
    font-size: 22px;
    color: $zorroa-lightgray;
  }
}
