@import '../../styles/core-mixins.scss';

.Map {

  .WidgetHeader {
    color: $zorroa-nearwhite;
    background-color: $zorroa-water-blue;
    & > *:hover { background-color: darken($zorroa-water-blue, 15%); }
  }

  .WidgetHeader-icon {
  }

  .Map-search:hover { color: $zorroa-sickly-green; }
  .Map-settings:hover { color: $zorroa-sickly-green; }

  .Widget-icon {
    font-size: 20px;
  }

  .Facet-body {
    padding: 10px;
  }

  .Map-header {
    div[class*="icon-"] {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}
