@import '../../styles/core-mixins.scss';

.QuickAddWidget {
  position: relative;   // For floating list

  .QuickAddWidget-list {
    position: absolute;
    top: 120%;
    left: 0;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 6px 6px rgba(0,0,0, 0.15);
    .dark & {
      background-color: $zorroa-nearblack;
      box-shadow: 0 2px 6px 6px rgba(0,0,0, 0.45);
    }
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 12px;
    z-index: 1000;

    .QuickAddWidget-item {
      @include clampText;
      @include flexRow;
      @include flexAlignItemsCenter;
      @include noSelect;
      height: 30px;
      padding: 6px;
      margin-top: 2px;
      border-radius: 3px;
      text-transform: uppercase;
      color: white;

      &:not(.selected):hover { filter: brightness(125%); }
      &.selected { opacity: 0.75; }
    }
  }
}

.QuickAddWidget-item-icon {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  @include flexRowCenter;
}

.QuickAddWidget-input-container {
  @include flexRowCenter;
  position: relative;
  border-radius: 3px;
  color: white;
  background-color: $zorroa-sickly-green;
  padding: 5px;
  margin-left: 2px;
  opacity: .9;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.QuickAddWidget-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  max-width: 24px;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  border: none;
  opacity: 0;
  cursor: pointer;
}
