@import '../../styles/core-mixins.scss';

.Racebar {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include fullWidth;
  z-index: 1;
  box-shadow: 0 0 6px $zorroa-gray;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Racebar-wrap {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexWrap;
  @include flexOn;
}

.Racebar-right {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include fullHeight;
  padding-left: 8px;
  border-left: 1px solid $zorroa-nearwhite;
}

.Racebar-widget {
  margin: 2px 4px;
}

.Racebar-clear {
  @include flexRow;
  @include flexAlignItemsCenter;

  border-radius: 3px;
  padding: 4px 8px;
  margin: 2px 4px;
  color: $zorroa-greyish-brown;
  text-transform: uppercase;
  background-color: $zorroa-lightgray;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover:not(.disabled) { background-color: $zorroa-nearwhite; border: 1px solid $zorroa-gray; }
  &.disabled { color: $zorroa-lightgray; background-color: transparent; cursor: default; }

  div { margin-left: 8px; }
}

.Racebar-save {
  @include flexRow;
  @include flexAlignItemsCenter;

  border-radius: 3px;
  padding: 4px 8px;
  margin: 4px;
  color: white;
  background-color: $zorroa-water-blue;
  text-transform: uppercase;
  cursor: pointer;

  &:hover:not(.disabled) { background-color: lighten($zorroa-water-blue, 15%); }
  &.disabled { cursor: default; background-color: $zorroa-lightgray; }

  div { margin-left: 8px; }
}

.Racebar-searchbar {
  height: 30px;
  margin-right: 8px;
  width: 300px;
}

.Racebar-clear-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;

  // Won't work until we make the home button a font icon
  .Racebar-clear.disabled & { color: $zorroa-lightgray; }
}
