@import '../../styles/core-mixins.scss';

.Racetrack {

  @include flexCol;

  flex: 0.8;
  padding-left: 10px;
  padding-right: 10px;
}

.Racetrack-widget {
  //background-color: #fff;
  margin-bottom: 6px;
  //.dark & { color: $zorroa-lightgray; background-color: $zorroa-darkgray; }
}
