@import '../../styles/core-mixins.scss';

.Racebar {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include fullWidth;
  z-index: 1;
  box-shadow: 0 0 6px $zorroa-gray;
  padding: 8px;

  background-color: white;
  .dark & {
    background-color: black;
    box-shadow: none;
  }
}

.Racebar-wrap {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexWrap;
  @include flexOn;
}

.Racebar-right {
  position: relative; // FBO .Racebar-share-copy
  @include flexRow;
  @include flexAlignItemsCenter;
  @include fullHeight;
  padding-left: 8px;
  border-left: 1px solid $zorroa-nearwhite;
  .dark & { border-left: 1px solid $zorroa-dimgray; }
}

.Racebar-widget {
  margin: 2px 4px;
}

.Racebar-clear {
  @include zorroa-btn(60px, 28px, $zorroa-lightgray, $zorroa-nearwhite);
  color: $zorroa-greyish-brown;
  margin: 1px 4px;
  text-transform: uppercase;

  .dark & {
    @include zorroa-btn(60px, 28px, transparent, $zorroa-darkgray);
    color: $zorroa-whitegray;
  }

  &.disabled {
    @include zorroa-btn (60px, 28px, transparent, transparent);
    color: $zorroa-lightgray;
    cursor: default;
    .dark & { color: $zorroa-dimgray; }
  }
}

.Racebar-save {
  // height: 28px is same as .Racebar-share
  @include zorroa-btn(60px, 28px, $zorroa-water-blue, lighten($zorroa-water-blue, 15%));
  color: $zorroa-nearwhite;

  text-transform: uppercase;

  // flush against .Racebar share
  margin: 4px 0 4px 4px;
  border-radius: 3px 0 0 3px !important;

  &.disabled {
    @include zorroa-btn(60px, 28px, $zorroa-lightgray, $zorroa-lightgray);
    cursor: default;

    .dark & {
      @include zorroa-btn(60px, 28px, $zorroa-darkgray, $zorroa-darkgray);
      color: $zorroa-gray;
    }
  }
}

.Racebar-searchbar {
  height: 30px;
  margin-right: 8px;
  width: 320px;
}

.Racebar-clear-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;

  // Won't work until we make the home button a font icon
  .Racebar-clear.disabled & { color: $zorroa-lightgray; }
}

.Racebar-share {
  // height: 28px is same as .Racebar-save
  @include zorroa-btn(28px, 28px, darken($zorroa-water-blue, 15%), $zorroa-sickly-green);

  color: $zorroa-lightgray;

  font-size: 18px;
  margin-right: 8px;

  // flush against .Racebar-save
  border-radius: 0 3px 3px 0 !important;

  &:hover:not(.disabled) { color: white; }
  &.disabled {
    @include zorroa-btn(28px, 28px, $zorroa-lightgray, $zorroa-lightgray);
    color: $zorroa-nearwhite;
    .dark & { @include zorroa-btn(28px, 28px, $zorroa-darkgray, $zorroa-darkgray); color: $zorroa-gray; }
    cursor: default;
  }
}

.Racebar-share-copy {
  position: absolute;
  top: 45px;
  left: -40px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.Racebar-share-copy-anchor {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  left: 116px;
  z-index: -1;
  transform: rotate(45deg);
  background: black; // match .Racebar-share-copy
}

.Racebar-performed-action {
  position: absolute;
  @keyframes rise {
    0% { top: 50px; }
    80% { opacity: 1; }
    100% { top: 40px; opacity: 0; }
  }
  animation: rise 1s linear forwards;
  top: 45px;
  left: -40px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
