@import '../../styles/core-mixins.scss';

.Racetrack {

  @include flexCol;

  flex: 0.8;
  padding-left: 10px;
  padding-right: 10px;

  .Racetrack-widget {
    margin-top: 6px;
    background-color: #fff;
  }
}
