@import '../../styles/core-mixins.scss';

.SimilarHash {
  .WidgetHeader {
    color: $zorroa-nearwhite;
  }

  .Widget-icon {
    font-size: 20px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    padding-right: 10px;
  }
}

.SimilarHash-table {

  .SimilarHash-value-table-row:nth-child(odd) {
    background-color: $zorroa-nearwhite;
  }

  .SimilarHash-value-table-row {
    height: 25px;
    cursor: pointer;
    color: $zorroa-greyish-brown;
    &:hover { background-color: $zorroa-hover; }
    &.selected { background-color: $zorroa-selected; }
    &.selected:hover { background-color: $zorroa-hover; }
    &.disabled { color: $zorroa-lightgray; }
  }
}

.SimilarHash-body {
  padding: 10px;
}

.SimilarHash-value-cell {
  padding-left: 4px;
  padding-right: 4px;
  max-width: 0; // This looks weird, but is important! It allows cells to chop content
  @include clampText;
}

