@import '../../styles/core-mixins.scss';

.SimpleSearch {
  .WidgetHeader {
    color: $zorroa-nearwhite;
  }

  .Widget-icon {
    font-size: 20px;
  }

  .SimpleSearch-body {
    background-color: white;
    color: $zorroa-gray;
    display: flex;
    flex-direction: column;

    input {
      flex: 1;
      outline: none;
      background: none;
      border: 1px solid $zorroa-gray;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 500;
      line-height: 2em;
      margin: 12px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .SimpleSearch-toggles {
    @include flexRow;
    @include flexAlignItemsCenter;
    @include flexJustifySpaceBetween;
  }

  .SimpleSearch-clear-search {
    @include zorroa-square-btn-darken(20px);
    margin: 5px;
    border-radius: 2px;
    font-size: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .SimpleSearch-help {
    padding: 12px;
    width: 100%;
    text-align: right;
    a { text-decoration: none; }
  }
}
