@import '../../styles/core-mixins.scss';

.WidgetHeader {
  @include nowrap;
  width: 100%;
  height: 30px;
  text-transform: uppercase;
  font-weight: 100;
  filter: grayscale(100%) opacity(50%);
  cursor: pointer;
  color: $zorroa-gray;
  background-color: $zorroa-darkwhite;
  position: relative;
  & .WidgetHeader-enable { filter: none; }

  border-radius: 3px;
  .Widget.isOpen & { border-radius: 3px 3px 0 0; }
  .Widget.isOpen.isIconified & { border-radius: 3px; }
}

.WidgetHeader.isEnabled {
  filter: none;
}

.WidgetHeader-hover {
  @include flexCenter;
  @include flexAlignItemsCenter;

  width: 100%;
  height: 100%;

  background-color: transparent;
  &:hover { background-color: rgba(0,0,0,0.2); }
  .hoverField & {
    background-color: rgba(255,255,255,0.5);
  }
}

.WidgetHeader-toggle {
  max-width: 100%;
  min-width: 0;
  cursor: pointer;
}

.WidgetHeader-icon {
  @include zorroa-square-icon(20px);
  font-size: 16px;
  opacity: 0.5;
  margin-left: 4px;
  margin-right: 4px;
}

.WidgetHeader-label {
  @include clampText;
  max-width: 0;
}

.WidgetHeader-enable {
  @include flexOff;
  @include flexRowCenter;
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: none;
  font-size: 16px;
  margin-right: 8px;

  &:hover {
    // showing green is the intent, but the color is currently not visible due to parent's filter when disabled
    background-color: $zorroa-gray;
  }
  &.isEnabled:hover {
    background-color: $zorroa-faded-red;
  }
}

.WidgetHeader-close {
  font-size: 12px;
  position: absolute;
  right: -9px;
  top: -9px;
  color: $zorroa-greyish-brown;
  filter: none;
  padding: 2px;
  border-radius: 3px;
  opacity: 0;
  .WidgetHeader:hover & { opacity: 1; }
  &:hover { color: red; background-color: white; }
}

.WidgetHeader-caret {
  font-size: 16px;
  width: 20px;
  min-width: 20px;
  max-width: 16px;
}

.WidgetHeader-header {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
  @include fullWidth;
  @include noSelect;

  max-width: 100%;
  @include clampText;
  flex-shrink: 1;
}

.WidgetHeader-header-label {
  @include flexRow;
  @include flexOn;
  @include flexAlignItemsCenter;
  max-width: 100%;
}

.WidgetHeader-header-title {
  @include flexOff;
  font-weight: 100;
  font-size: 12px;
  margin-right: 4px;
  cursor: pointer;
  max-width: 100%;
  @include clampText;
}

.WidgetHeader-header-field {
  @include flexOn;
  font-family: "Roboto Condensed";
  font-weight: 400;
  cursor: pointer;
  max-width: 100%;
  @include clampText;
}

.WidgetHeader-pin {
  @include zorroa-square-btn-darken(20px);
}

.WidgetHeader-pin-img {
  width: 16px;
  height: 16px;

  &.isPinned { transform: rotate(-45deg); }
}

.WidgetHeader-collapse {
  margin-left: 4px;
  margin-right: 8px;
  &.isOpen { transform: rotate(180deg); }
}
