@import '../../styles/core-mixins.scss';

.Widget {
  position: relative;
}

.Widget-body {
  filter: grayscale(100%) opacity(50%);
  min-width: 100%;
  .dark & { color: $zorroa-whitegray; background-color: black; }

  &.floatBody {
    z-index: 10000;
    background-color: white;
    .dark & { color: $zorroa-whitegray; background-color: black; }
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 20px 30px 0 $zorroa-darkgray;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;

    .dark & { box-shadow: 0 20px 30px 0 black; }
  }
}

.Widget.isEnabled .Widget-body {
  filter: none;
}
