@import './core-mixins.scss';

$zorroa-color-text: $zorroa-black;
$zorroa-dark-color-text: $zorroa-white;

$zorroa-color-link-text: $zorroa-water-blue;
$zorroa-color-link-text-hover: $zorroa-navy-blue;

$zorroa-color-headline: $zorroa-color-gray-dark-2;
$zorroa-dark-color-headline: $zorroa-color-gray-dark-4;

$zorroa-color-danger: $zorroa-faded-red;
$zorroa-color-border: $zorroa-gray;
