$zorroa-metric-base: 10px;

$zorroa-color-blue-1: #4160b8;
$zorroa-color-blue-2: #387ca3;
$zorroa-color-blue-3: #4ba8d7;
$zorroa-color-blue-4: #39897e;
$zorroa-color-blue-5: #54a8a8;

$zorroa-color-black: #1f1a17;
$zorroa-color-black-2: #161616;
$zorroa-color-white: #ffffff;

$zorroa-color-gray-dark-1: #1f1a17;
$zorroa-color-gray-dark-2: #4d4948;
$zorroa-color-gray-dark-3: #808080;
$zorroa-color-gray-dark-4: #b3b3b3;
$zorroa-color-gray-light-1: #e1e1e1;
$zorroa-color-gray-light-2: #e7e7e7;

$zorroa-color-green-1: #73b61c;
$zorroa-color-green-2: #89c366;
$zorroa-color-green-3: #b4a50b;
$zorroa-color-green-4: #51af5f;
$zorroa-color-green-5: #55c39e;
$zorroa-color-green-brand: #b7df4d;
$zorroa-color-green-link: #82a626;

$zorroa-color-orange-1: #ee7f29;
$zorroa-color-orange-2: #e88808;
$zorroa-color-orange-3: #ebb52d;
$zorroa-color-orange-4: #f6a72a;
$zorroa-color-orange-5: #e68305;

$zorroa-color-pink-1: #ce2d3f;
$zorroa-color-pink-2: #c05a5c;
$zorroa-color-pink-3: #fb8681;
$zorroa-color-pink-4: #e38eaa;
$zorroa-color-pink-5: #bd3270;

$zorroa-color-purple-1: #753689;
$zorroa-color-purple-2: #734876;
$zorroa-color-purple-3: #8466b3;
$zorroa-color-purple-4: #a672b6;
$zorroa-color-purple-5: #757bd3;

$zorroa-color-brown-1: #744e19;
$zorroa-color-brown-2: #976a50;
$zorroa-color-brown-3: #95794b;

$zorroa-color-yellow-1: #ffd000;
$zorroa-color-yellow-2: #f5cc6c;
