@import '../../styles/core-mixins.scss';

.Progress {
  .background {
    fill: none;
    stroke: $zorroa-gray;
  }

  .foreground {
    fill: none;
    transition: stroke-dashoffset .15s ease-in-out;
    stroke: $zorroa-nearwhite;
  }

  .text {
    font-size: 18px;
    fill: $zorroa-gray;
    transform: translate(0 50%);
  }
}
