@import '../../styles/core-mixins.scss';

.AclEditor {
  @include fullWidth;
  @include flexColCenter;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

.AclEditor-acl {
  @include fullWidth;
  padding: 20px;
  border-bottom: 1px solid $zorroa-nearwhite;
  min-height: 200px;
}

.AclEditor-shared-with {
  max-width: 100%;
  width: auto;
  @include flexCol;
  margin-bottom: 10px;
}

.AclEditor-empty {
  @include flexColCenter;
  margin-top: 40px;
}

.AclEditor-empty-icon {
  font-size: 48px;
  color: $zorroa-lightgray;
}

.AclEditor-empty-label {
  color: $zorroa-lightgray;
}

.AclEditor-controls {
  @include flexCol;
  margin-top: 20px;
}

.AclEditor-perms-input {
  padding: 0;
  margin: 0 !important;
  background: transparent;
  z-index: 1;
  input {
    padding: 0;
  }
}

.AclEditor-perms-tick-row {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
}

.AclEditor-perms-tick {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: $zorroa-gray;

  &.ticked {
    background-color: $zorroa-sickly-green;
    border: none;
  }

  &.medium {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }

  &.large {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
}

.AclEditor-filter-permission {
  position: relative;
  margin-top: 20px;
  margin-bottom: 16px;
  margin-left: 10px;
  margin-right: 30px;

  div[class*='icon-'] {
    position: absolute;
    left: 0;
    bottom: 4px;
    color: $zorroa-gray;
  }
}

.AclEditor-filter-permission-input {
  @include fullWidth;

  color: $zorroa-gray;
  background: none;
  border: none;
  border-bottom: 1px solid $zorroa-lightgray !important;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 4px;

  font-size: 12px;
}

.AclEditor-permissions {
  margin-top: 20px;

  input[type='checkbox'] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 4px 8px;
  }

  .AclEditor-permission {
    display: flex;
    color: $zorroa-gray;
    font-size: 12px;
    min-height: 20px;
    width: 214px;
  }

  .AclEditor-permission-name {
    @include clampText;
    margin-top: $zorroa-metric-base / 5;
    margin-left: 4px;
  }

  .AclEditor-permission-icon {
    font-size: 15px;
  }

  div[class*='icon-'] {
    font-size: 12px;
    margin-right: 4px;
    color: $zorroa-gray;
    opacity: 0.8;
  }
}

.AclEditor-permission-title {
  text-transform: uppercase;
  color: $zorroa-gray;
  font-size: 13px;
  line-height: 1.5em;
}

.AclEditor-permission-items {
  min-height: 120px;
  max-height: 120px;
  overflow-y: auto;
}

.AclEditor-perm-slider {
  position: relative;
  width: 60px;
  margin-right: 4px;
  @include flexRow;
  @include flexAlignItemsCenter;

  // No good way to style the lower filled portion of a slider in Chrome.
  // So we use the input for control, but progress + div-based ticks for display.
  input::-webkit-slider-thumb {
    border: none;
    width: 6px;
    height: 6px;
    margin-top: -2px;
    margin-bottom: 0;
    color: transparent;
  }

  input::-webkit-slider-runnable-track {
    background: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2px;
    border-radius: 2px;
  }

  input::-moz-range-thumb {
    border: none;
    width: 6px;
    height: 6px;
  }

  input::-moz-range-track {
    background: $zorroa-gray;
    border: none;
    height: 2px;
    outline: none;
  }

  input::-moz-range-progress {
    background: $zorroa-sickly-green;
    border: none;
    height: 2px;
    outline: none;
  }

  input[type='range']::-moz-focus-outer {
    border: 0; // Removes focus dotted outline
  }

  .AclEditor-perm-progress {
    @include fullWidth;
    position: absolute;
    z-index: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2px;
    background: none;

    &::-webkit-progress-bar {
      background-color: $zorroa-gray;
    }

    &::-webkit-progress-value {
      color: transparent;
      background-color: $zorroa-sickly-green;
    }
  }
}

.AclEditor-selected-permission {
  color: $zorroa-greyish-brown;
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 2px 4px;

  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;

  [class*='icon-'] {
    font-size: 15px;
    margin-right: 4px;
    margin-left: 4px;
    color: $zorroa-gray;
  }

  .icon-cross {
    font-size: 8px;
  }

  .icon-cross:hover {
    color: $zorroa-sickly-green;
  }

  .AclEditor-selected-permission-name {
    margin-left: 6px;
  }
}

.AclEditor-selected-permission-username {
  @include flexRow;
  @include flexAlignItemsCenter;
  flex: 1;
  overflow: hidden;
}

.AclEditor-selected-permission-username-truncate {
  @include clampText;
  padding-right: $zorroa-metric-base / 2;
}

.AclEditor-shared-with-permissions {
  max-height: 122px;
  overflow-y: auto;
}

.AclEditor-shared-with-title {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  font-size: 12px;
  font-stretch: condensed;
  color: $zorroa-gray;
  text-transform: uppercase;
  padding-left: 9px;
  margin-left: 4px;
  margin-top: 10px;
  padding-bottom: 2px;
  margin-bottom: 0px;
  border-bottom: 1px solid $zorroa-nearwhite;
}

.AclEditor-shared-with-perm-icons {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;

  width: 64px;
  margin-right: 26px;

  [class*='icon-'] {
    font-size: 12px;

    &:hover {
      color: $zorroa-sickly-green;
    }
  }
}

.AclEditor-perm-slider-container {
  @include flexRow;
  @include flexAlignItemsCenter;
}
