@import '../../styles/core-mixins.scss';

$title-height: 20px;
$title-margin: 20px;
$total-title-height: $title-height + ($title-margin * 2);
$toggle-height: 15px;

.ExportsSection {
  border: 0;
  padding: 0 20px 0 0;
  max-height: $total-title-height;
  overflow: hidden;
  position: relative;
  transition: max-height 400ms ease-in-out;
  border-bottom: 1px solid $zorroa-color-gray-dark-3;

  &--opened {
    max-height: 500px;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: $title-height;
    height: $title-height;
    margin: $title-margin 0;
  }

  &__toggle {
    position: absolute;
    top: ($total-title-height / 2) - ($toggle-height / 2);
    right: 0;
    font-family: sans-sans-serif;
    border: 1px solid $zorroa-color-gray-dark-2;
    color: $zorroa-color-gray-dark-2;
    background: transparent;
    width: $toggle-height;
    height: $toggle-height;
    padding: 0;
    border-radius: 1px;
    font-size: 12px;
    line-height: 5px;
    text-align: center;
  }
}
