@import '../../styles/core-mixins.scss';

.FieldTemplate {
  @include flexCol;
  background: rgba($zorroa-color-white, .9);
}

.FieldTemplate-group {
  @include flexRow;
}

.FieldTemplate-field {
  @include flexRow;
}

.FieldTemplate-label {
  font-family: Roboto Condensed;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}
