@import '../../styles/core-mixins.scss';

.Jobs {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-bottom: 9px;
}

.Jobs-controls {
  @include flexCol;
  height: auto;
  background-color: white;
  .dark & { background-color: black; color: $zorroa-whitegray; }
}

.Jobs-scroll {
  position: relative;
  // max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.Jobs-body {
  @include flexCol;
  max-height: 30vh;
  overflow: auto;
}

.Jobs-filter-add {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
}

.Jobs-sort-selected {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
}

.Jobs-filter {
  position: relative;
  margin: 8px 12px 8px 4px;
  @include flexOn;
  @include flexRow;

}

.Jobs-filter-icon {
  position: absolute;
  right: 8px;
  font-size: 16px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  height: 16px;
  color: $zorroa-lightgray;
  .dark & { color: $zorroa-dimgray; }
}

.Jobs-filter-input {
  @include flexOn;
  height: 26px;
  border-radius: 3px;
  background: none;
  border: 1px solid $zorroa-lightgray;
  .dark & { background: $zorroa-whitegray; color: $zorroa-greyish-brown; border: 1px solid $zorroa-dimgray; }
  padding: 8px;
  padding-right: 42px;
  font-size: 12px;
}

.Jobs-controls-add {
  @include flexRowCenter;
  color: white;
  background-color: $zorroa-navy-blue;
  border-radius: 3px;
  padding: 6px 8px;
  cursor: pointer;
  margin-right: 8px;

  .icon-import2 { margin-top: -4px; }   // Felt too low otherwise

  &.disabled {
    cursor: not-allowed;
    background-color: $zorroa-lightgray;
    .dark & { background-color: $zorroa-darkgray; color: $zorroa-gray; }
  }

  &:not(.disabled) {
    &:hover {
      background-color: darken($zorroa-navy-blue, 15%);
    }
    &:active {
      color: $zorroa-nearwhite;
      background-color: darken($zorroa-navy-blue, 15%);
    }
  }
}

.Jobs-controls-add-label {
  margin-left: 6px;
  font-size: 12px;
}

.Jobs-header-sort {
  @include flexRowCenter;
  @include flexOff;
  height: 24px;
  width: 16px;
  padding-right: 4px; // This compensates for the slight offset of icon-sort*
  font-size: 11px;
  cursor: pointer;
  border-radius: 3px;
  color: $zorroa-lightgray;
  margin-left: 4px;

  .dark & { color: $zorroa-gray; }

  &.icon-sort {
    color: $zorroa-nearwhite;
    .dark & {
      color: $zorroa-darkgray;
      &:hover { color: white; }
    }
  }

  &:hover {
    background-color: $zorroa-sickly-green;
    color: white;
  }
}

.Jobs-selected {
  @include flexRow;
  @include flexAlignItemsCenter;
  color: $zorroa-lightgray;
  font-size: 12px;
  margin-right: 8px;
  text-transform: lowercase;
}

.Jobs-deselect-all {
  font-size: 10px;
  margin-left: 2px;
  border-radius: 3px;
  @include zorroa-square-btn(20px);
  &:hover {
    background-color: $zorroa-nearwhite;
    color: $zorroa-sickly-green;
  }
}

.Jobs-cancel-filter {
  @include flexRowCenter;
  font-size: 10px;
  color: $zorroa-lightgray;
  position: absolute;
  right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  height: 16px;
  cursor: pointer;

  &:hover { color: $zorroa-gray; }
}

.Jobs-empty {
  @include flexColCenter;
  background-color: white;
  padding-top: 8px;
  .dark & { background-color: black; }
}

.Jobs-empty-icon {
  font-size: 40px;
  color: $zorroa-lightgray;
  .dark & { color: $zorroa-gray; }
}

.Jobs-empty-label {
  margin-bottom: 10px;
  color: $zorroa-lightgray;
  .dark & { color: $zorroa-gray; }
}

.Jobs-job {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  color: $zorroa-whitegray;
  padding: 4px;
  cursor: pointer;
  background-color: #f1f1f1;
  min-height: 24px;

  .dark & { background-color: $zorroa-mattblack; }
  &:nth-child(even) {
    background-color: white;
    &.isSelected {
      background-color: $zorroa-selected;
      .dark & { background-color: $zorroa-dark-selected; }
    }
    .dark & { background-color: black; }
  }

  &.isSelectable:hover:not(.isSelected) {
    background-color: $zorroa-hover;
    .dark & { background-color: $zorroa-dark-hover; }
  }

  &.isSelected {
    background-color: $zorroa-selected;
    .dark & { background-color: $zorroa-dark-selected; }
  }
}

.Jobs-header {
  @include flexRow;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid $zorroa-lightgray;
  .dark & { border-bottom: 1px solid $zorroa-darkgray; background-color: black; }
}

.Jobs-header-title {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-left: 4px;
  font-family: "Roboto Condensed";
  .dark & { color: $zorroa-gray; }
}

.Jobs-job-name {
  @include nowrap;
  @include clampText;
}

.Jobs-job-date {
  @include nowrap;
  @include clampText;
}

.Jobs-progress {
  min-width: 50px;
}

.Jobs-status {
  @include flexCol;
}

.Jobs-warning {
  @include flexRowCenter;
  color: $zorroa-golden-yellow;
}

.Jobs-warning-icon {
  color: $zorroa-golden-yellow;
  margin-right: 8px;
}

.Jobs-error {
  @include flexRowCenter;
  color: $zorroa-faded-red;
}

.Jobs-error-icon {
  color: $zorroa-faded-red;
  margin-right: 8px;
}

.Jobs-success {
  @include flexRowCenter;
  color: $zorroa-avocado-green;
}

.Jobs-success-icon {
  color: $zorroa-avocado-green;
  margin-right: 8px;
}

.Jobs-download {
  @include flexRowCenter;
  text-decoration: none;
  color: white;
  background-color: $zorroa-gray;
  border-radius: 3px;
  width: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-self: center;
  font-size: 12px;

  &.notDownloaded {
    color: white;
    background-color: $zorroa-sickly-green;
    &:hover { background-color: darken($zorroa-sickly-green, 15%); }
  }

  &:hover:not(.notDownloaded) {
    background-color: $zorroa-sickly-green;
    color: white;
  }
}
