@import '../../styles/core-mixins.scss';

.Metadata2 {

  background-color: white;

  &.dark { background-color: rgba(0,0,0,0.65); }

  @include flexCol;
  .Metadata2-header {
    @include flexRow;
    @include flexJustifySpaceBetween;
    @include flexAlignItemsCenter;
    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 8px;
    min-height: 44px;
    border-bottom: 1px solid $zorroa-nearwhite;

    .Metadata2.dark & { border-bottom: 1px solid $zorroa-darkgray; }
  }

  .Metadata2-body {
    margin-bottom: 10px;
    position: relative;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.Metadata2-scroll {
}

.Metadata2-favorites {
  @include flexRowCenter;
  margin-left: 4px;
  margin-right: 8px;
  border-radius: 3px;
  color: $zorroa-gray;
  background-color: $zorroa-nearwhite;
  width: 26px;
  height: 26px;
  cursor: pointer;
  border: none;

  .Metadata2.dark & {
    color: $zorroa-gray;
    background-color: $zorroa-darkgray;
  }

  &.isSelected { color: $zorroa-golden-yellow; }

  &:hover {
    background-color: transparent;
    border: 1px solid $zorroa-nearwhite;
  }
}

.Metadata2-nulls {
  @extend .Metadata2-favorites;
  margin-left: 8px;
  margin-right: 4px;
  &.isSelected {
    color: darkred;
    .Metadata2.dark & { color: darkred; }
  }
}

.Metadata2-item-widget {
  @include flexRowCenter;
  font-size: 12px;
  color: $zorroa-lightgray;
  width: 25px;
  height: 25px;

  .Metadata2.dark & { color: $zorroa-darkgray; }
}

.Metadata2-resizer {
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
}

.Metadata2-namespace {
  @include flexRow;
  @include flexJustifySpaceBetween;
  padding: 8px;
  border-top: 1px solid $zorroa-nearwhite;
  font-size: 12px;
  font-weight: 500;
  color: $zorroa-darkgray;

  .Metadata2.dark & {
    border-top: 1px solid $zorroa-darkgray;
    color: $zorroa-lightgray;
  }

  &:not(.isSelected):hover {
    background-color: $zorroa-hover;
    .Metadata2.dark & { background-color: rgba(255,255,255, 0.1); }
  }
}

.Metadata2-namespace-toggle {
  font-size: 10px;
  font-weight: 100;

  // icon-chevron-down doesn't line up exactly when rotated, so adjust
  &.isOpen {
    transform: rotate(180deg);
    transform-origin: 44% 50%;
  }
}

.Metadata2-leaf {
  @include flexRow;
  @include flexAlignItemsCenter;
  align-items: stretch;
  padding-left: 12px;
  padding-right: 8px;

  &:not(.isSelected):hover {
    background-color: $zorroa-hover;
    .Metadata2.dark & { background-color: rgba(255,255,255, 0.1); }
  }
  &.isSelected { background-color: $zorroa-selected; }
}

.Metadata2-leaf-title {
  @include flexRow;
  @include flexAlignItemsStart;
  cursor: default;
  padding-top: 6px;
}

.Metadata2-leaf-title-head {
  @include noSelect;
  @include clampText;
  @include nowrap;
  font-family: "Roboto Condensed";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: $zorroa-gray;
  font-weight: 400;

  .Metadata2.dark & { color: $zorroa-gray; }
}

.Metadata2-leaf-title-tail {
  @include noSelect;
  @include clampText;
  @include nowrap;
  font-family: "Roboto Condensed";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: $zorroa-lightgray;
  font-weight: 400;
  margin-left: 4px;

  .Metadata2.dark & { color: $zorroa-gray; }
}

.Metadata2-value {
  border-left: 1px solid $zorroa-nearwhite;
  .Metadata2.dark & { border-left: 1px solid $zorroa-darkgray; }
  @include flexOn;
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
}

.Metadata2-value-various {
  border-left: 1px solid $zorroa-nearwhite;
  color: $zorroa-lightgray;
  font-style: italic;
  padding: 4px;
  font-size: 12px;
  .Metadata2.dark & {
    color: $zorroa-gray;
    border-left: 1px solid $zorroa-darkgray;
  }
}

.Metadata2-value-null {
  border-left: 1px solid $zorroa-nearwhite;
  padding: 4px;
  color: $zorroa-lightgray;
  font-style: italic;
  font-size: 12px;
  .Metadata2.dark & {
    color: $zorroa-gray;
    border-left: 1px solid $zorroa-darkgray;
  }
}

.Metadata2-no-assets {
  @include flexColCenter;
  color: $zorroa-lightgray;
  margin-top: 10px;
  padding-bottom: 20px;
  .Metadata2.dark & { color: $zorroa-darkgray; }
}

.Metadata2-no-assets-icon {
  margin-bottom: 10px;
  font-size: 40px;
  color: $zorroa-lightgray;
  .Metadata2.dark & { color: $zorroa-gray; }
}
