.FileIcon {
  enable-background: 'new 0 0 15 20';
  height: 25px;

  .small & {
    height: 15px;
  }
}

.FileIcon-path {
  fill: currentColor;
}

.FileIcon-text {
  fill: #FFFFFF;
  font-family: 'Roboto Condensed';
  font-size: 6px;
}
