.collapsible {
}

.collapsible-header {
}

.collapsible-caret-open {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  margin-right: 5px;
  vertical-align: middle;
  width: 0;
  align-self: center;
}

.collapsible-caret-closed {
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  display: inline-block;
  height: 0;
  margin-left: 3px;
  margin-right: 8px;
  vertical-align: middle;
  width: 0;
  align-self: center;
}
