@import '../../styles/core-mixins.scss';

.Collapsible {
  .scroller > & {
    margin-bottom: 5px;
  }
  border-radius: 3px;
  overflow:hidden;
}

.CollapsibleHeader {
  @include nowrap;
  height: 40px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  color: $zorroa-greyish-brown;
  background-color: $zorroa-darkwhite;

  &.isOpen {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(.isSelected):hover {
    background-color: $zorroa-whitegray;
  }

  &.isSelected {
    color: white;
    background-color: $zorroa-water-blue;
  }
}


.CollapsibleHeader-select {
  @include clampText;

  // reset padding when iconified so the icon can center
  &.isIconified {
    @include flexJustifyCenter;
  }
  &.isSelected { background-color: $zorroa-water-blue; }
}

.CollapsibleHeader-icon {
  height: 40px;
  width: 40px;
  font-size: 20px;
}

.CollapsibleHeader-label {
  @include clampText;
  @include noSelect;
  @include flexRow;
  @include flexAlignItemsCenter;
  cursor: pointer;
}

.CollapsibleHeader-open {
  width: 40px;
  &.isSelected { background-color: $zorroa-water-blue; }
}

.CollapsibleHeader-caret {
  font-size: 15px;
  width: 16px;
  min-width: 16px;
  max-width: 16px;

  // icon-chevron-down doesn't line up exactly when rotated, so adjust
  &.isOpen {
    transform: rotate(180deg);
    transform-origin: 44% 50%;
  }
}
