@import '../../styles/core-mixins.scss';

.collapsible-caret {
  font-size: 0px;
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  margin-right: 1em;
}


.collapsible {

  &.parent .collapsible-caret {
    font-size: 20px;
  }

  &.open .collapsible-caret {
    transform: rotate(90deg);
  }
}

.collapsible-header {
  @include nowrap;
  height: 40px;
  padding: 5px;
  background-color: $zorroa-lightgray;
}
