@import '../../styles/core-mixins.scss';

.CollapsibleHeader {
  @include nowrap;
  height: 40px;
  text-transform: uppercase;
  font-weight: 100;
  overflow: hidden;

  color: $zorroa-gray;
  background-color: #d8d8d8;
  &.isSelected {
    color: white;
    background-color: $zorroa-water-blue;
  }

  // Hover rules were removed so that Metadata & FolderItem can easily customize
}

.CollapsibleHeader-select {
  @include clampText;

  // reset padding when iconified so the icon can center
  &.isIconified {
    @include flexJustifyCenter;
  }
  &:hover { background-color: darken(#d8d8d8, 15%); }
  &.isSelected { background-color: $zorroa-water-blue; }
}

.CollapsibleHeader-icon {
  height: 40px;
  width: 40px;
}

.CollapsibleHeader-label {
  @include clampText;
}

.CollapsibleHeader-open {
  width: 40px;
  &:hover { background-color: darken(#d8d8d8, 15%); }
  &.isSelected { background-color: $zorroa-water-blue; }
}

.CollapsibleHeader-caret {
  font-size: 15px;
  width: 16px;
  min-width: 16px;
  max-width: 16px;

  // icon-chevron-down doesn't line up exactly when rotated, so adjust
  &.isOpen {
    transform: rotate(180deg);
    transform-origin: 44% 50%;
  }
}
