@import '../../styles/core-mixins.scss';

.collapsible-caret {
  font-size: 0px;
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  margin-right: 1em;
  display: none;
}


.collapsible {

  &.parent > .collapsible-header > .collapsible-caret {
    font-size: 18px;
    display: block;
  }

  &.open  > .collapsible-header > .collapsible-caret {
    transform: rotate(180deg);
  }
}

.collapsible-header {
  @include nowrap;
  height: 40px;
  padding: 5px;
  background-color: $zorroa-lightgray;
  margin-bottom: 5px;

  .collapsible-header-icon {
    margin-right: 1em;
  }
}
