@import '../../styles/core-mixins.scss';

.modal-container {
  $BACKGROUND_COLOR: white;
  $BORDER_RADIUS: 3px;
  $DIVIDE_BORDER: 1px solid $zorroa-nearwhite;

  background-color: rgba(0,0,0, .5);
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 100000;
  @include flexRowCenter;

  .modal-csstg {
    @include flexRowCenter;
  }

  .modal {
    margin: 0 auto;
    background-color: $BACKGROUND_COLOR;
    border-radius: $BORDER_RADIUS;
    box-shadow: 10px 10px 32px -10px rgba(0,0,0,0.75);
    position: relative;
    overflow: hidden;
    cursor: default;

    &.modal-appear {
      opacity: 0.01;
    }

    &.modal-appear.modal-appear-active {
      opacity: 1;
      transition: all 60ms linear;
    }

    &.modal-leave {
      opacity: 1;
    }

    &.modal-leave.modal-leave-active {
      opacity: 0.01;
      transition: all 60ms linear;
    }
  }

  .modal-header {
    line-height: 2;
    text-align: left;
    text-transform: uppercase;;
    z-index: 1;
  }

  .modal-footer {
    background: $BACKGROUND_COLOR;
    border-top: $DIVIDE_BORDER;
    min-height: 20px;
  }
}

.modal-container--clickable {
  cursor: pointer;
}
