@import '../../../styles/core-mixins.scss';
@import '../../../styles/colors.scss';

.Theme {
  &__form {
    margin-top: $zorroa-metric-base * 3;
  }

  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__field {
    width: calc(50% - #{$zorroa-metric-base});

    &:nth-child(even) {
      margin-left: $zorroa-metric-base * 2;
    }
  }

  &__logo {
    max-height: $zorroa-metric-base * 3;
    width: auto;
  }

  &__logo-preview-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: $zorroa-metric-base * 2;
  }

  &__logo-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $zorroa-metric-base * 6;
    padding: $zorroa-metric-base $zorroa-metric-base * 2;

    &--light {
      background-color: $zorroa-color-gray-light-1;
    }

    &--dark {
      background-color: $zorroa-color-gray-dark-1;
    }
  }
}
