@import '../../styles/core-mixins.scss';
@import '../../styles/colors.scss';

.DropdownMenu {
  background: $zorroa-color-white;
  box-shadow: 0 4px 6px rgba($zorroa-color-black, 0.2);

  &--dark {
    background: $zorroa-color-black;
    box-shadow: 0 4px 6px rgba($zorroa-color-black, 0.9);
  }

  &__group {
    padding: $zorroa-metric-base / 2 0;
    border: 0 solid $zorroa-color-gray-light-2;

    &--dark {
      border-color: $zorroa-color-gray-dark-2;
    }

    & ~ .DropdownMenu__group {
      border-top-width: 1px;
    }
  }

  &__font-icon {
    margin-right: $zorroa-metric-base;
  }

  &__item {
    padding: $zorroa-metric-base $zorroa-metric-base * 2;
    white-space: nowrap;
    color: $zorroa-color-gray-dark-2;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    &:hover {
      background-color: $zorroa-color-gray-light-2;
    }

    &--dark {
      color: $zorroa-color-gray-light-2;

      &:hover {
        background-color: $zorroa-color-gray-dark-2;
      }
    }

    &--disabled {
      opacity: .5;
      cursor: not-allowed;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
