@import '../../styles/core-mixins.scss';

.Searchbar {
  // Remove box highling when focused
  .searchbar:focus {
    outline: none;
  }
}

  // Form layout
.Searchbar-body {
  font-size: 20px;

  // Magnifying glass
  .search-button {
    padding-left: 12px;
    border: none;
    background: none;
    cursor: pointer;
    color: $zorroa-sickly-green;
    font-size: 20px; // TODO: see if we can delete this when bootstrap is gone
  }
}
