@import '../../styles/core.scss';

// Form layout
.searchbar-group {
  display: flex;
}

// Magnifying glass
.searchbar-button {
  padding: 0 0 0 12px;
  border: none;
  background: none;
  color: $zorroa-sickly-green;
  font-size: 18pt;
}

// Underline-only bar
.searchbar {
  background: transparent;
  border: none;
  width: 347px;
  border-bottom: 2px solid $zorroa-sickly-green;
}

// Remove box highling when focused
.searchbar:focus {
  outline: none;
}
