@import '../../styles/core-mixins.scss';

// Form layout
.searchbar-group {
  font-size: 20px;
}

// Magnifying glass
.searchbar-button {
  padding-left: 12px;
  border: none;
  background: none;
  color: $zorroa-sickly-green;
  font-size: 20px; // TODO: see if we can delete this when bootstrap is gone
}

// Underline-only bar
.searchbar {
  background: transparent;
  border: none;

  width: 100%;

  border-bottom: 2px solid $zorroa-sickly-green;
  font-size: 16px; // TODO: see if we can delete this when bootstrap is gone
}

// Remove box highling when focused
.searchbar:focus {
  outline: none;
}

.searchbar-suggestions {
  box-sizing: border-box;
  position:relative;
  padding: 0;
  margin: 0;

  ul {
    background-clip: padding-box;
    background-color: rgba(255,255,255,0.85);
    border-radius: 3px;
    border: 1px solid $zorroa-lightgray;
    box-sizing: border-box;
    list-style-type: none;
    margin: 2px 0 0;
    padding: 8px 8px;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px 0 $zorroa-darkgray;

    // Could not figure out how to make this match the <input>
    width: 89%;
  }

  li {
    width: 100%;
    color: $zorroa-darkgray;
    line-height: 1.5;

    &:hover {
      color: $zorroa-sickly-green;
    }
  }
}
