@import '../../../styles/core-mixins.scss';

.Filmstrip {
  overflow: hidden;
  width: 100%;
  font-size: 0;
  background-color: $zorroa-color-black;
  padding: 0 5px 5px;
  flex-grow: 1000;
  position: relative;

  &:hover {
    overflow-x: scroll;
  }

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &__container {
    white-space: nowrap;
    height: 100%;
    margin-top: 5px;
  }

  &__image {
    display: inline-block;
    border: 0;
    cursor: pointer;

    & ~ .Filmstrip__image {
      margin-left: 5px;
    }
  }

  &__dragger {
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: ns-resize;
    position: absolute;
  }
}
