@import '../../styles/core-mixins.scss';

.CreateImport {
  &.modal {
    overflow: visible;
  }
}

.CreateImport-header {
  text-transform: uppercase;
  color: white;
  background-color: black;
  height: 40px;

  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;

  .CreateImport-header-icon {
    @include zorroa-square-icon(40px);
    font-size: 20px;
  }

  .CreateImport-header-close {
    @include zorroa-square-btn-lighten(40px);
  }
}

.CreateImport-title {
  @include flexRow;
  @include flexAlignItemsCenter;
}

.CreateImport-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.CreateImport-footer {
  border: none;
  border-top: 1px solid $zorroa-lightgray;
  min-height: 72px;
  max-height: 72px;
  padding: 0;

  @include flexRow;
  @include flexJustifyCenter;

  button {
    margin: 12px;
    padding: 12px 30px;
    border: none;
    border-radius: 3px;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    color: $zorroa-lightgray;
    @include nowrap;

    &:hover {
      color: white;
      background-color: $zorroa-lightgray;
    }

    &.default {
      color: $zorroa-nearwhite;
      background-color: $zorroa-sickly-green;

      &.isDisabled {
        background-color: $zorroa-lightgray;

        &:hover {
          color: $zorroa-nearwhite;
        }
      }

      &:hover {
        color: white;
      }
    }

    &.disabled {
      background-color: $zorroa-lightgray;

      &:hover {
        color: $zorroa-nearwhite;
      }
    }
  }
}

.CreateImport-package-name {
  position: relative;
  margin-top: 8px;
  height: 30px;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

.CreateImport-package-label {
  font-size: 12px;
  font-family: "Roboto Condensed";
  font-weight: 100;
  text-transform: uppercase;
  color: $zorroa-lightgray;
  margin-left: 20px;
  margin-right: 20px;
}

.CreateImport-package-name-input {
  @include fullWidth;
  font-size: 14px;
  border-radius: 3px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;  // Space for cancel
  border: 1px solid $zorroa-lightgray;
}

.CreateImport-package-name-cancel {
  color: $zorroa-lightgray;
  position: absolute;
  right: 8px;
  font-size: 12px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;

  &:hover {
    color: $zorroa-sickly-green;
  }
}

.CreateImport-activity-region {
  height: 240px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  @include flexCol;
}

$dropcolor: rgba(115, 182, 28, 0.1);

.CreateImport-dropzone {
  @include flexCol;
  @include flexAlignItemsCenter;
  @include flexJustifyCenter;
  @include fullHeight;

  background-color: $dropcolor;
  border-radius: 3px;
  border: 1px dashed $zorroa-sickly-green;

  font-size: 24px;
  margin-bottom: 8px;
  padding-top: 50px;

  color: $zorroa-lightgray;
  text-transform: uppercase;

  &.isDroppable {
    color: white;
    background-color: $zorroa-dropzone;
    border: 1px solid $zorroa-sickly-green;
  }
}

.CreateImport-dropzone-label {
}

.CreateImport-dropzone-options {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifyCenter;

  margin-top: 20px;
  margin-bottom: 30px;

  .isDroppable & {
    visibility: hidden;
  }
}

.CreateImport-dropzone-option-label {
  color: $zorroa-lightgray;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 10px;
}

.CreateImport-dropzone-select-file {
  @include flexRow;
  @include flexJustifyCenter;
}

.CreateImport-dropzone-select-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.CreateImport-dropzone-select-file-label {
  color: white;
  background-color: $zorroa-lightgray;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-size: 12px;
  &:hover {
    color: white;
    background-color: $zorroa-sickly-green;
  }
}

.CreateImport-dropzone-server-path {
  color: $zorroa-hover;
  font-size: 12px;
  align-self: center;
  @include flexOff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;

  &:hover {
    color: white;
    background-color: $zorroa-gray;
    border-radius: 3px;
  }
}

.CreateImport-pipelines {
  @include flexCol;
  margin-top: 10px;
  margin-bottom: 10px;
}

.CreateImport-pipelines-header {
  @include fullWidth;
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  height: 40px;
  background-color: $zorroa-nearwhite;
  margin-top: 10px;
  margin-bottom: 20px;
}

.CreateImport-pipelines-body {
  @include flexRow;
  @include flexWrap;
  max-height: 240px;
  overflow-y: auto;
}

.CreateImport-pipeline-filter {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-left: 20px;

  .icon-search {
    color: $zorroa-gray;
  }
}

.CreateImport-pipeline-input {
  width: 200px;
  border: none;
  border-bottom: 1px solid $zorroa_gray;
  padding-bottom: 4px;
  background: transparent;
}

.CreateImport-pipeline-script-info {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-right: 20px;
}

.CreateImport-pipeline-script-info-label {
  text-transform: capitalize;
  @include nowrap;
  color: $zorroa-gray;
  margin-right: 8px;
}
.CreateImport-pipeline-script-info-state {
  text-transform: uppercase;
  color: $zorroa-lightgray;
  width: 30px;
  margin-left: 8px;
  @include noSelect;
  cursor: pointer;
  &.showScriptInfo {
    color: $zorroa-hover;
  }
}

.CreateImport-pipeline {
  @include flexCol;
  width: 240px;
  text-transform: none;
  border-radius: 3px;
  border: 1px solid $zorroa-nearwhite;

  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 4px;

  &.isSelected {
    border: 1px solid $zorroa-hover;
  }
}

.CreateImport-pipeline-header {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;

  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  color: $zorroa-gray;
  background-color: $zorroa-nearwhite;

  .isSelected & {
    background-color: $zorroa-hover;
    &:not(.showScriptInfo) {
      &:hover {
        color: $zorroa-gray;
        background-color: $zorroa-hover;
      }
    }
  }

  .icon-script {
    font-size: 24px;
    color: $zorroa-gray;
  }

  .icon-help {
    font-size: 10px;
    color: $zorroa-gray;
  }

  &:not(.showScriptInfo) {
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $zorroa-sickly-green;
    }
  }
}

.CreateImport-pipeline-title {
  @include flexRow;
  @include flexAlignItemsCenter;
}

.CreateImport-pipeline-body {
  padding: 10px;
  max-height: 30vh;
  overflow-y: auto;
  display: none;

  &.showScriptInfo {
    @include flexCol;
    @include flexJustifySpaceBetween;
  }
}

.CreateImport-pipeline-name {
  font-size: 14px;
  margin-left: 8px;
}

.CreateImport-pipeline-description {
  color: $zorroa-lightgray;
  font-size: 11px;
  min-height: 4em;
  max-height: 4em;
  overflow-y: auto;
}

.CreateImport-pipeline-select {
  @include flexOff;
  align-self: center;
  color: $zorroa-gray;
  background-color: $zorroa-nearwhite;
  margin-top: 30px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 3px;

  &:hover:not(.isSelected ) {
    color: white;
    background-color: $zorroa-sickly-green;
  }

  .isSelected & {
    background-color: transparent;
    color: $zorroa-lightgray;

    &:hover {
      color: $zorroa-lightgray;
      background-color: transparent;
    }
  }
}

.CreateImport-server-paths {
  @include flexRow;
  background-color: $dropcolor;
  padding: 8px;
  margin-bottom: 8px;
  @include fullHeight;
}

.CreateImport-server-back {
  font-size: 12px;
  color: $zorroa-hover;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;

  &:hover {
    color: white;
    background-color: $zorroa-gray;
    border-radius: 3px;
  }
}

.CreateImport-server-path {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-top: 10px;
  margin-bottom: 8px;
}

.CreateImport-server-path-label {
  text-transform: uppercase;
  color: $zorroa-lightgray;
  @include nowrap;
  margin-right: 8px;
  margin-bottom: auto;
  margin-top: 10px;
}

.CreateImport-server-path-path {
  @include flexOn;
  @include flexCol;
}

.CreateImport-server-path-input {
  @include fullWidth;
  border-radius: 3px;
  background: white;
  border: 2px solid $zorroa-hover;
  font-size: 14px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;  // Space for cancel
  color: $zorroa-greyish-brown;
}

.CreateImport-server-path-list {
  min-height: 5em;
  max-height: 5em;
  overflow-y: auto;
  padding-left: 4px;
  padding-right: 4px;
}

.CreateImport-server-path-add-path {
  color: $zorroa-nearwhite;
  background-color: $zorroa-gray;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: auto;
  margin-top: 8px;

  &:hover {
    background-color: $zorroa-sickly-green;
  }

  &.isDisabled {
    color: $zorroa-lightgray;
    background-color: transparent;
  }
}

.CreateImport-server-path-item {
  @include flexRow;
  @include flexAlignItemsCenter;
  color: $zorroa-greyish-brown;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  .icon-cancel-circle {
    font-size: 10px;
    color: $zorroa-lightgray;
    padding-left: 6px;
  }

  .icon-cancel-circle:hover {
    font-size: 10px;
    color: $zorroa-faded-red;
  }
}

.CreateImport-uploads {
  position: relative;
  min-height: 160px;
  padding: 4px;       // Space for dropzone to get enter/leave
  max-height: 160px;
  overflow: auto;
}

.CreateImport-uploads-dropzone {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: transparent;
  background-color: none;
  border: none;
  font-size: 24px;
  text-transform: uppercase;

  @include flexCol;
  @include flexJustifyCenter;
  @include flexAlignItemsCenter;

  &.isDroppable {
    z-index: 100;   // Let cancel sneak through, but override when dropping
    color: white;
    background-color: $zorroa-dropzone;
    border: 1px solid $zorroa-sickly-green;
    border-radius: 3px;
  }
}

.CreateImport-upload-table {
  @include fullWidth;
  color: $zorroa-greyish-brown;
  border-collapse: collapse;
  position: relative;

  .icon-cancel-circle {
    font-size: 10px;
    color: $zorroa-lightgray;

    &:hover {
      color: $zorroa-faded-red;
    }
  }

  td {
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
  }

  tr:nth-child(even) {
    background-color: $zorroa-nearwhite;
  }
}

.CreateImport-upload {
  border: none;
  margin-top:0;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  @include nowrap;
}

.CreateImport-upload-status {
}

.CreateImport-upload-size {
  @include flexRow;
  @include flexJustifyEnd;
}

.CreateImport-upload-progress {
  @include flexRow;
  @include flexAlignItemsCenter;
  width: 60px;

  progress {
    @include flexOn;
  }

  progress[value] {
    @include fullWidth;
    -webkit-appearance: none;
    height: 3px;
    background: none;
  }

  progress[value]::-webkit-progress-bar {
    background-color: $zorroa-lightgray;
  }

  progress[value]::-webkit-progress-value {
    color: transparent;
    background-color: $zorroa-gray;
  }
}

.CreateImport-upload-cancel {
}

.CreateImport-upload-name {
}

.CreateImport-activity-switcher {
  @include flexRowCenter;
  @include fullWidth;
  border-radius: 3px;
  overflow: hidden;
}

.CreateImport-activity-item {
  background-color: $zorroa-lightgray;
  color: white;
  padding: 5px 10px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 3px;

  &:hover {
    color: white;
    background-color: $zorroa-gray;
  }

  &.selected {
    color: white;
    background-color: $zorroa-sickly-green;
  }
}
