@import '../../styles/core-mixins.scss';

// Header does not grow, and contains a row-layout flexbox
// with the logo and searchbar scrunched on the left and
// the menu right justified
.header {
  padding: 0;
  height: 60px;
  position: relative;
}

// Box to left-justify the logo and search
.header-logo-search {
}

.header-searchbar {
  width: 30%;
  max-width: 350px;
}

// Adjust the logo size so search starts at expanded sidebar
.header-logo {
  padding-top: 6px;
  padding-left: 22px;

  // This matches the folder sidebar width
  width: 25%;
  max-width: $zorroa-Sidebar-width;
}

// Simple menu text for now
.header-menu-bar {
  list-style: none;
}

.header-menu {
  margin-left: 20px;
  position: relative;

  .job {
    @include flexRow;
    @include flexAlignItemsCenter;
    white-space: nowrap;
    color: $zorroa-greyish-brown;
    text-transform: uppercase;

    div {
      margin-left: 8px;
    }

    &.disabled {
      color: $zorroa-lightgray;
    }
  }

  &.header-menu-user {
    @include flexRow;
    @include flexAlignItemsCenter;

    .DropdownMenu-button {
      text-transform: none;
    }

    &[class*='icon-zorroa-person-'] {
      font-size: 30px;
    }
  }
}

.header-menu-icon {
  font-size: 10px;
  color: $zorroa-gray;
  padding: 5px;
}

.header-menu-item {
  display: list-item;
  text-align: -webkit-match-parent;
  text-align: match-parent;
  text-decoration: none;
  font-size: 14px !important;
  white-space: nowrap;

  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;

  div {
    margin-left: 8px;
  }

  .title {
    text-transform: uppercase;
  }

  &.disabled {
    color: $zorroa-lightgray;
  }

  .job-state {
    font-size: 10px;
    margin-right: 8px;
    margin-left: 20px;
    text-transform: capitalize;
  }

  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-appearance: button;
    background-color: #fff;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
