@import '../../styles/core-mixins.scss';

// Header does not grow, and contains a row-layout flexbox
// with the logo and searchbar scrunched on the left and
// the menu right justified
.header {
  padding: 0px 22px 0px 22px;
  height: 60px;
}

// Box to left-justify the logo and search
.header-logo-search {
}

// Adjust the logo size so search starts at expanded sidebar
.header-logo {
  padding-top: 6px;
  width: 277px;
}

// Simple menu text for now
.header-menu {
  list-style: none;
  // margin-bottom: 0;
  // padding-left: 0;
}

// Convert a list item into a nav-item
.header-menu-item {
  display: list-item;
  text-align: -webkit-match-parent;
  text-align: match-parent;
  text-transform: uppercase;
  padding-left: 1em;
  font-size: 14px;
}

.header-menu-icon {
  font-size: 10px;
  color: $zorroa-gray;
  padding: 5px;
}
