// Header does not grow, and contains a row-layout flexbox
// with the logo and searchbar scrunched on the left and
// the menu right justified
.header {
  flex: 0 0 1;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
  display:flex;
  align-items: flex-end;
}

// Box to left-justify the logo and search
.header-logo-search {
  display: flex;
  align-items: flex-end;
}

// Adjust the logo size so search starts at expanded sidebar
.header-logo {
  flex: 1 0 284px;
}

// Simple menu text for now
.header-menu {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

// Convert a list item into a nav-item
.header-menu-item {
  display: list-item;
  text-align: -webkit-match-parent;
}
