@import '../../styles/core-mixins.scss';

// Header does not grow, and contains a row-layout flexbox
// with the logo and searchbar scrunched on the left and
// the menu right justified
.header {
  padding: 0;
  height: 60px;
}

// Box to left-justify the logo and search
.header-logo-search {
}

.header-searchbar {
  width: 30%;
  max-width: 350px;
}

// Adjust the logo size so search starts at expanded sidebar
.header-logo {
  padding-top: 6px;
  padding-left: 22px;

  // This matches the folder sidebar width
  width: 25%;
  max-width: $zorroa-Sidebar-width;
}

// Simple menu text for now
.header-menu-bar {
  list-style: none;
}

.header-menu {
  margin-left: 40px;
}

.header-menu-icon {
  font-size: 10px;
  color: $zorroa-gray;
  padding: 5px;
}

.header-menu-item {
  display: list-item;
  text-align: -webkit-match-parent;
  text-align: match-parent;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px !important;
  white-space: nowrap;

  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-appearance: button;
    background-color: #fff;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.header-menu-separator {
  height: 2px;
  margin: 8px 0;
  background-color: $zorroa-nearwhite;
}
