@import '../../styles/core-mixins.scss';

// Header does not grow, and contains a row-layout flexbox
// with the logo and searchbar scrunched on the left and
// the menu right justified
.header {
  padding: 0;
  height: 42px;
  position: relative;
  background-color: $zorroa-nearwhite;
}

// Box to left-justify the logo and search
.header-logo-search {
}

.header-searchbar {
  width: 30%;
  max-width: 350px;
}

// Adjust the logo size so search starts at expanded sidebar
.header-logo {
  height: 28px;
  //padding-top: 6px;
  //padding-left: 22px;
  margin-right: 20px;
  margin-left: 10px;
}

// Simple menu text for now
.header-menu-bar {
  list-style: none;
}

.header-menu {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-right: 20px;
  position: relative;

  .job {
    @include flexRow;
    @include flexAlignItemsCenter;
    white-space: nowrap;
    color: $zorroa-greyish-brown;
    text-transform: uppercase;

    div {
      margin-left: 8px;
    }

    &.disabled {
      color: $zorroa-lightgray;
    }
  }

  &.header-menu-user {

    .DropdownMenu-button {
      text-transform: none;
    }

    &[class*='icon-zorroa-person-'] {
      font-size: 30px;
    }
  }
}

.header-menu-icon {
  font-size: 10px;
  color: $zorroa-gray;
  padding: 5px;
}

.header-menu-item {
  display: list-item;
  text-align: -webkit-match-parent;
  text-align: match-parent;
  text-decoration: none;
  font-size: 14px !important;
  white-space: nowrap;

  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;

  div {
    margin-left: 8px;
  }

  .title {
    text-transform: uppercase;
  }

  &.disabled {
    color: $zorroa-lightgray;
  }

  .job-state {
    font-size: 10px;
    margin-right: 8px;
    margin-left: 20px;
    text-transform: capitalize;
  }

  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-appearance: button;
    background-color: #fff;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.header-buttons {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-left: 20px;
  margin-right: 20px;
}

.header-button {
  @include flexRowCenter;

  color: $zorroa-greyish-brown;
  margin: 4px;
  font-size: 20px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 3px;

  &.disabled { color: $zorroa-lightgray; }

  &:hover:not(.disabled) { background-color: $zorroa-nearwhite; }

  &.selected {
    color: white;
    background-color: $zorroa-water-blue;
    &:hover { background-color: darken($zorroa-water-blue, 15%); }
  }
}

.header-table-spacer {
  width: 40px;
}

.Header-loading {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  cursor: pointer;
  opacity: 1;

  &.sync {
    opacity: 0;
  }
  &:hover {
    visibility: visible;
    opacity: 1;
    background-color: $zorroa-nearwhite;
  }
}

.header-asset-counter {
  @include flexRowCenter;
  @include fullHeight;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid $zorroa-lightgray;
  border-right: 1px solid $zorroa-lightgray;
}
