@import '../../styles/core-mixins.scss';

.JobTable {
}

.JobTable-header {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  color: white;
  background-color: black;
  margin-bottom: 20px;

  div[class*='icon-'] {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .icon-list {
    font-size: 20px;
  }

  .icon-cross2:hover {
    color: $zorroa-sickly-green;
  }
}

.JobTable-header-left {
  @include flexRow;
  @include flexAlignItemsCenter;
}

.JobTable-header-title {
  text-transform: uppercase;
}

.JobTable-table-container {
  width: 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  overflow-x: auto;
  max-height: 340px;
}

.JobTable-table {
  width: 100%;
  max-width: 100%;

  tr {
    color: $zorroa-greyish-brown;
  }

  tr:nth-child(odd) {
    background-color: $zorroa-nearwhite;
  }

  thead tr td {
    font-size: 12px;
    text-transform: uppercase;
    font-stretch: condensed;
    line-height: 1;
    color: $zorroa-gray;
    background-color: white;

    div[class*='icon-'] {
      margin-left: 8px;
      margin-right: 4px;
    }
  }

  tbody tr:hover {
    color: white;
    background-color: $zorroa-sickly-green;
  }
}

.JobTable-job {
}

.JobTable-job-item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.JobTable-footer {
  margin-top: 20px;
  border-top: 1px solid $zorroa-lightgray;
  height: 60px;
  @include flexRow;
  @include flexJustifyCenter;
  @include flexAlignItemsCenter;
}

.JobTable-close {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
  color: $zorroa-lightgray;
  text-transform: uppercase;
  font-size: 14px;

  &:hover {
    color: white;
    background-color: $zorroa-lightgray;
  }
}
