@import '../../../styles/core-mixins.scss';

.AssetsFooter {
  align-self: center;
  z-index: 1;
  margin-top: $zorroa-metric-base * -6;
  margin-bottom: $zorroa-metric-base;
  max-width: $zorroa-metric-base * 50;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba($zorroa-color-black, 0.2);
  color: $zorroa-color-gray-dark-4;
  background-color: rgba(0,0,0,0.8);
  padding: 0 $zorroa-metric-base;

  width: auto;
  height: $zorroa-metric-base * 4;

  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;

  > * {
      height: 100%;
  }

  button:disabled {
    color: $zorroa-darkgray;
    &:hover {
      color: $zorroa-darkgray;
    }
  }

  .Workspace.embedMode & {
    display: none;
  }

  &__icon {
    color: $zorroa-color-gray-dark-4;
    width: $zorroa-metric-base * 3;
    height: $zorroa-metric-base * 3;
    border: 0;
    outline: 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    @include flexRowCenter;

    &:focus,
    &:hover {
      color: $zorroa-color-green-1;
    }

    &--enabled {
      color: $zorroa-color-green-1;
      background-color: rgba($zorroa-color-black, 0.75);

      &:focus,
      &:hover {
        color: darken($zorroa-color-green-1, 15%);
      }
    }
  }
}
