@import '../../../styles/core-mixins.scss';

.ThumbSizeSlider {
  padding: 0 $zorroa-metric-base;
  border-radius: 3px;
}

.ThumbSizeSlider-slider {
  position: relative;
  padding: 0 $zorroa-metric-base / 2;
  margin: 0;
  background: none;
}

.ThumbSizeSlider-smaller {
  width: $zorroa-metric-base * 3;
  height: $zorroa-metric-base * 3;
}

.ThumbSizeSlider-bigger {
  [class*='icon-'] {
    font-size: 12px;
  }
}
.ThumbSizeSlider-box {
  position: relative;
  input::-webkit-slider-thumb {
    border: none;
    background: $zorroa-lightgray;
    &:active { background-color: $zorroa-sickly-green; }
  }
  input::-moz-range-thumb {
    border: none;
    background: $zorroa-lightgray;
    &:active { background-color: $zorroa-sickly-green; }
  }
}
.ThumbSizeSlider-line-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.ThumbSizeSlider-line {
  width: $zorroa-metric-base * 12;
  height: 1px;
  background-color: $zorroa-gray;
  &:active { background-color: $zorroa-sickly-green; }
}
