.FlipbookPlayer {
  // Think long and hard before changing the font size, you could introduce
  // excess white space in certain layouts that weren't expecting any text.
  font-size: 0;

  &,
  &__loading-status {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
