@import '../../styles/core-mixins.scss';

.ImageThumb {
  background: no-repeat center;
  background-origin: border-box;

  position: absolute;
  top: 0;
  left: 0;

  @include fullWidth;
  @include fullHeight;
}

.Thumb-selection {
  @include fullWidth;
  @include fullHeight;

  opacity: 0;

  .Thumb.isSelected & {
    opacity: 1;
  }

  .Thumb:hover & {
    opacity: 1;
  }
}

.Thumb-selection-check {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: $zorroa-gray;
  margin: -1px;         // Avoid white outline
  padding: 3px;

  .Thumb.isSelected & {
    color: white;
    background-color: $zorroa-water-blue;
  }
}

.Thumb {
  position: absolute;
  cursor: pointer;
  &.isSelected {
    $selected-border-size: 5px;
    &::before {
        border: $selected-border-size solid $zorroa-water-blue;
        position: absolute;
        width: calc(100% + #{$selected-border-size * 2});
        height: calc(100% + #{$selected-border-size * 2});
        content: "";
        z-index: 1;
        top: -$selected-border-size;
        left: -$selected-border-size;
    }
  }
}

.Thumb-badges {
}

.Thumb-icon {
  position: absolute;
  right: 4px;
  top: 4px;

  @include flexRow;
}

.Thumb-field {
  background: rgba($zorroa-color-black, .9);
  z-index: 2;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  font-family: Roboto;
  color: #b3b3b3;
}

.Thumb-icon-badge {
  @include flexRow;
  @include flexAlignItemsCenter;
}

.Thumb-metadata {
  margin-right: 4px;

  .small & { font-size: 10px; }
}

.Thumb-pages {
  position: absolute;
  right: 4px;
  bottom: 4px;

  color: $zorroa-greyish-brown;
  line-height: 2em;
  height: 25px;

  .small & {
    font-size: 10px;
    height: 15px;
    line-height: 1.5em;
  }
}

.Thumb-flipbook {
  height: 100%;
  width: 100%;
  display: flex;
}

.Thumb-stack {
  position: absolute;
  width: 82%;
  height: 82%;
  box-shadow: 1px 0 3px 0 $zorroa-gray;
  .dark & { box-shadow: 1px 0 3px 0 black; }
}

.Thumb-stack-0 {
  left: 5%;
  bottom: 5%;
}

.Thumb-stack-1 {
  left: 7%;
  bottom: 7%;
  transform: rotate(4deg);
}

.Thumb-stack-2 {
  left: 9%;
  bottom: 9%;
  transform: rotate(8deg);
}

.Thumb-inset {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}

.Thumb-page-label {
  @include nowrap;
  @include flexRow;
  font-family: "Roboto Condensed";
  background-color: rgba(256, 256, 256, 0.75);
  padding-right: 4px;
  padding-left: 4px;
}
