@import '../../styles/core-mixins.scss';

.DisplayPropertiesItem {
  margin-left: 8px;
  font-size: 12px;
  line-height: 2em;

  @include flexRow;

  .label {
    margin-left: 4px;
    width: 120px;
    min-width: 120px;
    text-align: right;
    color: $zorroa-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value {
    margin-left: 6px;
    padding-left: 6px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .terms {
      .all {
        line-height: 1.5em;
        font-size: 12px;
        margin: 2px 1px 0px;
        border-radius: 3px;
        padding: 2px 6px;
        color: $zorroa-gray;
        background-color: $zorroa-nearwhite;
      }

      .some {
        line-height: 1.5em;
        font-size: 12px;
        margin: 2px 1px 0;
        border-radius: 3px;
        padding: 2px 6px;
        background-color: $zorroa-nearwhite;
        color: $zorroa-lightgray;
      }
    }
  }

  .search {
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 7px;          // ick, match bottom text line for 12pt above?
    color: $zorroa-light-green;

    &.disabled {
      color: $zorroa-lightgray;
    }
  }
}
