@import '../../styles/core-mixins.scss';

.DisplayPropertiesItem {
  margin-left: 8px;
  font-size: 12px;
  line-height: 2em;

  @include flexRow;

  .DisplayPropertiesItem-label {
    @include flexOff;
    @include flexRow;
    width: 120px;
    min-width: 120px;
    text-align: right;
    color: $zorroa-lightgray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200;
  }

  .DisplayPropertiesItem-value {
    margin-left: 6px;
    padding-left: 6px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $zorroa-gray;
  }

  .DisplayPropertiesItem-search {
    @include flexOff;
    @include flexRowCenter;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;          // ick, match bottom text line for 12pt above?
    color: $zorroa-light-green;
    background-color: transparent;

    &:not(.disabled):hover {
      font-size: 12px;
      background-color: $zorroa-lightgray;
      color: #fff;
    }

    &.disabled {
      color: $zorroa-lightgray;
    }
  }
}

.DisplayPropertiesItem-header {
  @include flexRow;
  @include flexAlignItemsCenter;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.DisplayPropertiesItem-indent {
  width: 0px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.DisplayPropertiesItem-all-values {
  line-height: 1.5em;
  font-size: 12px;
  margin: 2px 1px 0px;
  border-radius: 3px;
  padding: 2px 6px;
  color: $zorroa-gray;
  background-color: $zorroa-nearwhite;
}

.DisplayPropertiesItem-some-values {
  line-height: 1.5em;
  font-size: 12px;
  margin: 2px 1px 0;
  border-radius: 3px;
  padding: 2px 6px;
  background-color: $zorroa-nearwhite;
  color: $zorroa-lightgray;
}

.DisplayPropertiesItem-color {
  @include flexOff;
  width: 16px;
  height: 16px;
  margin-right: 1px;
}
