@import '../../styles/core-mixins.scss';

// Sidebars use flex-basis to toggle between open and close
.Sidebar {
  max-height: 100%;

  width: 60px;
  max-width: 60px;
  min-width: 60px;

  padding-left: 10px;
  padding-right: 10px;

  background-color: $zorroa-nearwhite;

  &.isOpen {
    // This matches the header logo width
    width: 25%;
    max-width: $zorroa-Sidebar-width;
  }
}

.Sidebar-button {
  height: 21px;
  font-size: 9px;
  color: $zorroa-lightgray;

  @include flexRow;
  @include flexAlignItemsCenter;

  &.left {
    @include flexJustifyEnd;
  }

  &:hover {
    color: $zorroa-gray;
  }
}

.Sidebar-scroll {
  max-height: 100%;
  width: 100%;
  max-width: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  padding-bottom: 10px;
}
