@import '../../styles/core-mixins.scss';

.Sidebar {
  display: flex;
  flex-direction: column;
  width: $zorroa-metric-base * 20;

  &__link {
    color: $zorroa-color-blue-1;
    display: block;
    padding: $zorroa-metric-base;
    text-decoration: none;

    &:hover {
      color: $zorroa-color-blue-2;
    }

    &--active {
      color: $zorroa-color-green-1!important;
    }
  }
}
