@import '../../styles/core-mixins.scss';

// Sidebars use flex-basis to toggle between open and close
.Sidebar {
  @include flexCol;
  @include fullHeight;
  @include flexOff;

  position: relative;   // For resize-thumb absolute
  max-height: 100%;

  width: 60px;
  max-width: 60px;
  min-width: 60px;

  background-color: $zorroa-nearwhite;

  &.isOpen {
    min-width: $zorroa-Sidebar-width;
    max-width: 3 * $zorroa-Sidebar-width;
  }

  .scroller {
    max-height: 100%;
    width: 100%;
    max-width: 100%;

    padding-bottom: 10px;
    &:not(.isRightEdge) {
      padding-left: 10px;
      padding-right: 10px;
    }

    overflow-x: hidden;
    overflow-y: auto;

    .scroller-inner {
      max-height: 100%;
      width: 100%;
      max-width: 100%;

      overflow: hidden;

      @include flexOn;
    }
  }
}

.Sidebar-open-close-button {
  font-size: 12px;
  width: 32px;
  height: 24px;
  color: $zorroa-lightgray;
  padding-left: 10px;
  padding-right: 10px;

  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifyCenter;
  @include flexOff;
  align-self: flex-end;

  &.isIconified {
    transform: rotate(180deg);
  }

  &.isRightEdge {
    @include flexJustifyStart;
    transform: rotate(180deg);
    align-self: flex-start;
    &.isIconified {
      transform: none;
    }
  }

  &:hover {
    color: $zorroa-gray;
  }
}

.Sidebar-resize-thumb {
  position: absolute;
  top: 24px;
  right: -10px; // place left sidebar resizer in the Assets' left side padding (this is awkward, will be fixed)
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background: none;

  &.isRightEdge {
    // place right sidebar resizer in the sidebar's left side padding
    left: 0px;
    right: auto;
  }
}
