@import '../../styles/core-mixins.scss';

// Sidebars use flex-basis to toggle between open and close
.sidebar {
  max-height: 100%;

  width: 70px;
  max-width: 70px;
  min-width: 70px;

  padding-left: 10px;
  padding-right: 10px;

  background-color: $zorroa-nearwhite;

  &.isOpen {
    // This matches the header logo width
    width: 25%;
    max-width: $zorroa-sidebar-width;
  }
}

.sidebar-button {
  height: 21px;
  font-size: 9px;
  color: $zorroa-lightgray;
  padding-right: 10px;

  @include flexRow;
  //@include flexAlignItemsCenter;

  &.left {
    @include flexJustifyEnd;
  }
}

.sidebar-scroll {
  max-height: 100%;
  width: 100%;
  max-width: 100%;

  //overflow-x: hidden;
  overflow-y: visible;

  padding-bottom: 10px;
  //padding-right: 10px;
}
