select.custom-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0 !important;
  outline: none;

  background-size: 40px 37px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  width: 35%;
}
