@import '../../styles/core-mixins.scss';

.DisplayOptions {
  position: fixed;
  top: 15vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  background-color: white;
  z-index: 1001;
  border-radius: 3px;
  border: 1px solid $zorroa-darkgray;
  box-shadow: 10px 10px 32px -10px rgba(0,0,0,0.75);

  // Thin scrollbars
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .DisplayOptions-header {
    @include flexRow;
    @include flexAlignItemsCenter;
    @include fullWidth;

    overflow: hidden;

    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: 500;
    min-height: 40px;
    max-height: 40px;

    span {
      margin: 12px 0px 12px 0px;

      &:hover {
        color: $zorroa-sickly-green;
      }
    }

    label {
      margin-right: 10px;
    }

    .DisplayOptions-settings {
      @include zorroa-square-icon(40px);
    }

    .DisplayOptions-title {
      @include flexShrinkOnly;
      @include clampText;
      text-transform: uppercase;
      text-overflow: ellipsis;
    }

    .DisplayOptions-close {
      @include zorroa-square-btn-lighten(40px);
    }

    .Toggle-slider:before {
      box-shadow: 0px 0px 0px 1px black;
    }
  }

  .DisplayOptions-subheader {
    background-color: rgba(215, 215, 215, 0.5);
    padding-bottom: 16px;
    padding-top: 16px;
    min-height: 60px;
    max-height: 60px;

    .DisplayOptions-subheader-viewall {
      margin-left: 38px;
      font-size: 12px;
      font-weight: 300;
      color: $zorroa-slategray;
      text-transform: uppercase;

      span {
        margin: 0;
        margin-left: 4px;
      }
    }

    input {
      color: $zorroa-gray;
      font-size: 14px;
      margin-left: 26px;
      background: transparent;
      border: none;
      width: 240px;
      border-bottom: 2px solid $zorroa-gray;
    }

    button {
      color: $zorroa-gray;
      background: transparent;
      font-size: 15px;
      padding: 0;
      margin: 2px;
      border: none;
    }
  }

  .DisplayOptions-body {
    overflow-x: auto;
    padding: 4px;

    .DisplayOptions-body-col {
      overflow-y: auto;
      min-width: 280px;
      max-width: 280px;
      border-right: 1px solid $zorroa-nearwhite;
      padding-left: 16px;
      padding-right: 16px;

      &.div:not(:last-child) {
        border-right: none
      }
    }

    .DisplayOptions-namespace {
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      border-bottom: 1px solid $zorroa-lightgray;
      color: $zorroa-darkgray;

      &.disable {
        opacity: 0.4;
      }

      &.hasChildren:hover {
        background-color: $zorroa-lightgray;
      }

      &.selected {
        opacity: 1;
        background-color: $zorroa-nearwhite;
      }

      &.icon-arrow-down2 {
        max-height:20px;
        color: $zorroa-darkgray;
        transform: rotate(-90deg);
        border: none;

        &.selected {
          background-color: transparent;
        }
      }

      input[type=checkbox] {
        margin-left: 8px;
        margin-right: 8px;

        /* Horrible indeterminate style placeholder */
        &.indeterminate:after {
          position: relative;
          bottom: 14px;
          left: 2px;
          font-size: 32px;
          content: "-";
          color: royalblue;
        }
      }
    }

    .DisplayOptions-body-empty {
      color: $zorroa-lightgray;

      [class*="icon-"] {
        font-size: 72px;
        font-weight: 500;
        margin-top: 12px;
        margin-bottom: 24px;
        background-color: rgba(200,200,200,1);
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
      }

      .DisplayOptions-body-field-type {
        color: $zorroa-gray;
        margin-top: 1em;
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }

  .DisplayOptions-footer {
    border: none;
    border-top: 1px solid $zorroa-lightgray;
    min-height: 72px;
    max-height: 72px;

    button {
      margin: 12px;
      padding: 12px 30px;
      font-size: 14px;
      border: none;
      border-radius: 3px;
      background: none;
      text-transform: uppercase;
      font-size: 16px;
      color: $zorroa-lightgray;

      &:hover {
        color: $zorroa-darkgray;
        background-color: $zorroa-lightgray;
      }

      &.default {
        color: $zorroa-nearwhite;
        background-color: $zorroa-sickly-green;

        &:hover {
          color: white;
        }
      }

      &.disabled {
        background-color: $zorroa-lightgray;

        &:hover {
          color: $zorroa-nearwhite;
        }
      }
    }
  }
}
