// Adjust the outer-most react div to force full height
// using flex-box column layout and magical 'vh' units
// (viewport height) rather than 100%, which fails
#application {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// App class, containing header and workspace in columns
.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex:1;

  // Gray background for white auth boxes
  &.app-auth {
    background-color: #ededed;
  }
}
