@import '../../styles/core-mixins.scss';

.assets-scroll {
  // overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
}

.assets-layout {
  flex: 1 0 0;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  align-items: center;
  overflow: hidden;

  // Just making sure these work...
  &.masonry {
    // background-color: lavender;
  }

  &.waterfall {
    // background-color: lemonchiffon;
  }

  &.grid {
    // background-color: linen;
  }

  &.slideshow {
    // background-color: beige;
  }
}

.assets-footer {
  padding-left: 8px;
  padding-right: 8px;
}

.thumb-size-slider {
  color: #000;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
}

.thumb-layout {
  margin: 10px;

  .thumb-layout-button {
    color: #000;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 20px;
  }

  .thumb-layout-enabled {
    color: #fff;
    background-color: $zorroa-sickly-green;
  }
}

.table-toggle {
  background-color: #fff;
  margin: 10px;

  .table-toggle-button {
    color: #000;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 20px;
  }

  .table-toggle-enabled {
    color: #fff;
    background-color: $zorroa-sickly-green;
  }
}
