@import '../../styles/core-mixins.scss';

.asset-counter {
  font-size: 14px;
  color: #777;
  white-space: nowrap;

  .asset-counter-count {
    font-weight: 700;
    color: $zorroa-greyish-brown;
  }

  .asset-counter-of {
    &:after {
      content: ' of ';
      @media screen and (max-width: 1300px) { content: ' / '; }
    }
  }

  .asset-counter-results {
    &:after {
      content: ' RESULTS';
      @media screen and (max-width: 1300px) { content: ''; }
    }
  }

  .asset-counter-collapsed {
    font-size: 12px;
    margin-left: 8px;
    font-family: "Roboto Condensed";
    color: $zorroa-lightgray;

    &:hover {
      color: $zorroa-sickly-green;
    }

    &:after {
      content: ' COLLAPSED';
      @media screen and (max-width: 1300px) { content: ''; }
    }
  }
}
