@import '../../styles/core-mixins.scss';

.Assets {
  @include flexOn;
  @include flexCol;
  @include fullWidth;
  min-width: 0;
}

.assets-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;
}

.Assets-layout {
  width: 100%;
  position: relative;
}

.assets-layout-empty {
  font-size: 24px;
  background-color: rgba(200,200,200,1);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  line-height: 1.5em;

  /* Copied from Racetrack.scss. Should we share? */
  button {
    font-size: 14pt;
    text-transform: uppercase;
    height: 40px;
    padding: 0 30px;
    margin-top: 40px;
    font-weight: 500;
    background-color: $zorroa-greyish-brown;
    color: $zorroa-nearwhite;
    border-radius: 3px;
    border: none;

    &:hover {
      background-color: #a5a5a5;
      color: $zorroa-nearwhite;
      font-weight: 500;
    }

    &:active {
      background-color: $zorroa-sickly-green;
      color: $zorroa-nearwhite;
      font-weight: 500;
    }
  }

  .assets-layout-icon {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 64px;
    background-color: rgba(200,200,200,1);
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
}

.assets-footer {
  padding-left: 8px;
  padding-right: 8px;
}

.thumb-layout {
  margin: 10px;
  white-space: nowrap;
  border-radius: 3px;
  overflow: hidden;

  .thumb-layout-button {
    color: #000;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;

    &:hover { background-color: $zorroa-lightgray; }
  }

  .thumb-layout-enabled {
    color: #fff;
    background-color: $zorroa-sickly-green;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.40);
    &:hover { background-color: darken($zorroa-sickly-green, 15%); }
  }
}

.Assets-tableResize {
  @include flexOff;
  position: relative;
  width: 100%;
  height: 10px;
  cursor: row-resize;
}

.Assets-loading {
  width: 14px;
  height: 14px;
  margin-left: 8px;
  cursor: pointer;
  opacity: 1;

  &.sync {
    opacity: 0;
  }
  &:hover {
    visibility: visible;
    opacity: 1;
    background-color: $zorroa-nearwhite;
  }
}

.TableToggle {
  margin: 10px;

  .TableToggle-button {
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: $zorroa-lightgray;
    }
  }

  .TableToggle-enabled {
    color: white;
    background-color: $zorroa-sickly-green;
    &:hover { background-color: darken($zorroa-sickly-green, 15%); }
  }

}

.MultipageToggle {
  @include flexRowCenter;

  background-color: #fff;
  margin: 10px;

  color: #000;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;

  transform: scaleX(-1) rotate(90deg);

  &:hover { background-color: $zorroa-lightgray; }

  &.MultipageToggle-enabled {
    color: #fff;
    background-color: $zorroa-sickly-green;
    &:hover { background-color: darken($zorroa-sickly-green, 15%); }
  }
}

// TODO: factor this into a generic message dialog
.Assets-history {
  @include flexColCenter;

  .Assets-history-header {
    @include flexRow;
    @include flexAlignItemsCenter;
    @include fullWidth;

    overflow: hidden;

    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: 500;
    min-height: 40px;
    max-height: 40px;
  }

  .Assets-history-title {
    @include flexShrinkOnly;
    @include clampText;
    text-transform: uppercase;
    text-overflow: ellipsis;
    margin: 0 20px;
  }

  .Assets-history-close {
    @include zorroa-square-btn-lighten(40px);
    border-radius: 0 3px 0 0;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: black;
  }

  .Assets-history-msg {
    margin: 30px;
  }

  .Assets-history-dismiss {
    @include zorroa-btn(6em, 40px, $zorroa-sickly-green, darken($zorroa-sickly-green, 15%));
    margin: 12px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
  }
}
