@import '../../styles/core-mixins.scss';

.assets-container {
  overflow: hidden;
  max-width: 100%;
}

.assets-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 8px;
  max-width: 100%;
}

.assets-layout {
}

.assets-footer {
  padding-left: 8px;
  padding-right: 8px;
}

.thumb-size-slider {
  color: #000;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
}

.thumb-layout {
  margin: 10px;
  white-space: nowrap;

  .thumb-layout-button {
    color: #000;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 20px;
  }

  .thumb-layout-enabled {
    color: #fff;
    background-color: $zorroa-sickly-green;
  }
}

.table-toggle {
  background-color: #fff;
  margin: 10px;

  .table-toggle-button {
    color: #000;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 20px;
  }

  .table-toggle-enabled {
    color: #fff;
    background-color: $zorroa-sickly-green;
  }
}
