@import '../../styles/core-mixins.scss';

.Editbar {
  @include flexOff;
  @include flexRow;
  @include fullWidth;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
  @include clampText;

  height: 48px;

  color: $zorroa-gray;
  background-color: transparent;

  span[class*="icon-"] {
    margin-left: 6px;
    margin-right: 6px;
  }

  .Editbar-title {
    margin-left: 8px;
    text-transform: uppercase;
    @include noSelect;
    @include clampText;
  }

  .Editbar-right-side {
    @include flexRow;
    @include clampText;
    margin-right: 12px;
  }

  .Editbar-selected {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 12px;
    @include flexRow;
    @include flexAlignItemsCenter;
    @include clampText;

    &.disabled {
      color: $zorroa-lightgray;
    }

    .Editbar-cancel {
      @include zorroa-square-btn-darken(24px);
      font-size: 10px;
      margin-left: 4px;
      border-radius: 2px;

      &:not(.disabled):hover {
        color: black;
        cursor: pointer;
      }

      &.disabled {
        color: $zorroa-lightgray;
      }
    }
  }

  .Editbar-export {
    margin-left: 12px;
    margin-right: 12px;
    text-transform: uppercase;
    @include flexRow;
    @include flexAlignItemsCenter;
    @include clampText;

    &.disabled {
      color: $zorroa-lightgray;
    }

    &:not(.disabled):hover {
      color: $zorroa-sickly-green;
      cursor:pointer;
    }
  }

  .Editbar-remove {
    margin-left: 12px;
    text-transform: uppercase;
    @include flexRow;
    @include flexAlignItemsCenter;
    @include clampText;

    &:not(.disabled):hover {
      color: $zorroa-sickly-green;
      cursor:pointer;
    }

    &.disabled {
      color: $zorroa-lightgray;
    }
  }
}

.SortingSelector {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexShrinkOnly;
  @include clampText;

  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Condensed";
  margin-left: 10px;
  color: $zorroa-lightgray;

  .SortingSelector-title {
    @include clampText;
    margin-right: 10px;
  }

  .SortingSelector-sort {
    @include clampText;

    margin-right: 10px;
    color: $zorroa-gray;

    &:hover {
      cursor: pointer;
      color: $zorroa-darkgray;
      text-decoration: underline;
    }

    &.SortingSelector-selected {
      cursor: pointer;
      color: $zorroa-sickly-green;
      text-decoration: underline;
    }

    &.SortingSelector-disabled {
      cursor: not-allowed;
      color: $zorroa-lightgray;
      text-decoration: none;
    }
  }

  .SortingSelector-similar {
    @include flexRowCenter;
    @include clampText;
    color: $zorroa-darkgray;
    &:hover {
      color: $zorroa-sickly-green;
    }
  }

  .SortingSelector-icon {
    &:hover { color: $zorroa-sickly-green; }
    .SortingSelector-selected:hover & { color: $zorroa-sickly-green; }
  }
}
