@import '../../styles/core-mixins.scss';

.Editbar {
  @include flexOff;
  @include flexRow;
  @include flexAlignItemsCenter;
  @include clampText;

  @include fullHeight;
  //height: 48px;

  color: $zorroa-gray;
  background-color: transparent;

  .dark & { color: $zorroa-nearwhite; }
  span[class*="icon-"] {
    margin-right: 6px;
  }

  .Editbar-title {
    margin-left: 8px;
    text-transform: uppercase;
    @include noSelect;
    @include clampText;
  }

  .Editbar-selected {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 12px;
    @include flexRow;
    @include flexAlignItemsCenter;
    @include clampText;

    &.disabled {
      color: $zorroa-lightgray;
    }

    .Editbar-cancel {
      @include zorroa-square-btn-darken(24px);
      font-size: 10px;
      margin-left: 4px;
      border-radius: 2px;

      &:not(.disabled):hover {
        color: black;
        cursor: pointer;
      }

      &.disabled {
        color: $zorroa-lightgray;
      }
    }
  }

  .Editbar-similar {
    margin-right: 8px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 5px;
    @include flexRow;
    @include flexAlignItemsCenter;
    @include clampText;

    &.disabled {
      color: $zorroa-lightgray;
      .dark & { color: $zorroa-dimgray; }
    }

    &:not(.disabled):hover {
      background-color: white;
      .dark & { background-color: $zorroa-dimgray; }
      cursor:pointer;
    }
  }

  .Editbar-export {
    margin-left: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 5px;
    @include flexRow;
    @include flexAlignItemsCenter;
    @include clampText;

    &.disabled {
      color: $zorroa-lightgray;
      .dark & { color: $zorroa-dimgray; }
    }

    &:not(.disabled):hover {
      background-color: white;
      .dark & { background-color: $zorroa-dimgray; }
      cursor:pointer;
    }
  }

  .Editbar-remove {
    margin-left: 12px;
    text-transform: uppercase;
    @include flexRow;
    @include flexAlignItemsCenter;
    @include clampText;

    &:not(.disabled):hover {
      color: $zorroa-sickly-green;
      cursor:pointer;
    }

    &.disabled {
      color: $zorroa-lightgray;
    }
  }
}

.Editbar-similar-section {
  @include flexRowCenter;
  @include fullHeight;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid $zorroa-lightgray;
  border-right: 1px solid $zorroa-lightgray;
  .dark & {
    border-left: 1px solid $zorroa-dimgray;
    border-right: 1px solid $zorroa-dimgray;
  }
}
