@import '../../styles/core-mixins.scss';

.Pager {
  background: none;
  position: relative;
  height: 1px;      // Otherwise scrolling fails?
}

.Pager-waiting {
  position: relative;
  margin-top: 12px;
  margin-bottom: 8px;
}
