@import '../../styles/core-mixins.scss';

.ThumbSizeSlider {
  color: $zorroa-gray;
  padding: 0 8px;
  border-radius: 3px;
}

.ThumbSizeSlider-slider {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  background: none;
}

.ThumbSizeSlider-smaller {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  &:hover { color: $zorroa-sickly-green; }
  &:active { color: $zorroa-sickly-green; }
}

.ThumbSizeSlider-bigger {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  &:hover { color: $zorroa-sickly-green; }
  &:active { color: $zorroa-sickly-green; }
  [class*='icon-'] {
    font-size: 12px;
  }
}
.ThumbSizeSlider-box {
  position: relative;
  input::-webkit-slider-thumb {
    border: none;
    background: $zorroa-gray;
    &:active { background-color: $zorroa-sickly-green; }
  }
  input::-moz-range-thumb {
    border: none;
    background: $zorroa-gray;
    &:active { background-color: $zorroa-sickly-green; }
  }
}
.ThumbSizeSlider-line-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.ThumbSizeSlider-line {
  width: 120px;
  height: 1px;
  background-color: $zorroa-gray;
  &:active { background-color: $zorroa-sickly-green; }
}
