@import '../../styles/core-mixins.scss';

.TableField {

}

.TableField-array {
  @include nowrap;
  @include flexRow;
  @include flexAlignItemsCenter;
  &.isOpen {
    @include flexWrap;
  }
  &:not(.isOpen) {
  }
}

.TableField-toggle {
  @include flexRowCenter;
  @include flexOff;
  cursor: pointer;
  width: 22px;
  height: 22px;

  .TableField-toggle-icon {
    @include flexRowCenter;
    width: 14px;
    height: 6px;
    font-size: 13px;
    border-radius: 3px;
    color: $zorroa-sickly-green;
    background-color: rgba(0,0,0,0.1);

    .TableField-array.isOpen & {
      transform: rotate(90deg);
    }
  }

  &:hover .TableField-toggle-icon {
    color: $zorroa-light-green;
    background-color: $zorroa-darkgray;


    .Table-cell.dark & {
      background-color: $zorroa-whitegray;
    }
  }
}

.TableField-tag {
  @include flexRowCenter;
  padding: 3px 5px;
  margin-top: -2px;   // Undo half of Table-cell pad
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 3px;
  color: $zorroa-greyish-brown;
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;

  .Table-cell.dark & {
    color: $zorroa-whitegray;
    background-color: rgba(255,255,255,0.1);
    cursor: default;
  }

  &:not(.Table-cell.dark):hover {
    color: #fff;
    background-color: $zorroa-sickly-green;

    .Table-cell.dark & {
      color: $zorroa-darkgray;
      background-color: rgba(255,255,255,0.1);
    }
  }
}

.TableField-color {
  @include flexOff;
  width: 16px;
  height: 16px;
  margin-right: 1px;
}
