@import '../../styles/core-mixins.scss';

$tableHeight: 300;
$tableHeaderHeight: 26;

.Table {
  @include flexOff;
  @include flexCol;

  position: relative; // for Table-settings

  min-height: $tableHeight + px;
  height: $tableHeight + px;
  max-height: $tableHeight + px;

  overflow: hidden;

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.Table-settings {
  @include flexRowCenter;

  // settings button is always visible, top right corner
  position: absolute;
  top: 0;
  right: 0;

  width: $tableHeaderHeight + px;
  height: $tableHeaderHeight + px;

  color: $zorroa-lightgray;
  background-color: #fff;
  border-radius: 2px;

  &:hover {
    color: $zorroa-sickly-green;
    background-color: $zorroa-nearwhite;
  }
}

.Table-header {
  @include flexOff;

  position: absolute; // Allow width to respect children not parent (enable horiz scrolling)
  height: $tableHeaderHeight + px;
  min-width: 100%;
  background-color: #fff;

  .Table-cell {
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
  }
}

.Table-scroll-clip {
  @include flexOn;
  position: relative;

  top: 26px; // height of Table-header

  // Height of Table minus height of Table-header
  // NB this SUCKS. But I tried so many ways, its the best I've found so far.
  height: ($tableHeight - $tableHeaderHeight) + px;
  max-height: ($tableHeight - $tableHeaderHeight) + px;

  overflow: hidden;
}

.Table-scroll {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.Table-body {
  position: absolute; // Allow width to respect children not parent (enable horiz scrolling)
  min-width: 100%;

  border-bottom: 1px solid #aaa;
  border-spacing: 0;
  padding: 2px 0 2px 2px;
}

.Table-row {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexNoWrap;

  height: 30px;
  min-width: 100%;

  text-align: left;
  color: $zorroa-greyish-brown;
}

.Table-row:nth-child(even) {
  background-color: #fff;
}

.Table-header {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexNoWrap;

  height: $tableHeaderHeight + px;
  color: $zorroa-gray;
}

.Table-body .Table-row:hover {
  color: #fff;
  background-color: $zorroa-sickly-green;
}

.Table-cell {
  @include clampText;
  padding: 8px;
}
