@import '../../styles/core-mixins.scss';

.Table {
  @include flexOff;
  @include flexCol;

  position: relative; // for Table-settings

  // height is defined in JSX

  overflow: hidden;

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.Table-settings {
  @include flexRowCenter;

  // settings button is always visible, top right corner
  position: absolute;
  top: 0;
  right: 0;

  // width,height are defined in JSX

  color: $zorroa-lightgray;
  background-color: #fff;
  border-radius: 2px;

  &:hover {
    color: $zorroa-sickly-green;
    background-color: $zorroa-nearwhite;
  }
}

.Table-header {
  @include flexOff;

  position: absolute; // Allow width to respect children not parent (enable horiz scrolling)
  // height is defined in JSX
  min-width: 100%;
  background-color: #fff;

  .Table-cell {
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
  }
}

.Table-scroll-clip {
  @include flexOn;
  position: relative;

  // top & height are defined in JSX

  overflow: hidden;
}

.Table-scroll {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.Table-body {
  position: absolute; // Allow width to respect children not parent (enable horiz scrolling)
  min-width: 100%;

  border-bottom: 1px solid #aaa;
  border-spacing: 0;
  padding: 2px 0 2px 2px;
}

.Table-row {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexNoWrap;

  height: 30px;
  min-width: 100%;

  text-align: left;
  color: $zorroa-greyish-brown;
}

.Table-row:nth-child(even) {
  background-color: #fff;
}

.Table-header {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexNoWrap;
  // height is defined in JSX
  color: $zorroa-gray;
}

.Table-body .Table-row:hover {
  color: #fff;
  background-color: $zorroa-sickly-green;
}

.Table-cell {
  @include clampText;
  padding: 8px;
}
