@import '../../styles/core-mixins.scss';

.TableSettings {
  position: absolute;
  top: 24px;
  right: 4px;
  border-radius: 3px;
  z-index: 1000;
  color: black;
  background-color: $zorroa-nearwhite;
  box-shadow: 0 0 30px 0 $zorroa-darkgray;
  .dark & {
    color: $zorroa-whitegray;
    background-color: $zorroa-blackish-brown;
    box-shadow: 0 0 30px 0 black;
  }
}

.TableSettings-list {
  @include flexCol;
}

.TableSettings-add-column {
  padding: 10px;
  border-bottom: 1px solid $zorroa-nearwhite;
  .dark & { border-bottom: 1px solid $zorroa-nearblack; }
}

.TableSettings-add-column-search {
  border-radius: 3px;
  border: 1px solid $zorroa-lightgray;
  position: relative;
  height: 100%;

  .dark & {
    color: $zorroa-greyish-brown;
    background-color: $zorroa-nearwhite;
    border: 1px solid $zorroa-darkgray;
  }
}

.TableSettings-add-column-button {
  text-transform: uppercase;
  background: $zorroa-sickly-green;
  // @include fullHeight;
  @include flexRowCenter;
  height: 25px;
  font-size: 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  color: white;
  // padding-top: 4px;
  // padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  &:hover,
  &:focus {
     background-color: $zorroa-gray;
  }
}

.TableSettings-layouts {
  padding: 10px;
}

.TableSettings-layouts-title {
  text-transform: uppercase;
  padding-bottom: 4px;
  color: $zorroa-gray;
}

.TableSettings-layout-list {
  @include flexCol;
  padding-bottom: 8px;
  border-bottom: 2px solid $zorroa-lightgray;
  .dark & { border-bottom: 2px solid $zorroa-darkgray; }
}

.TableSettings-layout-item {
  @include flexRow
  padding-top: 4px;
  padding-bottom: 4px;
  color: $zorroa-gray;
  &:hover:not(.disabled):not(.selected) {
    background-color: $zorroa-lightgray;
    .dark & { background-color: $zorroa-darkgray; }
  }
  &.selected  {
     color: black;
     .dark & { color: white; }
  }
}

.TableSettings-layout-input {
  font-size: 14px;
  @include fullWidth;
  border-radius: 3px;
  border: 1px solid $zorroa-lightgray;
}

.TableSettings-layout-edit {
  font-size: 12px;
  color: transparent;
  padding: 4px 6px;
  &:hover,
  &:focus {
     color: $zorroa-gray;
  }
}

.TableSettings-layout-item-check {
  padding-left: 4px;
  padding-right: 8px;
  color: transparent;
  .TableSettings-layout-item.selected & { color: inherit; }
}

.TableSettings-layout-item-lock {
  padding-left: 8px;
  color: transparent;
  .TableSettings-layout-item.locked & { color: inherit; }
}

.TableSettings-actions {
  @include flexCol;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid $zorroa-nearwhite;
  .dark & { border-bottom: 1px solid $zorroa-nearblack; }
}

.TableSettings-action {
  color: $zorroa-gray;
  font-size: 12px;
  text-transform: capitalize;
  padding: 4px;
  &.disabled {
    color: $zorroa-lightgray;
    .dark & { color: $zorroa-darkgray; }
  }
  &:hover:not(.disabled) {
    color: black;
    background-color: $zorroa-lightgray;
    .dark & { color: white; background-color: $zorroa-darkgray; }
  }
}

.TableSettings-help {
  @include flexRowCenter;
  padding: 10px;
  color: $zorroa-gray;
  &:hover,
  &:focus {
    color: $zorroa-darkgray;
    .dark & { color: $zorroa-lightgray; }
  }
}

.TableSettings-help-item {
  padding-left: 6px;
}
