@import '../../styles/core-mixins.scss';

.TableLayoutHelp {
  @include flexCol;
  @include fullWidth;
  background: $zorroa-nearwhite;
  .dark & { background: $zorroa-nearblack; }
}

.TableLayoutHelp-icon {
  padding-right: 8px;
}

.TableLayoutHelp-section {
  @include flexRow;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:not(:last-child) { border-bottom: 1px solid $zorroa-gray; }
}

.TableLayoutHelp-title {
  width: 20%;
  min-width: 20%;
  max-width: 20%;
  color: $zorroa-nearblack;
  .dark & { color: $zorroa-nearwhite; }
}

.TableLayoutHelp-body {
  color: $zorroa-gray;
}

.TableLayoutHelp-sections {
  @include flexCol;
  padding-top: 10px;
  padding-bottom: 20px;
}

.TableLayoutHelp-footer {
  @include flexRowCenter;
  border-top: 1px solid $zorroa-gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.TableLayoutHelp-button {
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $zorroa-sickly-green;
  color: white;
  &:hover { background-color: $zorroa-gray; }
}

.TableLayoutsHelp-list {
  margin-top: 5px;
  margin-bottom: 5px;
  li {
    margin-bottom: 8px;
  }
}
