@import '../../styles/core-mixins.scss';

.assets-table,th, td {
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding: 2px 8px 2px 2px;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

tbody tr:hover {
  background-color: $zorroa-sickly-green;
}

.assets-table-scroll {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow:auto;
  max-height: 300px;
}
