@import '../../styles/core-mixins.scss';

.Preferences {
  overflow: auto;
  max-height: 95vh;

  .dark & { background-color: $zorroa-mattblack
  ; }

  .Preferences-header {
    text-transform: uppercase;
    color: white;
    background-color: black;
    height: 40px;

    @include flexRow;
    @include flexAlignItemsCenter;
    @include flexJustifySpaceBetween;
  }

  .Preferences-icon {
    @include zorroa-square-icon(40px);
  }

  .Preferences-close {
    @include zorroa-square-btn-lighten(40px);
  }

  .body {
  }

  .footer {
    border: none;
    border-top: 1px solid $zorroa-lightgray;
    .dark & { border-top: 1px solid $zorroa-darkgray; }
    min-height: 72px;
    max-height: 72px;
    padding: 0;

    @include flexRow;
    @include flexJustifyCenter;

    button {
      margin: 12px;
      padding: 12px 30px;
      font-size: 14px;
      border: none;
      border-radius: 3px;
      background: none;
      text-transform: uppercase;
      font-size: 16px;
      color: $zorroa-lightgray;

      .dark & { color: $zorroa-darkgray; }

      &:hover {
        color: $zorroa-darkgray;
        background-color: $zorroa-lightgray;

        .dark & {
          color: $zorroa-lightgray;
          background-color: $zorroa-darkgray;
        }
      }

      &.default {
        color: $zorroa-nearwhite;
        background-color: $zorroa-sickly-green;

        &:hover { color: white; }
      }

      &.disabled {
        background-color: $zorroa-lightgray;

        .dark & { background-color: $zorroa-darkgray; }
        &:hover {
          color: $zorroa-nearwhite;
          .dark & { color: $zorroa-nearblack; }
        }
      }
    }
  }
}

.Preferences-user {
  @include flexCol;
  color: $zorroa-darkgray;
}

.Preferences-user-header {
  @include flexRow;
  @include flexJustifySpaceBetween;
  color: $zorroa-darkgray;
  background-color: $zorroa-lightgray;
  .dark & { color: $zorroa-whitegray; background-color: $zorroa-darkgray; }
  margin-bottom: 10px;
  padding: 10px 20px;
}

.Preferences-curator {
  border-bottom: 1px solid $zorroa-lightgray;
  .dark & { border-bottom: 1px solid $zorroa-darkgray; }
  padding: 10px 20px;
}

.Preferences-reset {
  margin-top: 20px;
  border: none;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 6px 12px;
  align-self: center;
  cursor: pointer;
  background-color: $zorroa-water-blue;
  &:hover { background-color: darken($zorroa-water-blue, 15%); }
  &:not(:first-child) { margin-left: 5px; }
}

.Preferences-build {
  @include flexCol;
  color: $zorroa-gray;
  padding: 10px 0;
  max-height: 300px;
  overflow: auto;
  font-weight: 400;
}

.Preferences-build-title {
  font-size: 12px;
  text-align: right;
  color: $zorroa-lightgray;
  .dark & { color: $zorroa-darkgray; }
  text-transform: uppercase;
}

.Preferences-build-value {
  color: $zorroa-darkgray;
  .dark & { color: $zorroa-lightgray; }
  font-weight: 100;
}

.Preferences-archivist {
  color: $zorroa-gray;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0;
}

.Preferences-status {
  max-height: 300px;
  overflow: auto;
  margin: 10px 20px;
}

.Preferences-field-template {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-top: 10px;
}

.Preferences-field-template-input {
  width: 300px;
  color: $zorroa-gray;
  padding: 6px;
  border: none;
  background-color: $zorroa-nearwhite;
  .dark & { background-color: $zorroa-nearblack; }
  margin-top: 4px;
}

.Preferences-field-template-label {
  width: 120px;
  margin-left: 8px;
  color: $zorroa-gray;
  @include nowrap;
}

.Preferences-field-template-reset {
  padding: 5px 8px;
  background-color: $zorroa-water-blue;
  color: white;
  border-radius: 3px;
  margin-left: 9px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  &:hover:not(.disabled) { background-color: darken($zorroa-water-blue, 15%) }
  &.disabled { background-color: $zorroa-lightgray; }
}

.Preferences-checkboxes {
  @include flexRow;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Preferences-checkboxes-inner {
  @include flexCol;
}

.Preferences-checkbox {
  @include flexRow;
  margin-top: 5px;
}

.Preferences-checkbox-label {
  margin-left: 4px;
  color: $zorroa-gray;
}

.Preferences-account-reset {
  @include flexRow;
  @include fullWidth;
}

.Preferences-cloud-reset {
  @include flexRow;
  @include fullWidth;
}

.Preferences-showFolderCounts {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-left: 16px;
}

.Preferences-showFolderCounts-label {
  margin-left: 6px;
  color: $zorroa-gray;
}

.Preferences-showFolderCounts-menuitem {
}
