@import '../../styles/core-mixins.scss';
@import '../../styles/colors.scss';

.UserForm {
  box-sizing: border-box;

  &__fields {
    display: flex;
    flex-direction: row;
  }

  &__field-group {
    display: flex;
    flex-direction: column;
    border: 0;
    flex-grow: 1;
    padding: 0;
    flex-basis: 50%;
    margin: 0;

    & ~ .UserForm__field-group {
      padding-left: 20px;
    }

    &--permissions {
      flex-basis: 100%;
    }
  }

  &__form-element {
    margin: 20px 0;
  }

  &__link {
    color: $zorroa-color-blue-1;
    cursor: pointer;

    .dark & {
      color: $zorroa-color-blue-3;
    }

    .isSelected & {
      color: $zorroa-color-gray-dark-2;

      .dark & {
        color: $zorroa-color-white;
      }
    }

    &:hover,
    &:focus {
      color: $zorroa-color-blue-2;

      .dark & {
        color: $zorroa-color-blue-4;
      }
    }
  }

  &__errors {
    margin: 20px 20px;
  }

  &__form-actions {
    display: flex;
    flex-direction: row;
  }

  &__header-cell {
    padding: 10px;
  }

  &__cell {
    padding: 10px;
  }
}
