@import '../../styles/core-mixins.scss';

$zorroa-color-toggle-unchecked: $zorroa-color-gray-dark-3;
$zorroa-color-toggle-checked: $zorroa-color-green-1;
$zorroa-color-toggle-checked-yellow: $zorroa-color-yellow-1;
$zorroa-color-toggle-disabled: $zorroa-color-gray-dark-4;
$zorroa-dark-color-toggle-disabled: $zorroa-color-gray-dark-2;

.Toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 4px;

  :checked + .Toggle__slider {
    background-color: $zorroa-color-toggle-checked;
  }

  &.Toggle--yellow :checked + .Toggle__slider {
    background-color: $zorroa-color-toggle-checked-yellow;
  }

  :focus + .Toggle__slider {
    box-shadow: 0 0 1px $zorroa-color-toggle-checked;

    .Toggle--yellow & {
      box-shadow: 0 0 1px $zorroa-color-toggle-checked-yellow;
    }
  }

  :checked + .Toggle__slider::before {
    transform: translateX(0);
  }
}

.Toggle input {
  display: none;
}

$animation-duration: 0.25s;

.Toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 1px;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: $zorroa-color-toggle-unchecked;
  -webkit-transition: $animation-duration;
  transition: $animation-duration;

  :checked {
    background-color: $zorroa-color-toggle-checked;

    .Toggle--yellow & {
      background-color: $zorroa-color-toggle-checked-yellow;
    }
  }

  &--round {
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }

  &--waiting {
    cursor: wait;
  }

  &--disabled {
    cursor: not-allowed;
    background-color: $zorroa-color-toggle-disabled!important;

    &::before {
      background-color: $zorroa-color-toggle-disabled!important;
    }

    .dark & {
      background-color: $zorroa-dark-color-toggle-disabled!important;
      &::before {
        background-color: $zorroa-dark-color-toggle-disabled!important;
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 11px;
    left: 0;
    bottom: -3px;
    background-color: $zorroa-color-toggle-unchecked;
    box-shadow: 0px 0px 0px 1px white;
    -webkit-transition: $animation-duration;
    transition: $animation-duration;
    border-radius: 5px;
    transform: translateX(18px);

    .dark & {
      box-shadow: 0px 0px 0px 1px $zorroa-nearblack;
    }

    :checked + & {
      background-color: $zorroa-color-toggle-checked;

      .Toggle--yellow & {
        background-color: $zorroa-color-toggle-checked-yellow;
      }
    }
  }
}
