@import '../../styles/core-mixins';

.ProgressBar {
  @include flexOn;
  @include flexRow;
  @include flexAlignItemsCenter;
  height: 8px;
  background-color: $zorroa-darkgray;

  &.indeterminate {
    opacity: 0.75;
    background: repeating-linear-gradient(-45deg,#777,#777 10px,#888 10px,#888 20px);
    background-size: 28px 28px;
    -webkit-animation: slide 20s infinite linear forwards;
    -moz-animation: slide 20s infinite linear forwards;
    animation: slide 20s infinite linear forwards;
  }
}

@-webkit-keyframes slide {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}

@-moz-keyframes slide {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}

@keyframes slide {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}

.ProgressBar-pct {
  @include fullHeight;
  border-radius: 2.5px;
  &.squared { border-radius: 0; }
  opacity: 0.5;
}

.ProgressBar-progress {
  background-color: cornflowerblue;
}

.ProgressBar-errors {
  background-color: $zorroa-faded-red;
}

.ProgressBar-warnings {
  background-color: $zorroa-golden-yellow;
}

.ProgressBar-pending {
  background-color: $zorroa-gray;
}
