@import '../../../styles/core-mixins.scss';

.ChangePassword {
  background-color: #fff;
  width: 300px;
  border-radius: 3px;

  &.fullscreen {
    @include flexColCenter;
    width: 100vw;
    height: 100vh;
    background-color: $zorroa-nearwhite;
  }
}

.ChangePassword-header {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include fullWidth;

  overflow: hidden;

  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: 500;
  min-height: 40px;
  max-height: 40px;

  span {
    margin: 12px 0px 12px 0px;

    &:hover {
      color: $zorroa-sickly-green;
    }
  }

  label {
    margin-right: 10px;
  }

  .ChangePassword-settings {
    @include zorroa-square-icon(40px);
  }

  .ChangePassword-title {
    @include flexShrinkOnly;
    @include clampText;
    text-transform: uppercase;
    text-overflow: ellipsis;
  }

  .ChangePassword-close {
    @include zorroa-square-btn-lighten(40px);
  }
}

.ChangePassword-body {
  padding: 40px;
  @include flexColCenter;


  .ChangePassword.fullscreen & {
    @include flexColCenter;
    padding: 50px;
    border-radius: 3px;
    box-shadow: 0px 24px 20px -20px #BBB;
    background-color: white;
  }

}
