@import '../../../styles/core-mixins.scss';

.ChangePassword {
  //@include flexColCenter;
  background-color: #fff;
  width: 300px;
  //justify-content: space-between;
  border-radius: 3px;
}

.ChangePassword-header {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include fullWidth;

  overflow: hidden;

  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: 500;
  min-height: 40px;
  max-height: 40px;

  span {
    margin: 12px 0px 12px 0px;

    &:hover {
      color: $zorroa-sickly-green;
    }
  }

  label {
    margin-right: 10px;
  }

  .ChangePassword-settings {
    @include zorroa-square-icon(40px);
  }

  .ChangePassword-title {
    @include flexShrinkOnly;
    @include clampText;
    text-transform: uppercase;
    text-overflow: ellipsis;
  }

  .ChangePassword-close {
    @include zorroa-square-btn-lighten(40px);
  }
}

.ChangePassword-body {
  padding: 40px;
  @include flexColCenter;
}
