@import '../../styles/core-mixins.scss';

.Controlbar {
  position: absolute;
  bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px 4px rgba(0,0,0,0.25);
  color: white;
  background-color: rgba(0,0,0,0.75);
  padding: 10px 0;

  width: auto;

  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;

  button:disabled {
    color: $zorroa-darkgray;
    &:hover {
      color: $zorroa-darkgray;
    }
  }

  [class*='icon-'] {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    &:hover {
      color: $zorroa-sickly-green
    }
  }
}

.Controlbar-title {
  @include nowrap;
  @include flexRowCenter;
}

.Controlbar-separator {
  width: 2px;
  height: 24px;
  background-color: $zorroa-darkgray;
}

.Controlbar-section {
  @include flexRowCenter;
}
