@import '../../styles/core-mixins.scss';

$film-strip-grabber-height: $zorroa-metric-base * 3;

.FlipbookViewer {
  height: 100%;
  width: 100%;
  @include flexCol;
  @include flexAlignItemsCenter;
  @include fullWidth;
  @include fullHeight;
  @include flexOn;

  &__media {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__loading-status {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__pan-zoom {
    @include flexCol;
    @include flexOn;
    @include fullWidth;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    flex-shrink: 1;
  }

  &__resizer {
    width: 100%;
    height: $film-strip-grabber-height;
    display: block;
    cursor: row-resize;
    position: relative;
    top: $film-strip-grabber-height / 2;
    z-index: 1;
  }
}
