@import '../../styles/core-mixins.scss';

.Video {
  @include flexCol;
  @include flexAlignItemsCenter;
  @include fullWidth;
  @include fullHeight;
  color: white;
  background-color: black;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  // This is the native video element that React-player creates
  video {
    object-fit: contain; // needed for Firefox when window is narrower aspect than video
    object-position: center center; // needed for Chrome when window is narrower aspect than video
  }

  .PanZoom-controls {
    position: fixed;    // avoid overflow:hidden on Video-pan-zoom
    left: 200px;        // Next to the time display
    margin-left: 0;
    margin-right: 0;
  }

  .Video-pan-zoom {
    @include flexCol;
    @include flexOn;
    @include fullWidth;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }

  .Video-player {
    @include flexColCenter;
    @include flexOn;
    @include fullWidth;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
  }

  .Video-progress-bar {
    @include fullWidth;
    @include flexOff;
    @include flexRowCenter;

    position: relative;
    top: 0;
    left: 0;
    height: 16px;

    .Video-scrub {
      @include fullWidth;
      z-index: 10;
      position: relative;
    }

    input[type=range] {
      -webkit-appearance: none;
      height: 4px;
      background-color: rgba(64,64,64,0.05);
    }

    input.Video-scrub[type=range] {
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 8px;
        width: 8px;
        border-radius: 25%;
        background: $zorroa-nearwhite;
        margin-top: 4px;
      }

      &::-moz-range-thumb {
        -webkit-appearance: none;
        border: none;
        height: 8px;
        width: 8px;
        border-radius: 25%;
        background: $zorroa-nearwhite;
        // margin-top: -4px;
      }
    }

    progress[value] {
      @include fullWidth;
      -webkit-appearance: none;
      height: 4px;
      background: none;
    }

    progress[value]::-webkit-progress-bar {
      background-color: transparent;
    }

    .Video-progress-progress {
      @include fullWidth;
      height: 4px;

      position: absolute;
      left:0;
      top: 6px; // .Video-progress-bar.height - 0.5 * .Video-progress-progress.height
    }
  }

  .Video-control-bar {
    @include fullWidth;
    @include flexRow;
    @include flexJustifySpaceBetween;
    @include flexAlignItemsCenter;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.25);
    border-radius: 3px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    background: none;

    .Video-time {
      padding-left: 10px;
      width: 291px;         // match volume width to center controls
      font-size: 18px;
      color: $zorroa-gray;

      .Video-duration {
        font-size: 16px;
        padding: 8px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
      }

      .Video-remaining {
        @extend .Video-duration;
        color: $zorroa-lightgray;
      }
    }

  &.ProgressBar {
    @include fullWidth;
  }
}

  .Video-controls {
    @include flexRow;
    @include flexJustifyCenter;
    @include flexAlignItemsCenter;
    margin-bottom: 5px;
    color: $zorroa-slategray;

    div {
      text-align: center;
      font-size: 30px;
      margin-left: 14px;
      margin-right: 14px;

      &:hover {
        color: $zorroa-sickly-green;
      }
    }

    .Video-play {
      color: white;
      border-radius: 3px;
      background: $zorroa-sickly-green;
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 5px;
      padding-left: 22px;
      padding-right: 28px;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        color: $zorroa-slategray;
      }

      div:hover {
        color: $zorroa-slategray;
      }

      [class*="icon-"] {
        margin: 0;
        padding: 0;
        width: 18px;
        height: auto;
      }
    }
  }

  .Video-misc {
    @include flexRow;
    @include flexAlignItemsCenter;

    [class*="icon-"] {
      color: $zorroa-slategray;
      background: none;
      border: none;
      font-size: 30px;
    }

    .icon-volume-high {
      margin-right: 20px;
      margin-left: 10px;
    }

    .icon-expand {
      font-size: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }

    input[type=range] {
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        background: none;
      }
      &::-moz-range-thumb {
        -webkit-appearance: none;
        border: none;
        background: none;
      }
    }

    input {
      background: none;
      position: relative;
      height: 20px;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

.Video-volume {
  position: relative;
  @include flexRow;
  @include flexAlignItemsCenter;
}

.Video-volume-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
