@import '../../styles/core-mixins.scss';

.VolumeBar {
  @include flexRow;
  @include flexAlignItemsCenter;

  [class*="icon-"] {
    color: $zorroa-slategray;
    background: none;
    border: none;
    font-size: 30px;
  }

  .icon-volume-high {
    margin-left: 10px;
  }
}

.VolumeBar-input {
  background: none;
  position: relative;
  height: 20px;
  padding-left: 0;
  margin-left: 0;
}

.VolumeBar-volume {
  position: relative;
  @include flexRow;
  @include flexAlignItemsCenter;

  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    background: none;
  }
  input::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    background: none;
  }
}

.VolumeBar-volume-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
