@import '../../styles/core.scss';

.auth {
  background-color: #ededed;
  height: 100vh;
  width: 100vw;
}

.auth-box {
  background-color: #fff;
  padding: 50px;
  width: 400px;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0px 24px 20px -20px #BBB;
}

.auth-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  color: $zorroa-greyish-brown;
  font-size: 14px;
}

.auth-label {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.auth-password {
  letter-spacing: 4px;
}

.auth-logo {
}

.auth-forgot {
  display: inline-block;
  font-family: Roboto-Light, sans-serif;
  font-size: 14px;
  margin-top: 16px;
  color: $zorroa-greyish-brown;
  text-decoration: none;
}

.auth-button-primary {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-top: 24px;
  padding: 7pt 24px 7pt 24px;
  color: #fff;
  background-color: $zorroa-sickly-green;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
}

.auth-form {
  width: 100%;
}

.auth-field {
  width: 100%;
  margin: 4px;
}

.auth-message {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: $zorroa-greyish-brown;
  margin-top:60;
}

.auth-validation-error {
  font-size: 14px;
  color: $zorroa-faded-red;
}

.auth-error {
  font-size: 14px;
  color: $zorroa-faded-red;
  height: 3.5em;
  margin: 1em 0;
}

.auth-error-msg {
  text-align: center;
}

.signout-message {
  margin: 4em;
}
