@import '../../styles/core-mixins';

.auth {
  @include flexCenter;
  background-color: $zorroa-nearwhite;
  height: 100vh;
  width: 100vw;
}

.auth-box {
  @include flexColCenter;
  background-color: #fff;
  padding: 50px;
  width: 400px;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0px 24px 20px -20px #BBB;
}

.auth-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  color: $zorroa-greyish-brown;
  font-size: 14px;
}

.auth-label {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.auth-password {
  letter-spacing: 4px;
}

.auth-logo {
  @include flexCenter;
}

.auth-forgot {
  display: inline-block;
  font-family: Roboto-Light, sans-serif;
  font-size: 12px;
  margin-top: 16px;
  color: $zorroa-lightgray;
  text-decoration: none;
  &:hover { color: $zorroa-sickly-green; }
}

.auth-button-primary {
  font-size: 14px;
  margin-top: 24px;
  padding: 7pt 24px 7pt 24px;
  color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: $zorroa-sickly-green;
  text-transform: uppercase;
  &.disabled { background-color: $zorroa-lightgray; }
  &:hover:not(.disabled) { background-color: $zorroa-hover-green; }
  &:active:not(.disabled) { background-color: $zorroa-navy-blue; }
}

.auth-form {
  @include flexColCenter;
  @include flexJustifySpaceBetween;
  width: 100%;
}

.auth-field {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

.auth-message {
  font-size: 14px;
  color: $zorroa-greyish-brown;
  margin-top: 60px;
}

.auth-validation-error {
  font-size: 14px;
  color: $zorroa-faded-red;
}

.auth-error {
  font-size: 14px;
  color: $zorroa-faded-red;
  height: 3.5em;
  margin: 1em 0;
  padding: 3px 0;
  border-radius: 3px;

  &.changed {
    background-color: #fdae75;
    transition: background-color 0s;
  }

  background-color: rgba(#ffffff, 0);
  transition: background-color 0.5s ease-out;
}

.auth-error-msg {
  text-align: center;
}

.signout-message {
  margin: 4em;
}

.auth-forgot-label {
  color: $zorroa-gray;
  margin-top: 50px;
  margin-bottom: 30px;
}

.auth-host {
  @include flexRowCenter;
  @include fullWidth;
  margin-left: -8px;
}

.auth-eula {
  @include flexRowCenter;
  font-size: 12px;
  color: $zorroa-lightgray;
}

.auth-eula-label {
  @include flexRowCenter;
  @include nowrap;

  a {
    padding-left: 4px;
    color: $zorroa-lightgray;
  }
}
