@import '../../styles/core-mixins.scss';

.Expando {
  @include flexCol;
}

.Expando-header {
  @include fullWidth;
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;
  min-height: 40px;
  background-color: $zorroa-nearwhite;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Expando-body {
  @include flexRow;
  @include flexWrap;
  max-height: 240px;
  overflow-y: auto;
}

.Expando-item-script-info {
  @include flexRow;
  @include flexAlignItemsCenter;
  margin-right: 20px;
}

.Expando-item-script-info-label {
  text-transform: capitalize;
  @include nowrap;
  color: $zorroa-gray;
  margin-right: 8px;
}

.Expando-item-script-info-state {
  text-transform: uppercase;
  color: $zorroa-lightgray;
  width: 30px;
  margin-left: 8px;
  @include noSelect;
  cursor: pointer;
  &.showInfo {
    color: $zorroa-hover;
  }
}

.Expando-item {
  @include flexCol;
  width: 240px;
  text-transform: none;
  border-radius: 3px;
  border: 1px solid $zorroa-nearwhite;

  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 4px;

  &.isSelected {
    border: 1px solid $zorroa-hover;
  }
}

.Expando-item-header {
  @include flexRow;
  @include flexAlignItemsCenter;
  @include flexJustifySpaceBetween;

  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  color: $zorroa-gray;
  background-color: $zorroa-nearwhite;

  .isSelected & {
    background-color: $zorroa-hover;
    &:not(.showInfo) {
      &:hover {
        color: $zorroa-gray;
        background-color: $zorroa-hover;
      }
    }
  }

  .icon-script {
    font-size: 24px;
    color: $zorroa-gray;
  }

  .icon-help {
    font-size: 10px;
    color: $zorroa-gray;
  }

  &:not(.showInfo) {
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $zorroa-sickly-green;
    }
  }
}

.Expando-item-title {
  @include flexRow;
  @include flexAlignItemsCenter;
}

.Expando-item-body {
  padding: 10px;
  max-height: 30vh;
  overflow-y: auto;
  display: none;

  &.showInfo {
    @include flexCol;
    @include flexJustifySpaceBetween;
  }
}

.Expando-item-name {
  font-size: 14px;
  margin-left: 8px;
}

.Expando-item-info {
  color: $zorroa-lightgray;
  font-size: 11px;
  min-height: 4em;
  max-height: 4em;
  overflow-y: auto;
}

.Expando-item-select {
  @include flexOff;
  align-self: center;
  color: $zorroa-gray;
  background-color: $zorroa-nearwhite;
  margin-top: 30px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 3px;

  &:hover:not(.isSelected ) {
    color: white;
    background-color: $zorroa-sickly-green;
  }

  .isSelected & {
    background-color: transparent;
    color: $zorroa-lightgray;

    &:hover {
      color: $zorroa-lightgray;
      background-color: transparent;
    }
  }
}
