@import '../../styles/core-mixins.scss';

.ProgressCircle {
  .background {
    fill: none;
    stroke: $zorroa-gray;
  }

  .foreground {
    fill: none;
    transition: stroke-dashoffset .15s ease-in-out;
    stroke: $zorroa-nearwhite;
  }

  .text {
    font-size: 18px;
    fill: $zorroa-color-white;
    text-shadow: 1px 1px 1px $zorroa-color-black;
  }
}
