@import '../../styles/core-mixins';

.Developer {
  @include flexCol;
  max-height: 80vh;
}

.Developer-title {
  @include fullWidth;
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  min-height: 40px;
}

.Developer-title-text {
  font-size: 18px;
}

.Developer-title-icon {
  font-size: 24px;
  margin: 8px;
}

.Developer-title-close {
  @include zorroa-square-btn-lighten(40px);
}

.Developer-query {
  @include flexCol;
  padding: 10px;
}

.Developer-query-title {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
  background-color: $zorroa-nearwhite;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 8px;
}

.Developer-query-copy {
  border-radius: 3px;
  color: white;
  background-color: $zorroa-lightgray;
  padding: 4px 8px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  &:hover { background-color: $zorroa-sickly-green}
}

.Developer-query-copying {
  @include nowrap;
  color: $zorroa-gray;
  position: absolute;
  left: -160px;
  bottom: 4px;
  text-transform: capitalize;
}

.Developer-query-body {
  max-height: 300px;
  overflow: auto;
  padding: 8px;
  border: 1px solid $zorroa-nearwhite;
}

.Developer-assets {
  @include flexCol;
  padding: 10px;
}

.Developer-assets-title {
  @include flexRow;
  @include flexJustifySpaceBetween;
  @include flexAlignItemsCenter;
  background-color: $zorroa-nearwhite;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 8px;
}

.Developer-assets-copy {
  border-radius: 3px;
  color: white;
  background-color: $zorroa-lightgray;
  padding: 4px 8px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  &:hover { background-color: $zorroa-sickly-green}
}

.Developer-assets-copying {
  @include nowrap;
  color: $zorroa-gray;
  position: absolute;
  left: -160px;
  bottom: 4px;
  text-transform: capitalize;
}

.Developer-assets-label {
  color: $zorroa-greyish-brown;
  font-weight: 400;
}

.Developer-assets-loading {
  @include fullWidth;
  align-content: center;
}

.Developer-assets-empty {
  @include flexRowCenter;
  @include fullWidth;
  color: $zorroa-lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Developer-assets-json {
  max-height: 400px;
  overflow: auto;
  padding: 8px;
  border: 1px solid $zorroa-nearwhite;
}

.Developer-controls {
  @include flexRowCenter;
  min-height: 50px;
}

.Developer-done {
  border-radius: 3px;
  margin: 10px;
  padding: 8px 20px;
  background-color: none;
  color: $zorroa-gray;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  &:hover { color: white; background-color: $zorroa-gray; }
}
